﻿<!-- Tab panes -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="outer-area">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                <div class="row deep-holder">
                    <div class="col s12 no-padding keto-group">
                        <div class="col l3  m12  s12 keto-group-users no-padding">
                            <div class="col s12 keto-group-users-holder no-padding">
                                <ul class="col s12 no-padding">
                                    <li class="col s12">
                                        <div class="col s12 search-user no-padding"><input type="text" value="" placeholder="search..." class="col s12 " /><button type="button"
                                                class="srch-btn"><i class="material-icons">search</i></button></div>
                                    </li>
                                    <li class="col s12 chat-active">
                                        <div class="col s2 keto-group-users-pro no-padding">
                                            <div class="col s12 hight-ctrl no-padding" data-height="100">
                                                <div class="col-all-12 img-adj">
                                                    <img src="WebappImages/no-img.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s8 time-name">
                                            <p class="col s12 no-padding keto-name">Amal n your site and learn how to style your icons using CSS.
                                            </p>
                                            <span class="last-seen">23:10</span>
                                            <p class="col s12 no-padding chat-sm-head">chat-sm-head ollow the instructions to embed the icon font in your site and learn
                                                how to style your icons using CSS.</p>
                                        </div>

                                        <div class="col s2 star-like"><i class="material-icons">favorite_border </i></div>
                                    </li>
                                    <li class="col s12 chat-active">
                                        <div class="col s2 keto-group-users-pro no-padding">
                                            <div class="col s12 hight-ctrl no-padding" data-height="100">
                                                <div class="col-all-12 img-adj">
                                                    <img src="WebappImages/no-img.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s8 time-name">
                                            <p class="col s12 no-padding keto-name">Amal n your site and learn how to style your icons using CSS.
                                            </p>
                                            <span class="last-seen">23:10</span>
                                            <p class="col s12 no-padding chat-sm-head">chat-sm-head ollow the instructions to embed the icon font in your site and learn
                                                how to style your icons using CSS.</p>
                                        </div>

                                        <div class="col s2 star-like"><i class="material-icons">favorite_border </i></div>
                                    </li>
                                </ul>


                            </div>
                            <div class="floating-btn"><a href="#" class="chatB"><i class="material-icons">chat_bubble_outline</i></a></div>
                        </div>
                        <div class="col l9 m9 s12  chat-platForm no-padding">
                            <div class="l12 n12 s12 no-padding chat-plat-top">
                                <div class="col l1 m2 s2">
                                    <div class="chat-plat-top-pro">
                                        <div class="col-all-12 img-adj">
                                            <img src="WebappImages/no-img.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col l10 m9 s9 chat-name-time ">
                                    <p class="col l12 m12 s12">Amal</p>
                                    <span class="col l12 m12 s12">Last seen : 12:00 pm</span>
                                </div>
                                <div class="col l1 m2 s2 chat-online-optopn ">
                                    <div class="col s12 no-padding">
                                        <div class="col s6 no-padding online-offline online"><i class="material-icons">fiber_manual_record</i></div>
                                        <div class="col s6 no-padding use-opt"><i class="material-icons">more_vert</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col l12 m12 s12 user-ctrl">
                                <ul class="col l12 m12 s12 no-padding">
                                    <li><i class="material-icons">star_border</i></li>
                                    <li><i class="material-icons">phone</i></li>
                                    <li><i class="material-icons">videocam</i></li>
                                    <li><i class="material-icons">volume_off</i></li>
                                    <li><i class="material-icons">info_outline</i></li>
                                </ul>
                            </div>
                            <div class="col l12 m12 s12 user-chat">
                                <div class="col l12 m12 s12 no-padding user-chat-all-holder">

                                    <div class="col l12 m12 s12 other-chat no-padding">
                                        <div class="col l1 m2 s2 no-padding">
                                            <div class="other-chat-pro">
                                                <div class="col-all-12 img-adj">
                                                    <img src="WebappImages/profile.jpg" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col other-chat-content">
                                            <span><i class="material-icons">play_arrow</i></span>
                                            <div class="col l12 m12 s12 no-padding">asd</div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12 s12 other-chat no-padding">
                                        <div class="col l1 m2 s2 no-padding">
                                            <div class="other-chat-pro">
                                                <div class="col-all-12 img-adj">
                                                    <img src="WebappImages/no-img.jpg" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col other-chat-content">
                                            <span><i class="material-icons">play_arrow</i></span>
                                            <div class="col l12 m12 s12 no-padding">asdStack Overflow is a community of 7.1 million programmers, just like you, helping
                                                each other. Join them; it only takes a minute: </div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12 s12 other-chat my-chat  no-padding">

                                        <div class="col other-chat-content">
                                            <div class="col l12 m12 s12 no-padding">asd</div>
                                        </div>

                                    </div>
                                    <div class="col l12 m12 s12 other-chat no-padding">
                                        <div class="col l1 m2 s2 no-padding">
                                            <div class="other-chat-pro">
                                                <div class="col-all-12 img-adj">
                                                    <img src="WebappImages/no-img.jpg" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col other-chat-content">
                                            <span><i class="material-icons">play_arrow</i></span>
                                            <div class="col l12 m12 s12 no-padding">asdStack Overflow is a community of 7.1 million programmers, just like you, helping
                                                each other. Join them; it only takes a minute: </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col l12 m12 s12 my-type-chat-ctrl">
                                <div class="col l10 m10 s10 my-type-chat-textarea no-padding">
                                    <textarea class="col l12 m12 s12" placeholder="Send a message…"></textarea>
                                </div>
                                <div class="col l2 m2 s2 my-type-chat-btn no-padding">
                                    <button class="col l12 m12 s12"><i class="material-icons">send</i></button>
                                </div>
                                <div class="col l12 m12 s12 my-type-chat-ico">
                                    <div class="col l3 m3 s3">
                                        <i class="material-icons">camera_alt</i>
                                    </div>
                                    <div class="col l3 m3 s3">
                                        <i class="material-icons">tag_faces</i>
                                    </div>

                                    <div class="col l3 m3 s3">
                                        <i class="material-icons">location_searching</i>
                                    </div>

                                    <div class="col l3 m3 s3">
                                        <i class="material-icons">camera_alt</i>
                                    </div>

                                </div>

                            </div>
                        </div>






                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="contact_with_icon_title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img"></div>
                        <span class="black-text Cname">Name : Amal</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr red lighten-1"></div><span class="status">Busy</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img"></div>
                        <span class="black-text Cname">Name : Shraddha</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr green accent-3"></div><span class="status">Available</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img blue darken-2"><span>B</span></div>
                        <span class="black-text Cname">Name : Basanth</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr red lighten-1"></div><span class="status">Busy</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img"></div>
                        <span class="black-text Cname">Name : Chirag</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr deep-orange darken-4"></div><span class="status">DND</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img blue darken-2"><span>S</span></div>
                        <span class="black-text Cname">Name : Sam</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr red lighten-1"></div><span class="status">Busy</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img"></div>
                        <span class="black-text Cname">Name : Ankita</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr green accent-3"></div><span class="status">Available</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img blue darken-2"><span>A</span></div>
                        <span class="black-text Cname">Name : Andy</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr grey darken-1"></div><span class="status">Not at work</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s12 Cprofile">
                        <div class="Pro-img blue darken-2"><span>S</span></div>
                        <span class="black-text Cname">Name : Simon</span>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr amber"></div><span class="status">Away</span>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                <b>Lorem ipsum 1</b>
                <p>
                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid pro. Et eos nusquam
                    accumsan, vide mentitum fabellas ne est, eu munere gubergren sadipscing mel.
                </p>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                <b>Lorem ipsum 2</b>
                <p>
                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid pro. Et eos nusquam
                    accumsan, vide mentitum fabellas ne est, eu munere gubergren sadipscing mel.
                </p>
            </div>
        </div>
    </div>
</div>