﻿<div>
   
    <section class="content">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right left">
                <div class="card tabbg">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs contact-tabicon" role="tablist">
                            <li role="presentation" class="active col-lg-3 col-md-3 col-sm-3 col-xs-3 tabW">
                                <a href="#home_with_icon_title" data-toggle="tab">
                                    <div class="chat-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Chats</span></div>
                                </a>
                            </li>
                            <li role="presentation" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tabW">
                                <a  ui-sref="profile.team.contacts" data-toggle="tab">
                                    <div class="contact-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Contacts</span></div>
                                </a>
                            </li>
                            <li role="presentation" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tabW">
                                <a href="#messages_with_icon_title" data-toggle="tab">
                                    <div class="disc-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Discussions</span></div>
                                </a>
                            </li>
                            <li role="presentation" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tabW">
                                <a href="#profile_with_icon_title" data-toggle="tab">
                                    <div class="profile-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Profile</span></div>
                                </a>
                            </li>
                        </ul>

                        <div ui-view style="overflow: hidden;" ng-class="blurClass"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
