.messageD {
    clear: both;
    float: left;
    /*padding: 6px 27px 7px;
    border-radius: 0px 10px 10px 10px;
    background: #5eb6f0;
    font-size: 15px;
    line-height: 1.4;*/
    margin: 8px 0px;
    
    margin-left: 45px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.message {
    clear: both;
    float: left;
    padding: 6px 27px 7px;
    border-radius: 0px 10px 10px 10px;
    background: #5eb6f0;
    font-size: 15px;
    line-height: 1.4;
    margin: 8px 0px; 
    margin-left: 45px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messageD .messageDiscussions {
    background: #00bbbd;
    border-radius: 0px 10px 10px 10px;
    padding: 8px;
}

.message-personal .messageDiscussions {
    background: white;
    border-radius: 10px 10px 0 10px;
    padding: 8px;
}


.avatar {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -42px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

.DntshowThisDateFormat {
    display: none;
}

.showThisDateFormat {
    display: block;
}

.messagehead {
    width: 35px;
    height: 35px;
    background: #0098f8;
    margin: 2% 1%;
    border-radius: 20px;
    padding-top: 0.6%;
    font-size: 20px;
    text-align: center;
}

.message-personal {
    clear: both;
    float: right;
    color: black;
    text-align: right;
    background: white;
    border-radius: 10px 10px 0 10px;
}

.message-personal
.messagehead {
    background: white;
    color: #0098f8;
}

.chip {
    float: left;
    padding: 1px 5px;
    margin: 1px;
    border: 1px solid #0e6dab;
    border-radius: 14px;
    font-size: 16px;
    color: #0e6dab;
}

.smallFormatcreateChat {
    position: fixed;
    right: 51%;
    bottom: 15px;
}

.largeFormatCreateChat {
    position: fixed;
    bottom: 25px;
    right: 20px
}

.createTeamBtn button,
.createTeamBtn button:active,
.createTeamBtn button:focus {
  background: transparent;
  color: white;
  background-color: : inherit;
  border: none;
}


.unreadChatClass {
    font-weight: bold;
}

.tooltip1 {
    position: relative;
    display: inline-block;
}


.tooltip1 .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 1px 3px;
    border-radius: 4px;
    position: absolute;
    font-size: 11px;
    min-width: 110px;
    top: -22px;
    
    z-index: 1;
}


 .tooltiptext{
    left: 30px;
 }

 .message-personal .tooltiptext{
    left: initial;
    right: 30px;
 }

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

.statusAvailable {
    background: #00dd8d;
}

.statusAway {
    background: #ffed85;
}

.statusBusy {
    background: #ff7d7b;
}

.statusDoNotDisturb {
    background: #ac5453;
}

.statusNotAtWork {
    background: #929292;
}
