.contactUsHeader {
  color: #444141;
  font-weight: bold;
  font-size: 48px;
  margin: 10px;
}

.contactUsHeader  p:nth-child(1) {
  margin: 0px;
}

.contactUsHeader  p:nth-child(2) {
  font-size: 12px;
}

.contactDomain {
  border: 1px solid #90caff;
  border-radius: 18px;
}

.contactDomain input{
  width: 100%;text-align: left;
}

.sendBtn {
  padding-top:20px;
  text-align: center;
}

.sendBtn button {
    width: 90%;
    background-color: #6ed7fb;
    height: 45px;
    color: white;
    font-size: 20px;
    border: 1px solid #90caff;
    border-radius: 18px;"
}

