.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html{
  position: relative;
  min-height: 100%;
  font-weight: 300;
}
.mbody {
  padding-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

.addHeaderActiveClass {
  background-color: rgba(0, 0, 0, 0.7);
}

.addHeaderActiveClassWhite {
  background-color: rgba(255, 255, 255, 0.9);
}

.addHeaderDeactiveClass {
  background: none
}

.blurmbody {
  filter: blur(5px);
}

input[type="text"].GettingStartedInputTxt {
  margin: 0px;
  border: none !important;
}

.GettingStartedInputTxt {
  min-height: 54px;
  padding: 2% 1%;
  border: 0px;
  font-size: 23px;
  color:#6ed7fb;
  border-radius: 18px;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  animation: 
    typing 5.5s steps(60, end),
    blink-caret .75s infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes blink{
  to{opacity: .0;}
}


.typewriting span {
  animation: blink 0.75s;
}

.modal{
  background: transparent;
  box-shadow: none;
}

.sbody {
  background: #1e639f !important;
  margin: 0px;
}

.prbody {
  background: white;
  margin: 0px;
  overflow: hidden;
}

 .footercontainer img{
        width: 35px; 
        margin: 4px;
  }
input:focus { 
    outline: none !important;
    border:0px;
        box-shadow: 0px;
}

div:focus { 
    outline: none !important;
    border:0px;
        box-shadow: 0px;
}

button:focus { 
    outline: none !important;
    box-shadow: 0px;
}

.nav {
  padding-top: 8px;
  color: white;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.footer {
      display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.indexPage .aStyles{
  padding:5px 30px;
  font-size: 22px;
}


@media only screen 
  and (min-width: 950px) 
  and (max-width: 1170px) {
   /* .navImage{
      display: none;
  }*/

  .indexPage .aStyles{
    padding:5px 22px;
  }
}

@media only screen 
  and (min-width: 950px) 
  and (max-width: 1051px) {
   /* .navImage{
      display: none;
  }*/

  .indexPage .aStyles{
    padding:5px 16px;
  }
}

.indexPage {
      color: black;
      text-align: center;
}


.menuMargin {
      margin-top: 30px;
}
.indexPage .mainClass{
  
  font-size: 15pt;
  color:white;
  padding-bottom: 0.5%;
  border:none;
}
.indexPage .keito{
  margin-left: 50px;
  text-align: left;
}

.indexPage .signIn{
  border:1px solid white;
  padding:11px 5px;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: -6px;
}

.navPageCol .signIn{
  border:1px solid black;
  padding:6px 5px 6px 5px;
  margin-left: 25px;
}


#burger{
  border:none;
}

.navbar-default .navbar-nav>li>.signIn:hover{
  border:2px solid white;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #01579b;
}
.navPageCol .navbar-default .navbar-nav>li>a{
  color: black;
}

.prodPage .navbar-default .navbar-nav>li>a{
  color: white;
}

.indPage .navbar-default .navbar-nav>li>a{
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #01579b;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 50px; */
  /*background-color: #5f5e5f;*/
  text-align: center;
  margin-top: 35px
}

.footercontainer{
  margin-top: 3px;
  color: #fff;
  width: 100%;
}

.check {
      background-color: rgba(255,255,255,0.3);
    padding-top: 25px;
}

.email {
  color: black;
  height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.checkButton {
    background-color: transparent;
    border: 1px solid;
    height: 33px;
        margin-left: 25px;
    margin-top: 1px;
}

.supPage {
  padding-bottom: 30px;
  background: url('../images/support.jpg')  no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}



.contactInpts{
  width: 15vw;
    height: 35px;
    color: #676060;
    font-size: 18px;
    border-radius: 16px;
    background-color: white;
    border: 0px;
}



.imagesfooter {
  text-align: center;
}

.imagesfooter img{
  margin: 0px 10px;
  width: 8%;
  vertical-align: -webkit-baseline-middle;
}

.footerClr {
  background-color: #1497ec !important;
}



/*profile */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: transparent;
    border: 0px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
    font-weight: bold;
}

.nav-tabs>li>a:hover {
    color: #337ab7;
    background: white;
}

.nav-tabs>li>a {
    color: #e5e9ea
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 20px;
    }
     .toggle.ios .toggle-handle {
        border-radius: 20px;
    }

.toggle-on {
  font-size: 20px;
}
.toggle-off {
  font-size: 20px;
}

.btn-success {
  background: #00fa9d
}

.btn-danger , .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
  background: #ff7d7b
}

.toggle-off.btn {
      padding-top: 3px;
    padding-left: 18px;
}

.toggle-on.btn {
  padding-top: 3px;
  padding-left: 4px;
}

a {
  text-decoration: none;
}



.navbar-fixed-left {
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; 
}

.navbar-fixed-left + .container {
  padding-left: 10px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.profilenav>.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.profilenav>.nav>.statusStyle>a:focus, .profilenav>.nav>.statusStyle>a:hover {
    text-decoration: none;
    background-color: #0098f8;
    font-weight: bold;
}

.contactInpts:focus {
  outline: none;
}

.full-slider{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.carousel-inner>.item {
  height: 100%;
}



.carousel-inner>.item>img {
  width: 100%;
  height: 100%;
}
.carousel{
  height: 100%
}

.carousel-caption {
  top: 15%;
  left: 0px;
  right: 0px;
}

.carousel-indicators {
        bottom: 45%;
    }



@media screen and (min-width: 991px) {
  @media only screen and (max-width: 1120px)
    {
    .carousel-indicators {
        bottom: 50%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .carousel-indicators {
      bottom:  60%;
  }
}

@media only screen and (min-width:780px) and (min-height:550px){
  @media only screen and (max-width: 1020px)
    {
    .carousel-indicators {
        bottom: 47%;
    }
  }
  
}

.arrow_box {
  position: relative;
  background: #88b7d5;
  margin-right: 13%;
}
.arrow_box:after {
  left: 99.5%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: inherit;
  border-width: 20px;
  margin-top: -20px;
}



/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  position: relative;
  height: auto;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}


.tri-right.right-top:before {
      content: ' ';
    transform: rotate(6deg);
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    left: -13px;
    top: 5px;
    border: 24px solid;
    border-color: inherit;
}


.loader {
    position: absolute;
    top: 38%;
    left: 44%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.overlay {
    background: rgba(233, 233, 233,0.4);
    /*
    display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#dot {
  background:  #54B4F5;
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  left: 27px;
  transform-origin: center bottom;
  animation: dot .6s ease-in-out infinite;
}
@-webkit-keyframes dot {
 0% { transform: scale(1,.7) }
 20% { transform: scale(.7,1.2) }
 40% { transform: scale(1,1)} 
 50% { bottom: 100px;} 
 46% { transform: scale(1,1)} 
 80% { transform: scale(.7,1.2) } 
 90% { transform: scale(.7,1.2) } 
 100% { transform: scale(1,.7) }
}
.step {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #54b4f5;
  text-align: center;
  border-top: 2px solid  #54B4F5;
  top: 0;
  right:0;
  white-space: nowrap;
}
@-webkit-keyframes anim { 
  0% { 
    opacity: 0;
    top: 0; 
    right: 0; 
  }
  50% { opacity: 1; }
  100% { 
    top: 90px; 
    right: 90px;
    opacity: 0;
  }
}
#s1 { animation: anim 1.8s linear infinite; }
#s2 { animation: anim 1.8s linear infinite -.6s; }
#s3 { animation: anim 1.8s linear infinite -1.2s; }


#containerLoader {
  margin: -45px -60px;
  width: 120px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
}



.dropdown-content {
    display: none;
    position: absolute;
    bottom: 33px;
    right: 8px;
    background-color: #0a5e97;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color:white;
    font-size: 16px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover {background-color: #0a5e97}

.dropdown:hover .dropdown-content {
    display: block;
}

/*---585720_START---*/
.logo img{
  width: 60px;
}
#burger .nav{
  float: right;
}
.footercontainer{
  padding:0px 15px;
  background-color:#0a5e97;
      margin: 0px;
}
.footercontainer > div {
    display: inline-block;
    line-height: 35px;
    float: left;
    margin-left: 30px;
}
.footercontainer > div:first-child{
  margin-left:0;
}
.footer-links {
  margin: 0px;
  margin-top: 1%;
}
.footer-links div{
  display: inline-block;
  padding: 4px 10px;
  line-height: 30px;
  position: relative;
}
.footer-links div:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 1px;
    background: #fff;
    left: 0;
    top: 11px;
}
.footer-links > div:first-child:before{
  display: none;
}
.footercontainer > div.imagesfooter{
  float: right;
}
.imagesfooter img{
  width: 22px;
}
@media only screen and (max-width:991px){
  .navbar-nav li a.aStyles {
    /* font-size: 14px; */
    padding-left: 11px;
    padding-right: 11px;
}
 .footer-links > div{
   margin: 5px 0 0 0;
   line-height: 28px;
  padding: 0px 2px 0px 6px;
 }
 .footer-links div:before {
    top: 6px;
}
 .footercontainer img{
   width: 34px
 }
 .imagesfooter img {
    margin: 4px;
    width: 20px;
 }
}
@media only screen and (max-width:767px){
  .footercontainer img{
    width: 30px
   }
 .imagesfooter img {
    margin: 0px 6px;
    width: 20px;
 }
 #burger{
  padding: 0;
 }
 #burger .nav.navbar-nav{
    clear: both;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
 }
 #burger .nav.navbar-nav .aStyles.signIn, .navbar-default .navbar-nav>li>.signIn:hover{
  margin: 0;
  border: 0 none;
 }
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: transparent;
 }
 .navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f5f5;
  }
}

@media only screen and (max-width:991px){
  .footer {
    visibility: hidden;
  }

  
}

.gettingStart {
  margin-top: 34%;
}

@media only screen and (max-width:780px) and (max-height:600px){
  .gettingStart {
    margin-top: 85%;
  }
}

@media only screen and (max-width:780px) and (max-width:767px){
  .indexPage .keito {
    text-align: right;
    margin-right: 2%;
  }
}

@media only screen and (max-width:990px) and (max-height:1024px){
  .gettingStart {
    margin-top: 53%;
  }
}

@media only screen and (max-width:650px) and (max-height:1024px){
  .gettingStart {
    margin-top: 65%;
  }
}

@media only screen and (max-width:550px) and (max-height:1024px){
  .gettingStart {
    margin-top: 75%;
  }
}

@media only screen and (max-width:450px) and (max-height:1024px){
  .gettingStart {
    margin-top: 90%;
  }
}

@media only screen and (max-width:780px) and (max-height:375px){
  .gettingStart {
    margin-top: 32%;
  }
}

.animate-hide {
  animation-name: example;
  animation-duration: 4s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
  position: absolute;
  right: 0;
}

.animate-hide.ng-hide {
  left: 0;
  opacity:0;
  padding:0 10px;
}

@keyframes example {
    from {right: 0;}
    to {left: 0;}
}

.animate {
  background-color: #c00;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  position: absolute;
  right: 0;
  min-height: 54px;
  background-color:#6ed7fb;
  font-size: 23px;
  padding: 2% 0;
  color:white;
  border: 0px;
  border-radius: 18px;
}

.animate.move {
  right: 100%;
  margin-right: -44%; /*.animate width*/
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}


.teamDescription {
  min-height: 210px;
}

.teamDiv{
  min-height: 165px;
  width: 100%;border-radius: 15px;
}

.teammemberName{
  margin-top: -4%;
}

.teamSocialNw {
  background: #11649b;
  border-radius: 30px;
  text-align: center;
  padding: 2% 0%;
  margin-left: 2%;

}
.teamBox {
  margin:4% 0% 4% 8%;
}
@media only screen and  (min-height:768px) and (max-width:992px) {
  .teamDescription {
    min-height: 200px;
  }

  .teamDiv{
    min-height: 275px;
    width: 95%;
  }
}

@media only screen and (max-width:768px) {
  .teamDescription {
    min-height: 200px;
  }

  .teamSocialNw {
    margin: 0% 3% 2% 3%;
  }

  .teamDiv{
    min-height: 275px;
    width: 95%; 
  }

  .teammemberName{
     margin-top: 20%;
  }

  .teamBox {
    margin:4%;
  }
  .firstMember {
    margin-bottom: 4%;
  }

  .animate {
    right: 16px;
  }
}

@media only screen and (max-width:420px) {
  .animate.move {
   right: 100%;
   margin-right: -44%; /*.animate width*/
  }
}


@media only screen and (max-width:620px) {
  .animate {
    padding: 0px;
    font-size: 13px;
  }

  .GettingStartedInputTxt {
    font-size: 13px;
  }
}

@media only screen and (max-width:1216px) and (min-width: 620px) {
  .animate {
    padding: 0px;
    font-size: 16px;
    right: 16px;
  }

  .GettingStartedInputTxt {
    font-size: 16px;
  }
}

.footerBackBtn {
  width: 3%;
  margin-right: 2%;
}

@media only screen and (max-width:665px)  {
  .footerBackBtn {
    width: 5%;
  }
}

.contactNotAccepted {
  background: rgba(255, 0, 0, 0.68);
  opacity: 0.8;
}






    


