

.modal-backdrop.in {
  background: rgba(255, 255, 255,0.6);
}


.modal {
  top:20%;
}

.modal-content {
   border-radius: 0px;

}

.modal-header {
  border: 0px;
  padding: 10px 0px 0px 0px;
}

.modal-footer {
  border: 0px;
  text-align: center;
}
.modalInput input{
      width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 2% 6%;
    border-bottom: 2px solid #87b8de;
}

.modalInput select{
    width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 0% 6%;
    border-radius: 0px;
    border-bottom: 2px solid #87b8de;
}

.modalInput select:focus {
    width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 0% 6%;
    border-radius: 0px;
    border-bottom: 2px solid #87b8de;
    box-shadow: none;
}

.modalInput select:hover {
    width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 0% 6%;
    border-radius: 0px;
    border-bottom: 2px solid #87b8de;
    box-shadow: none;
}

.modalInput option:hover {
    width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 0% 6%;
    border-radius: 0px;
    border-bottom: 2px solid #87b8de;
    box-shadow: none;
}
.modalInput option:focus {
    width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 0% 6%;
    border-radius: 0px;
    border-bottom: 2px solid #87b8de;
    box-shadow: none;
}

.modalInput input:focus {
      width: 88%;
    height: 35px;
    color: #676060;
    font-size: 18px;
    background-color: white;
    border: 0px;
    margin: 2% 6%;
    border-bottom: 2px solid #87b8de;
}

.modal  .btn {
  width: 100%;
  font-size: 20px;
  color: white;
  background: #6ed7fb;
}

.modal  .btn:hover {
  width: 100%;
  font-size: 20px;
  color: white;
  background: #6ed7fb;
}