/* SQUARED FOUR */
.squaredFour {
  width: 20px;  
  margin: 20px auto;
  position: relative;
}

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 4px;
  background:white;
}

.squaredFour label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 5px;
  background: transparent;
  border: 3px solid black;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.statusStyle {
  font-weight: bold;
  background-color: #0098f8;
}

.statusStyleTeam {
  font-weight: bold;
  background-color: transparent;
}

.statusStyleTeam {
  font-weight: bold;
  background-color: transparent;
}

.statusStyleTeam a:focus ,.statusStyleTeam a:hover{
  font-weight: bold;
  background-color: transparent;
}

.statusStyleTeam a{
  background:transparent;
}