.pricingHeader {
  color: #444141;
  font-weight: bolder;
  font-size: 48px;
  margin: 10px
}

.pricingHeader p {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>.pricingColor {
  color: #f7a716;
}

.indPage .navbar-default .navbar-nav>li>.pricingColor {
   color: #f7a716;
}

.prodPage .navbar-default .navbar-nav>li>.pricingColor {
   color: #f7a716;
}

.navPageCol .navbar-default .navbar-nav>li>.pricingColor {
   color: #f7a716;
}
 
 .titlesPadding{
    padding-left:6%;
  }

@media only screen 
  and (min-width: 950px) 
  and (max-width: 1140px) {
   /* .navImage{
      display: none;
  }*/

    .titlesPadding{
    padding-left:2%;
  }
}


.priceValOtr {
  margin: 5px;
  min-height: 115px;
  margin-top: 0px;
  text-align: left;
  border-radius: 14px;
 }

.pricingType {
  padding-top: 12px;
}

.pricingType span {
  font-weight: bold;
  font-size: 19px;
}

.pricingType p{
  font-size: 13px
}

.priceVal {
  text-align: center;
  padding-top: 10px;
}

.priceValue {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  padding: 4px 0px;
  border-radius: 19px;
}

.pricePerUser {
  margin: 0px;
  font-size: 11px;
}

.priceDetails {
  margin: 3px;
  padding-top: 20px;
  font-size: 18px;
  text-align: left;
  padding-left: 12px;
  border-radius: 14px;
}

.priceBtn {
  border-radius: 15px;
  margin: 4px;
  text-align: left;
  height: 49px;
  text-align: center;
  font-size: 21px;
  padding-top: 8px;
  font-weight: bold;
}

.priceTypeHeader {
  margin: 3px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 12px;
  text-align: left;
 }

 .priceTypeVal {
  margin: 3px;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  padding-left: 12px;
 }

 .pricingActive {
  border: 2px solid #90caff;
}

.pricingActiveclr {
  background: #6ed7fb;
  color: white;
}

.pricingDeactive {
  border: 2px solid #d1d1d1;
}

.pricingDeactiveclr {
  background: #d1d1d1;
  color: black;
}

.pricingDeactive .pricingDiv {
 color: gray;
}

.actvPriceBtn {
  background-color: #a6ddff;
}

.dactvPriceBtn {
  background: #d1d1d1
}

.txtclr {
  color: #1697ec;
}

.pricingDiv {
  min-height:50px;
  line-height: 20px;
}
.pricingDivHeader {
  font-weight: bold;
  font-size: 19px;
}

.singlePlatform {
  min-height:75px; 
}

@media only screen 
  and (min-width: 465px) 
  and (max-width: 592px) {
   /* .navImage{
      display: none;
  }*/

  .pricingDiv {
    min-height:60px;
  }

  .singlePlatform {
    min-height:95px;
  }
}

.pricingFeatures {
  font-size: 17px;
  padding:0px; 
}

.pricingFeatures >img {
  width: 50%;
  margin-bottom: 7%;
}

.pricingFeaturesHeader {
  font-size: 48px;
  font-weight: bold;
}

@media only screen 
  and (max-width: 480px) {
   .pricingFeatures {
    font-size: 14px;
  }
}


@media only screen 
  and (min-width: 768px)
  and (max-width: 992px) {

  .pricingFeaturesHeader {
    font-size: 38px;
  }
}



@media only screen 
  and (max-width: 768px)
  and (min-width: 562px) {
  .pricingFeaturesHeader {
    font-size: 28px;
  }

}

@media only screen 
  and (max-width: 562px) {
  .pricingFeaturesHeader {
    font-size: 18px;
  }
}

