.prodPage {
  padding-bottom: 30px;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/Product-Page.png')  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0px;
}

.indPage {
  background: url('../images/industries.jpg')  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

.watchTourBtn{
    height: 45px;
    color: white;
    font-size: 20px;
    border-radius: 16px;
    background-color: #6ed7fb;
    border: 0px;
}

.prodOffers {
    
    margin: 3px 3px 3px 32px;
    text-align: left;
    padding-left: 3px;
    padding-top: 5px;
    cursor: pointer;
    
}

.divActive {
  border-radius: 14px;
  border: 2px solid #0a5e97;
}

.prodHeader {
  color: #444141;
  font-weight: bold;
  font-size: 52px;
}

.prodHeaderTxt {
  font-size: 20px;
  font-weight: 300;
  padding: 0px;
  color: rgba(128, 128, 128, 0.9);
  margin: 0 2%;
}

.divActive span {
  color: #0a5e97;
}

.ofrHeader {
  font-weight: bolder;
  font-size: 21px;
  margin: 0px 0px 2px 0px;
}


.ofrText {
  word-wrap: break-word;
  font-size: 14px;
  color: #b3b0b0 ;
} 
.divActive .ofrText {
  word-wrap: break-word;
  font-size: 15px;
  color: #5f5c5c;
}

.ofrTextOffering {
  word-wrap: break-word;
  font-size: 14px;
  color: #f5f5f5 ;
} 

.ourProdOffers{
    margin: 3px 3px 4px 32px;
    text-align: center;
    padding-left: 3px;
    padding-top: 5px;
    border-radius: 14px;
    cursor: pointer;
}

.ourProdOffers img {
  width: 13%;
}

.ourOfrHeader {
  font-weight: bolder;
  margin: 0px 0px 4px 0px;
  padding-top: 3%;
  font-size: 16px;
  color: grey;
}

.ourProdOffers:hover .ourOfrHeader {
    color: #0a5e97;
}

.ourProdOffers:hover .ofrTextOffering {
    color: black;
}



.everyWhere {
  background-color: #0a5e97;
  color: white;
  margin-top: 10px;
  padding-top: 2%;
}

.everyWhere  p {
  font-size: 52px;
  font-weight: bold;
}

.everyWhere .ofrText {
  font-size: 16px;
  font-weight: 300;
}

.synchronize {
  padding: 19px;
}

.synchronize p{
  font-size: 22px;
  font-weight: 200;
}

.github {
  text-align: right;
}

.github img {
  width:55%;
}

.gCloud img {
  width:45%
}

.native {
  text-align: left;
}

.native  p:nth-child(1) {
  font-size: 55px;
  font-weight: bold;
  margin: 0px;
  margin-left: -7px
}

.native  p:nth-child(2) {
  font-size: 18px;
  font-weight: normal;
}

.ourOfferings {
  color: #444141;font-weight: bolder;font-size: 48px;margin: 10px
}

.ourOfferings p{
  margin-bottom: 0px
}

.reclaim {
  color: #444141;
  font-weight: bolder;
  font-size: 48px;
  margin: 10px
}

.reclaim p {
  margin-bottom: 0px
}

.reclaimTxt {
  font-size: 19px;
  padding: 0px 20px;
  text-align: left;
}
prodHeader
.prodTagLine {
  margin-bottom: 15px;
  font-size: 40px;
}

.ourOfferBorder {
 border-right: 1px solid grey;
 border-left: 1px solid grey;
}

@media only screen and (max-width:970px) and (min-width: 750px) {
  .prodHeader {
    font-size: 38px;
  }

  .prodTagLine {
    font-size: 31px;
  }
  .native {
    line-height: 50px;
  }
}

@media only screen and (max-width:750px) {
  .prodHeader {
    font-size: 28px;
  }

  .prodTagLine {
    font-size: 21px;
  }

  .prodOffers {
    margin: 1% 3%;
  }

  .everyWhere p {
    font-size: 37px;
  }
  .everyWhere img {
    width: 100%;
  }

  .synchronize p {
    font-size: 20px;
  }
  .saas img {
    width: 50%;
  }

  .native {
    text-align: center;
    line-height: 58px;
  }

  .ourOfferings {
    font-size: 33px;
    margin: 4% 0%;
  }

  .ourOfferBorder {
    border: none;
  }
  .ofrText {
    margin-bottom: 6%;
  }
}

@media only screen and (max-width:500px) {
  .native {
    text-align: center;
    line-height: 38px;
  }

  .native  p:nth-child(1) {
    font-size: 40px;
  }

  .native  p:nth-child(2) {
    font-size: 13px;
  }

}

/*----- industries .----- */

.keitoHelp {
  text-align: left;
  color: white;
  font-size: 3.5vw;
  font-weight: 300;
}

.industriesAchieve {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.74);
}

.ofrHeaderIndustries {
  font-weight: bolder;
  font-size: 21px;
  margin: 0px;
}

.industryNumbers {
  padding-left: 0px;
  font-size: 15px;
}

.optionalHelp {
  text-align: left;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.67);
  padding-top: 5px
}

@media only screen and (max-width:970px) and (min-width: 750px) {
  .keitoHelp {
    padding: 1% 0%;
  }

  .industriesAchieve {
    font-size: 22px
  }
}


@media only screen and (max-width:750px) {
 .industriesAchieve {
    font-size: 18px
  }

  .industriesHeader {
    padding: 0px
  }

  .industriesHeader p {
    font-size: 11px;
  }

  .ofrHeaderIndustries {
    font-size: 18px;
  }

  .industryPoints {
    padding: 1% 1%;
  }
}

@media only screen and (max-width:1120px) and (min-width: 992px) {
 .industryNumbers {
    padding-left: 10px;
  }
}

@media only screen and (min-width:1200px) {
   .optionalHelp {
    margin-left: -30px;
  }
}





