.homeBtn {
  font-size: 23px;
  font-weight: bold;
  margin: 5px;
  color: white;
  position: absolute;
  top: 0;
  left: 15px;
}

.homeBtn a {
  text-decoration: none;
}


.homeBtn img {
  width: 25%;
}

.homeBtn span {
  margin: 15px;
  color: white;
}

.signUpKeito{
   text-align: center;
   margin: 5px;
}

.signUpKeito img {
  width: 12%;
}

.loginDiv {
  margin: 3%;
  background: white;
  border-radius: 18px;
}

.loginDivHeader{
  text-align: center;
  border-bottom:2px solid #1497EC;
}

.loginDivHeader p{
  padding: 10px 0px;
  margin: 0px;
}

.loginLabel{
   padding-right: 0px;
}

.loginLabel p{
   padding: 5px;
   margin: 0px;
}

.loginText input,.loginText select {
  width: 98%;
  padding: 4px;
  margin: 3px;
  margin-left: 0px;
  background-color: #ebebeb;
  border: 0px;
  height: 37px;
}

.loginBorder div {
  border-bottom: 2px solid #ebebeb;
  margin: 0px 20px;
}

.signUpBtn button{
  width: 100%;
  background: #6ed7fb;
  border-radius: 15px;
  border: 0px;
  font-size: 22px;
  padding: 10px;
  color: white;
}

.signUpBtn div {
  margin: 0px 4%;
}

.abtKeitoAcnt {
  width:100%;position:absolute;bottom:10px;
}

.insidekeitoAcnt{
  text-align: center;
  border: 1px solid white;
  margin-left: 4%;
}

.insidekeitoAcnt a {
  text-decoration: none;
}

.insidekeitoAcnt p {
  margin:5px;
  font-size: 22px;
  color: #b4ddf7;
}