.supportHeader {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 13%;
}

.sprtBtns {
  padding-top:20px;
  text-align: center;
  padding-bottom: 80px;
}

.srchBtnDiv {
  border: 2px solid black;
  border-radius: 21px;
  padding: 3px;
  margin-top: 20px;
}

.srchTxt {
  text-align: left;
  font-size: 18px;padding-left: 33px;
}

.searchBtnIcon {
  text-align: right;
}

.searchBtnIcon img {
  width: 29%;
  padding-right: 13px;
}

.request {
  margin-top: 30px;
  color: #ff8184;
  font-size: 19px;
}

.reqDes {
  color:#676060;
  border: 1px solid #90caff;
  border-radius: 11px;
  font-size: 20px;
  padding: 12px;
}

.atchImage {
  text-align: right;
}

.atchImage img {
  width: 40px
}

.emailDiv {
   margin-top:15px
}

.emailDiv div {
  border: 1px solid #90caff;
  border-radius: 11px;
}


.emailDiv input {
   height: 45px;
    color: #676060;
    font-size: 20px;
    border-radius: 16px;
    background-color: white;
    border: 0px;
    width: 100%;
    text-align: left;
}

.reqBtn {
  padding-top:20px;
  text-align: center;
  padding-bottom: 80px;
}

.reqBtn  button {
    height: 45px;
    color: #676060;
    font-size: 20px;
    background-color: white;
    border: 1px solid #90caff;
    border-radius: 11px;"
}
