<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='shortcut icon' type='image/png' href='images/Keito Logo_trans_gray (1).png' />
    <title>Keito | Reclaim Your Time</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-smilies/dist/angular-smilies.min.css">
    <link href="bower_components/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="bower_components/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="styles/css/style.css" rel="stylesheet" type="text/css">
    <link href="styles/css/main-style.css" rel="stylesheet" type="text/css">
    <link href="styles/css/keito.css" rel="stylesheet" type="text/css">
    <link href="styles/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/product.css">
    <link rel="stylesheet" href="styles/pricing.css">
    <link rel="stylesheet" href="styles/support.css">    
    <link rel="stylesheet" href="styles/contactUs.css">


  </head>
  <body ng-app="keitoApp" ng-class="mbody">
 


<div ui-view style="overflow: hidden;" ng-class="blurClass"></div>
<div class="overlay" ng-show="progressBarShow" style="display: none;" id="afterLoading">
    <div id="containerLoader">
        <div id="dot"></div>
        <div class="step" id="s1">{{progressBarText1}}</div>
        <div class="step" id="s2">{{progressBarText2}}</div>
        <div class="step" id="s3">{{progressBarText3}}</div>
    </div> 
</div>

<div class="overlay" id="progressBarShowLoading">
    <div id="containerLoader">
        <div id="dot"></div>
        <div class="step" id="s1">Loading</div>
        <div class="step" id="s2">Loading</div>
        <div class="step" id="s3">Loading</div>
    </div> 
</div>    
    <div class="footer"  ng-hide="footerhide">
      <div class="row footercontainer"> <!-- ng-class="footerclr" -->
        <div class="pull-left" style="text-align: left;"><img  src="images/Keito Logo_whitebg_blue.png"></div>
        <div>
            <div class="row footer-links" style="height: 100%;font-size: 12px;">
                <div ui-sref="ourTeam" style="cursor:pointer">Our Team</div>
                <div ui-sref="blog" style="cursor:pointer">Blog</div>
                <div ui-sref="termsandconditions" style="cursor:pointer">Terms and Conditions</div>
                <div ui-sref="security" style="cursor:pointer">Security</div>
                <div ui-sref="privacypolicy" style="cursor:pointer">Privacy Policy</div>
                
            </div>
        </div>
        <div class="imagesfooter">
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/facebook-logo.png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/twitter-logo-silhouette (1).png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/youtube-logo.png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/linkedin-logo.png"> </a>
        </div>
      </div>
    </div>
   <div class="footer visible-xs" style="visibility: visible;padding: 0px;">
      <div class="row footercontainer" style="margin: 0px;"> 
        <div class="pull-left" style="text-align: left;"><img  src="images/Keito Logo_whitebg_blue.png"></div>
        <div class="imagesfooter">
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/facebook-logo.png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/twitter-logo-silhouette (1).png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/youtube-logo.png"> </a>
            <a href="http://www.facebook.com/keitoforbusiness"> <img src="images/linkedin-logo.png"> </a>
        </div>
      </div>
    </div>
    



    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>

    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-smilies/dist/angular-smilies.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/angular-chips/dist/angular-chips.min.js"></script>
    <script src="bower_components/node-waves/waves.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/keito-master.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/signup/signup.service.js"></script>
    <script src="scripts/signup/signup.controller.js"></script>
    <script src="scripts/signin/signin.controller.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/createteam/createteam.controller.js"></script>
    <script src="scripts/teams/teams.controller.js"></script>
    <script src="scripts/chats/chats.controller.js"></script>
    <script src="scripts/contacts/contacts.controller.js"></script>


    <script src="scripts/chats/users.service.js"></script>
    <script src="scripts/createteam/createteam.service.js"></script>
    <script src="scripts/discussions/discussions.service.js"></script>
    <script src="scripts/utilities/utility.service.js"> </script>
    <script src="scripts/chats/chat.service.js"></script>
    <script src="scripts/signin/signin.service.js"></script>
  </body>
</html>
