﻿ <div>
    <div class="overlay"></div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <!--<div class="all_team text-center"><a href="#"><i class="material-icons">group</i><span>View all teams</span></a></div>-->

                <ul class="nav navbar-nav navbar-right rightCorner">
                    <!-- Call Search -->
                    <li>
                        <div class="row">
                            <div class="input-field"><input id="last_name" type="text" class="validate" placeholder="Search here"><i class="material-icons">search</i></div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <section>
        <aside id="leftsidebar" class="sidebar">
            <div class="user-info">
                <div class="image ">
                    <img src="WebappImages/no-img.jpg" width="80" height="80" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">amal@keito.in</div>

                </div>
            </div>
            <div class="menu">
                <ul class="list BlueClr">

                    <li><a ng-class="{active: viewItem == 'kbox'}" ng-click ="sideMenuClick('kbox');" ui-sref="profile.kbox.chats"> <i class="material-icons">email</i><span>Kbox</span></a></li>
                    <li><a ng-class="{active: viewItem == 'manageTeam'}" ng-click ="sideMenuClick('manageTeam');" ui-sref="profile.manageTeam"><i class="material-icons">mode_edit</i><span>Create Team</span></a></li>
                    <li ng-class="{active: viewItem == 'teams'}" ><a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">group</i><span>My Teams</span></a>
                        <ul class="ml-menu">
                            <li ng-repeat= "team in teamsForProfile" ng-click ="sideMenuClick('teams');setTeamId(team.id);"><a href="javascript:void(0);">{{team.name}}</a></li>
                        </ul>
                    </li>
                    <!--<li><a ng-class="{active: viewItem == 'settings'}" ><i class="material-icons">settings</i><span>Settings</span></a></li>-->

                </ul>
            </div>
            <div class="legal">
                <div class="copyright">copyright &copy; 2017 keito tech private</div> <i class="material-icons right">more_vert</i> </div>
        </aside>
    </section>

    <div ui-view style="overflow: hidden;" ng-class="blurClass"></div>
</div>