﻿<div class="login-page">

  <div class="overlay"></div>
  <div class="backbtn"><a href="#"><i class="material-icons">keyboard_backspace</i><span class="hide-on-small-only">Home</span></a></div>
  <div>
    <div class="login-box login_otr">
      <div class="text-center"><img src="WebappImages/keito-logo.jpg" alt="" class="keito-logo"></div>
      <div class="card">
        <div class="body">
          <form id="sign_in" method="POST" class="form-horizontal">
            <div class="msg">Create your account</div>
            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Name</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="name" class="form-control" ng-model="name">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Mobile</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="email_address_2" class="form-control" ng-model="mobile">
                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Gender</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="email_address_2" class="form-control" ng-model="gender">
                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Date of Birth</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="date" class="datepicker" ng-model="dob">

                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Country</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="email_address_2" class="form-control" ng-model="country">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row clearfix">
              <div class="col s12 m12 l5 form-control-label">
                <label for="email_address_2">Email</label>
              </div>
              <div class="col s12 m12 l7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="email_address_2" class="form-control" ng-model="email">
                  </div>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div><a ng-click="signUp()" class="signin text-center waves-effect waves-light btn light-blue accent-1">Sign up</a></div>
      <div class="no-acc waves-effect waves-light text-center"><a href="#login">I have a keito account</a></div>
    </div>
  </div>


</div>