﻿<!-- Tab panes -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contacts">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="contact_with_icon_title">
            <div class="on-des hidden-xs">
                <div ng-repeat="contact in teamContacts | currentUser" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">


                    <div class="col l3 m3 s12 Cprofile">
                        <div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == undefined">
                            <div ng-if="Users.getShowProfilePicture(contact.userId) == true">
                                <div class="Pro-img"><img data-ng-src="{{Users.getProfile(contact.userId)}}" alt="" class="circle responsive-img"></div>
                            </div>

                            <div ng-if="Users.getShowProfilePicture(contact.userId) != true ">
                                <div class="Pro-img blue darken-2">
                                    {{Users.getDisplayName(contact.userId)[0]}}
                                    <span ng-if="!Users.getDisplayName(contact.userId)">{{Users.getMobileNumber(contact.userId)[0]}}</span></div>
                            </div>
                        </div>

                        <div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == true">
                            <div class="Pro-img"><img data-ng-src="{{Users.getProfile(contact.userId)}}" alt="" class="circle responsive-img"></div>
                        </div>
                        <div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == false">
                            <div class="Pro-img blue darken-2">
                                {{Users.getDisplayName(contact.userId)[0]}}
                                <span ng-if="!Users.getDisplayName(contact.userId)">{{Users.getMobileNumber(contact.userId)[0]}}</span></div>
                        </div>
                    </div>
                    <div class="col l6 m6 s12">
                        <span class="black-text Cname">{{contact.name}}</span>
                        <span class="e-mail">Email : {{contact.email}}</span>
                        <span class="date">Mobile Number : {{contact.mobileNumber}}</span>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="clr amber"></div><span class="status">Away</span>
                    </div>
                </div>
            </div>
            <div class="on-mob visible-xs">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage" ng-repeat="contact in teamContacts | currentUser">
                    <div class="col l3 m3 s3 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img">
                            <div class="clr red lighten-1"></div>
                        </div>
                    </div>
                    <div class="col l9 m9 s9">
                        <span class="black-text Cname">{{contact.name}}</span>
                        <span class="e-mail">Email : {{contact.email}}</span>
                        <span class="date">Mobile Number : {{contact.mobileNumber}}</span>
                    </div>
                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s3 Cprofile">
                        <div class="Pro-img blue darken-2"><span>S</span>
                            <div class="clr red lighten-1"></div>
                        </div>
                    </div>
                    <div class="col l9 m9 s9">
                        <span class="black-text Cname">Sam</span>
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s3 Cprofile">
                        <div class="Pro-img"><img src="WebappImages/no-img.jpg" alt="" class="circle responsive-img">
                            <div class="clr green accent-3"></div>
                        </div>
                    </div>
                    <div class="col l9 m9 s9">
                        <span class="black-text Cname">Ankita</span>
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s3 Cprofile">
                        <div class="Pro-img blue darken-2"><span>A</span>
                            <div class="clr grey darken-1"></div>
                        </div>
                    </div>
                    <div class="col l9 m9 s9">
                        <span class="black-text Cname">Andy</span>
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 contactpage">
                    <div class="col l3 m3 s3 Cprofile">
                        <div class="Pro-img blue darken-2"><span>S</span>
                            <div class="clr amber"></div>
                        </div>
                    </div>
                    <div class="col l9 m9 s9">
                        <span class="black-text Cname">Sneha</span>
                        <span class="e-mail">Email : amal@keito.in</span>
                        <span class="date">Date Activated : 27th Nov, 2016</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>