﻿<div>
    <section class="content">
        <div class="start-chat"><a href="javascript:void(0);"></a><i class="material-icons">keyboard_backspace</i><span>Create Team</span><i class="material-icons">mode_edit</i></div>
        <div class="teamdec_otr">
            <form class="form">
                <div class="row">
                    <div class="input-field col s12"><input id="email" type="email" class="validate" placeholder="Team Name*"></div>
                </div>
                <div class="row">
                    <div class="input-field col s12"><input id="email" type="email" class="validate" placeholder="Description*"></div>
                </div>
            </form>
        </div>

        <div class="NameListing">
            <ul>
                <li><span class="amber lighten-2">A</span>
                    <p>Amal PS</p><i class="material-icons">clear</i></li>
                <li><span class="blue darken-4">U</span>
                    <p>9496264462</p><i class="material-icons">clear</i></li>
            </ul>
        </div>

        <div class="contact-list" style="overflow-y:scroll">

            <div class="section">
                <h5>New users : Send invites to email or mobile</h5>
            </div>
            <div class="divider"></div>
            <div class="link"><img src="WebappImages/link-icon.jpg" alt=""><span>Invite user</span></div>
            <div class="section">
                <h5>Choose from contacts <span><button class="chooseCntactBtn">Done</button></span> </h5>
            </div>
            <div class="divider"></div>
            <div class="section C-listing" ng-repeat="contact in contacts | orderBy : 'name'" >
                <!--<span ng-if="contact.name[0].toUpperCase() != contacts[$index-1].name[0].toUpperCase();">{{contact.name[0] | uppercase}}</span>-->
                <ul>
                    <li><span class="blue darken-4">{{contact.name[0] | uppercase}}</span>
                        <p>{{contact.name}}</p>
                        <p>{{contact.mobileNumber}}</p>
                        <p class="right">
                            <input type="checkbox" class="filled-in"  ng-attr-id="{{ 'checkbox-' + contact.id }}" id="filled-in-box" ng-checked="contactCheckboxValues[contact.id]"  ng-click="pushContact(contact)" />
                            <label for="{{ 'checkbox-' + contact.id }}"></label>
                        </p>
                    </li>
                </ul>
                <span ng-if=" prevContactHeader = contact.name[0]"> </span>
            </div>
        </div>

    </section>


</div>