﻿<div>
    <div ng-hide="showcreateTeam" >
        <section class="content">
            <div class="start-chat"><a href="javascript:void(0);">
            </a><span>Create Team</span><i class="material-icons">mode_edit</i>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left p-r-0 createteam" ng-repeat="team in teams">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 Cprofile">
                        <div class="Pro-img blue darken-2"><span>{{team.name[0]}}</span></div><span class="black-text Cname truncate">{{team.name}}</span></div>
                    <div ng-show=team.isJoined class="col-lg-3 col-md-3 col-sm-3 col-xs-3 person_add"><i class="material-icons">person_add</i></div>
                    <div ng-show=!team.isJoined class="col-lg-3 col-md-3 col-sm-3 col-xs-3 person_add"><i class="material-icons close_" ng-click="invitationAction('reject',team.id)">close</i><i ng-click="invitationAction('accept',team.id)"
                            class="material-icons done">done</i> </div>
                </div>
            </div>

        </section>
        <a ui-sref="profile.manageTeam.createNewTeam" class="chatB" ng-click="createTeam()"><i class="material-icons">add</i></a>
    </div>
    <div ng-show="showcreateTeam">
        <div ui-view style="overflow: hidden;" ng-class="blurClass"></div>
    </div>

</div>