﻿<div class="login-page">
    <div class="overlay"></div>
    <div class="backbtn"><a href="#"><i class="material-icons">keyboard_backspace</i><span class="hide-on-small-only">Back</span></a></div>
    <div>
        <div class="login-box login_otr">
            <div class="text-center"><img src="WebappImages/keito-logo.jpg" alt="" class="keito-logo"></div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" method="POST" class="form-horizontal">
                        <div class="msg">Verify OTP</div>
                        <div class="row clearfix">
                            <div class="col s12 m12 l5 form-control-label">
                                <label for="email_address_2">One Time Password</label>
                            </div>
                            <div class="col s12 m12 l7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" ng-model="otp" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="text-center Otp"><a href ng-click="resend()">Resend OTP</a></div>
                </div>
            </div>
            <div><a href ng-click="verify()" class="signin text-center waves-effect waves-light btn light-blue accent-1">VERIFY</a></div>
            <div class="no-acc text-center waves-effect waves-light"><a href="#joinNow">I don’t have a keito account</a></div>
        </div>
    </div>
</div>