﻿<div class="login-page">
    <div class="overlay"></div>
    <div class="backbtn"><a href="#"><i class="material-icons">keyboard_backspace</i><span class="hide-on-small-only">Home</span></a></div>
    <div>
        <div class="login-box login_otr">
            <div class="text-center"><img src="WebappImages/keito-logo.jpg" alt="" class="keito-logo"></div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" method="POST" class="form-horizontal">
                        <div class="msg">Access your dashboard</div>
                        <div class="row clearfix">
                            <div class="col s12 m12 l5 form-control-label">
                                <label for="email_address_2">Email or Mobile Number</label>
                            </div>
                            <div class="col s12 m12 l7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="email_address_2" class="form-control" ng-model="email">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col s12 m12 l5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>
                            <div class="col s12 m12 l7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" ng-model="password" id="password_2" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="text-center Otp"><a ng-click="sendOtp()">Login using OTP</a></div>
                </div>
            </div>
            <div><a class="signin text-center waves-effect waves-light btn light-blue accent-1" ng-click="pleaseLogin()">Sign in</a></div>
            <div class="no-acc waves-effect waves-light text-center"><a href="#joinNow">I don’t have a keito account</a></div>
        </div>
    </div>
</div>