 <div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align: center;">Chat Box</h3>
</div>
<div class="modal-body modalInput" id="modal-body" >
    <input  type="text" name="Team" placeholder="Team(optional)"><br>
    <select name="users" ng-model="selectedUser">
		<option ng-repeat="item in items | currentUser" value="{{item}}" >{{item.username}}</option>
    </select>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="ok()">START</button>
		</div>
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="cancel()">CANCEL</button>
		</div>
	</div>
</div>