 
<div class="modal-body" id="modal-body" style="background-color: #ff7d7b;;color: white">
    <div>
    	<h3 class="modal-title" id="modal-title" style="text-align: center;">Are you sure you want to clear all your chats ?</h3>
	</div>

	<div class="row" style="padding:3% 0%">
		<div class="col-md-offset-1 col-md-10">
			<p style="font-size: 15px;font-weight: 300;margin-bottom: 7%;">Note : These will clear your chats from all your devices, <b>other than </b>
				the ones marked <b>favorites</b>.</p>
			<input type="checkbox" name="favorites" style="font-size: 15px"> <b>Clear favorites as well</b>
		</div>
	</div>

	<div class="row" style="text-align: center;font-size: 22px;padding:3% 0%">
		<div class="col-md-6" style="text-decoration: underline;" ng-click="ok()"><b>YES</b></div>
		<div class="col-md-6" style="text-decoration: underline;" ng-click="cancel()"><b>NO</b></div>
	</div>
</div>
