 <div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align: center;">Discussion Box</h3>
</div>
<div class="modal-body modalInput" id="modal-body" >
    <!--<input  type="text" name="Team" placeholder="Team" ng-model><br>
    <input type="text" name="people" placeholder="Members or People(optional)"><br> -->
    <input type="text" name="people" placeholder="Subject" ng-model="subject"><br>
    <input type="text" name="people" placeholder="Description" ng-model="description">
</div>
<div class="modal-footer">
    <div class="row">
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="ok()">START</button>
		</div>
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="cancel()">CANCEL</button>
		</div>
	</div>
</div>