 <div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align: center;">DESCRIPTION</h3>
</div>
<div class="modal-body modalInput" id="modal-body" style="text-align: center;font-size: 18px;">
    <span>{{msg}}</span>
</div>
<div>
	<div class="row" style="margin: 1% 3%;">
		<div class="col-md-12" >
			<button class="btn" type="button" ng-click="ok()">OK</button>
		</div>
	</div>
</div>