 <div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align: center;">Invite User</h3>
</div>
<div class="modal-body modalInput" id="modal-body" >
    <input  type="text" name="mobile" placeholder="MobileNumber Or Email Id" ng-model=mobile><br>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="ok()">Invite</button>
		</div>
		<div class="col-md-6">
			<button class="btn" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>