 

<style type="text/css">
.modal-backdrop.in {
  background: rgba(0, 0, 0,0.5);
}

</style>

<div class="modal-body" id="modal-body" style="background-color: white;color: black;text-align:center;">
   <img  style="width: 15%;" src="images/Keito Logo_trans_gray (1).png">
   <!--<p style="font-size:30px;color:#59B2E5">Keep in touch </p>-->
	<p style="font-size:18px;color:#BBB8B8">Subscribe our commercial newsletter, tips and whitepapers on weekly basis. 
	All our latest updates right at your inbox. </p>

	<div class="row" style="padding:3% 0%">
		<div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-8 col-sm-10 col-xs-10" style="text-align: center;background: white;border-radius: 5px;border: 2px solid #59B2E5;">
			<div class="row" style="height:40px;">
				<input class="col-md-8 col-sm-8 col-xs-8" type="text" name="email" style="height: 100%;border: 0px;font-size: 19px;color:#1497EC;border-radius: 5px;" ng-show="btnTxt == 'Email'">
            	<button class="col-md-4 col-sm-4 col-xs-4 animate"  style="height: 100%;background-color:#59B2E5;font-size: 19px;padding: 0px;font-weight: bold;color:white;border: 0px;"  ng-class="myValue" ng-click="clicked()">{{btnTxt}} </button>
            	<input class="col-md-0ffset-4 col-sm-offset-4 col-xs-offset-4 col-md-8 col-sm-8 col-xs-8" style="height: 100%;border: 0px;font-size: 19px;color:#59B2E5;border-radius: 5px;background-color: white;" ng-show="btnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>
            		
			</div>
        </div>
	</div>

	<div style=" text-align: right;margin-bottom: -3%;font-size: 12px;color:black;">
		<p>Your privacy is important for us.</p>
	</div>
</div>
