<div>
    <section class="content">
        <div class="row clearfix" style="margin:0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right left">
                <div class="card tabbg">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tabW active" ng-class="{active: kboxViewItem == 'kboxChats'}">
                                <a data-toggle="tab">
                                    <div class="chat-ico">
                                        <figure></figure><span class="hide-on-med-and-down" >My Chats</span></div>
                                </a>
                            </li>
                            <li role="presentation" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tabW" ng-class="{active: kboxViewItem == 'kboxDiscussions'}">
                                <a  data-toggle="tab">
                                    <div class="disc-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Discussions</span></div>
                                </a>
                            </li>
                            <li role="presentation" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tabW" ng-class="{active: kboxViewItem == 'kboxProfile'}">
                                <a  data-toggle="tab">
                                    <div class="profile-ico">
                                        <figure></figure><span class="hide-on-med-and-down">Profile</span></div>
                                </a>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <div ui-view style="height:100px;width:100px;background-color:pink" ng-class="blurClass"></div>
        <a href="#" class="chatB"><i class="material-icons">chat_bubble_outline</i></a>
    </section>
    
</div>