<div class="row" style="width: 100%;margin: 0px;">
     <!--<div class="srchBtnDiv" style="margin: 3px 1% 0% 2%;background: #d6d6d6;border: 0px">
        <div class="row">
          <div class="col-md-10 srchTxt" contenteditable="true" style="color: #5f5e5f">
            <p style="margin: 0px;padding: 5px;font-size: 19px">Search through chats... Type your keywords and press enter or search button</p>
          </div>
          <div class="col-md-2 searchBtnIcon" style="padding-top: 5px"><img src="images/musica-searcher.png"></div>
        </div>
  </div> -->
  <div ng-if="chatsLoaded">
    <div ng-repeat="user in chatUsers" ng-click=showChat(user) ng-if="user.unread_msg_count > 0">
      <!--<div get-translated-text  user="{{user}}">-->
          <div class="row" style="color: black;padding: 0.3% 0;margin: 0px" ng-style="setRowcolor($index)">
         <div class="col-md-1">
          <div>
             <div ng-if="userService.getShowProfilePicture(user.$id) == true">
                <div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
                <img data-ng-src="{{userService.getProfile(user.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
                </div>
              </div>

              <div ng-if="userService.getShowProfilePicture(user.$id) != true ">
                <div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(user.$id)[0]}}
                  <span ng-if="!userService.getDisplayName(user.$id)">{{userService.getMobileNumber(user.$id)[0]}}</span>
                </div>
              </div>
          </div>
         </div>
         <div class="col-md-7" style="text-align: left;font-weight: bold;">
          <div>{{userService.getDisplayName(user.$id)}}<span ng-if="!userService.getDisplayName(user.$id)">Guest User</span> </div>
          <div>{{chatService.getLastMessage(user.chat_id)}}</div>
         </div>
         <div class="col-md-3" style="margin-top: 1%">
          <div>Last modified : {{ utilityService.dateFormat(chatService.getlastTimestamp(user.chat_id)) | date : format : "MMM d, y" }}</div>
         </div>
         <div class="col-md-1" style="margin-top: 0.5%;text-align: right;">
          <img src="images/profile/like.png">
         </div>
       </div>
       <div style="border-bottom: 1px solid #ebebeb;"></div> 
   <!--  </div> -->
  </div>
  </div>
  <div ng-click="chatsModal()"  ng-hide="showSettingsDiv" ng-class="smallFormat ? 'smallFormatcreateChat' : 'largeFormatCreateChat'">
    <img src="images/signUp/chat-selected.png"  style="width: 45px;">
  </div> 
  </div>