<div  class="indexPage">
  <div class="navPageCol">
  <nav class="navbar navbar-default navbar-fixed-top mainClass">
  <div class="container-fluid menuMargin">
    <div class="row">
    <div class="navbar-header hidden-sm col-sm-2 col-lg-4  col-md-4 navImage">
      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="keito hidden-xs"><a href="#"><img  style="width: 15%;" src="images/Keito Logo_trans_gray (1).png"></a></div>
    </div>

    <div class="collapse navbar-collapse" id="burger">
       <ul class="nav navbar-nav">
              <li><a class="hidden-sm hidden-md hidden-lg aStyles" href="#">Home</a></li>
              <li><a class="aStyles"   href="#product">Product</a></li>
              <!--<li><a class="aStyles pricingColor" href="#pricing">Pricing</a></li>-->
              <li><a class="aStyles pricingColor" href="#industries" style="cursor: pointer;">Industries</a></li>  
              <!--<li><a class="aStyles" href="#support">FAQ</a></li>-->
              <li><a class="aStyles" style="font-weight: bold;" href="#contactUs">Contact us</a></li>
              <li><a class="aStyles signIn" style="cursor: pointer;" ng-click="GettingStartedemailIdFocus()">Request Early Acccess</a></li> 
              <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                      style="cursor: pointer;">Show More...</a></li>
              <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
              <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
              <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
              <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li> 
            </ul>

    </div>
  </div>
  </div>
</nav>
</div>
  <div style="padding-top: 7.5%;"></div>

  <div class="contactUsHeader">
    <p>Contact us</p>
  </div>

  <div class="row" style="margin-top:15px">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6"  >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <input type="email" class="contactInpts" ng-model="ContactEmailID" ng-focus="ContactEmailID = ''" ng-blur="outOfInputFocus()" >
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:15px">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6" >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <select name="gender" ng-init="subject = '#'" ng-model="subject" class="contactInpts" style="width: 100%;">
            <option value="#" >Subject (helpful but optional)</option>
            <option value="others">others</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-3 optionalHelp" >
      <span>(helpful but optional)</span>
    </div>
  </div>

  
  <div class="row" style="margin-top:15px" ng-show= "subject == 'others'">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6" >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <input type="text" class="contactInpts" ng-model="othersSubject" ng-focus="othersSubject = ''" ng-blur="outOfInputFocusothersSubject()">
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-3 optionalHelp" >
      <span>(helpful but optional)</span>
    </div>
  </div>

  <div class="row" style="margin-top:15px">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6"  >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <select name="gender" ng-init="industry = '#'" ng-model="industry" class="contactInpts" style="width: 100%;">
            <option value="#" >Industry (choose your industry)</option>
            <option value="1">Business Services</option>
            <option value="2">Education</option>
            <option value="3">Energy,Chemicals & Utilities</option>
            <option value="4">Farming, Forestry, Fishing</option>
            <option value="5">Financial Services, Goverment</option>
            <option value="6">Health & Socila Care</option>
            <option value="7">Holding Companies</option>
            <option value="8">Manufacturing</option>
            <option value="9">Media & Entertainment</option>
            <option value="10">Mining $ Construction</option>
            <option value="11">Non-profit</option>
            <option value="12">Retail & Wholesale Trade</option>
            <option value="13">Technology</option>
            <option value="14">Travel & Transport</option>

          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-3 optionalHelp">
      <span>(helpful but optional)</span>
    </div>
  </div>

  <div class="row" style="margin-top:15px">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6"  >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <select name="gender" ng-init="noOfEmployees = '#'" ng-model="noOfEmployees" class="contactInpts" style="width: 100%;">
            <option value="#" >No. of employees (team/company)</option>
            <option value="1">1</option>
            <option value="2">2-9</option>
            <option value="10">10-19</option>
            <option value="20">20-49</option>
            <option value="50">50-99</option>
            <option value="100">100-199</option>
            <option value="200">200-349</option>
            <option value="350">350-999</option>
            <option value="1000">1000-2999</option>
            <option value="3000">3000+</option>
          </select>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-3 optionalHelp">
      <span>(helpful but optional)</span>
    </div>
  </div>


  <div class="row" style="margin-top:15px;font-size: 18px;color: #676060" >
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6"  >
      <div class="row">
        <div class="col-md-offset-1 col-lg-10 contactDomain">
          <!--<div style="min-height: 150px;text-align: left;" contenteditable="true" ng-model="ContactDescription" ng-click="ContactDescription = ''" ng-blur="outOfInputFocus()"></div> -->

          <textarea style="width: 100%;border: none;min-height: 150px;outline: none;" ng-model="ContactDescription" ng-focus="ContactDescription = ''" ng-blur="outOfDesFocus()"></textarea>

        </div>
      </div>
    </div>
  </div>

  <div class="row ">
      <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-4  col-xs-4 sendBtn">
        <button ng-click="sendContactUsDetails()">Send</button>
        <div style="padding: 2px;font-weight: bold;color:#0a5e97;cursor: pointer;" ui-sref="privacypolicy">Privacy Policy</div>
      </div>
  </div>

<div class="row" style="margin-top: 10%">
    

     <div class="col-sm-offset-1 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-10 col-md-8" style="padding: 1%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;color: black;border: 1px solid rgba(128, 128, 128, 0.38);">
      <p>Getting started is easy. Be up and running in minutes.</p>
      <div class="row">
        <div class="col-md-offset-2 col-sm-offset-1   col-md-8 col-sm-10 col-xs-12"  >
           <div style="background: white;border-radius: 18px;border: 1px solid #6ed7fb;border-radius: 18px;">
             <div class="row" style="margin: 0px;min-height: 54px;">
                <input class="col-md-7 col-sm-7 col-xs-7 GettingStartedInputTxt" type="text" name="email" ng-show="GettingStartedBtnTxt == 'Request Early Access'" ng-model="GettingStartedemailId" focus-on="focusMe" ng-focus="clearGSEmail();" ng-blur="outOfGettingStartedFocus()">
                          <button class="col-md-5 col-sm-5 col-xs-5 animate"  ng-class="myValue" ng-click="GettingStartedClicked(GettingStartedemailId)">{{GettingStartedBtnTxt}}</button>
                          <input class="col-md-0ffset-6 col-sm-offset-6 col-xs-offset-6 col-md-6 col-sm-6 col-xs-6" style="min-height: 54px;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;padding: 2% 3%;background-color: white;" ng-show="GettingStartedBtnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>
             </div>
           </div>
         </div>
        </div>
    </div>
  </div>

  <div class="row" style="margin:0px;padding:0% 5%;margin-top: 6%;padding-top: 2%;border-top: 2px solid #72d7fb;text-align: left;">
   
   <div class="col-md-6">
      <div>
        <p style="font-weight: bold;margin-bottom: 0px;font-size: 20px;">Corporate Address</p>
        <p style="font-size: 17px;">Visit us here</p>
      </div>
      <div class="row" style="margin: 0px;">
        <div class="col-md-11" style="border: 2px solid #72d7fb;border-radius: 10px;padding: 3%;font-size: 17px;color: gray;letter-spacing: 0.1px;"> 
          <p>Keito Tech Private Limited,<br> Wakad,<br>  Pune,<br>  Maharashtra,<br>  Pin : 411057 <br> CIN : U74999PN2016PTC167027</p> </div>
      </div>
    </div>
   <div class="col-md-6">
      <div>
        <p style="font-weight: bold;margin-bottom: 0px;font-size: 20px;">Mail Us</p>
        <p style="font-size: 17px;">Drop a note.</p>
      </div>
      <div class="row" style="margin: 0px;">
        <div class="col-md-11" style="border: 2px solid #72d7fb;border-radius: 10px;padding: 3%;font-size: 17px;color: gray;letter-spacing: 0.1px;"> 
          <p>Email :<br> sales@keito.in <span style="font-size: 13px">(business related queries)</span><br>  <br>  Mobile Number :<br> +91-9561112535</p> </div>
      </div>
  </div>
    
  </div>
</div>