<div class="row md-inline-form" style="margin: 0px;overflow-y: auto;" ng-style="divHeight">
  <div class="row" style="margin: 0px;color: black;font-size: 22px;text-align: left;">
        <div class="col-md-3"><p style="padding-top:8%;margin-left: 10%;">Subject</p></div>
        <div class="col-md-9">
          <input style="width: 98%;padding: 4px;margin: 3px;margin-left: 0px;border: 0px;border-bottom: 1px solid grey;" type="text" name="subject" ng-model="discussionForm.subject">
        </div>
    </div>
    <div class="row" style="margin: 0px;color: black;font-size: 22px;text-align: left;">
        <div class="col-md-3"><p style="padding-top:8%;margin-left: 10%;">Description</p></div>
        <div class="col-md-9">
          <input style="width: 98%;padding: 4px;margin: 3px;margin-left: 0px;border: 0px;border-bottom: 1px solid grey;" type="text" name="description" ng-model="discussionForm.description">
        </div>
    </div>
    <div class="row" style="margin: 0px;color: black;font-size: 22px;text-align: left;border-bottom: 0.1px solid rgba(128, 128, 128, 0.35)">
        <div class="col-md-3"><p style="padding-top:8%;margin-left: 10%;">Select Group</p></div>
	</div>

	<div class="row" style="margin: 0px;color: black;font-size: 20px;text-align: left;margin-top: 0.5%;margin-left: 3%;">
        <div class="col-md-3"><p >{{teamForCreateDiscussion.name}}</p></div>
        <div class="col-md-8"> 
            <div class="row" style="margin: 0px;" >
              <div class="col-md-offset-10 col-md-1" style="text-align: left;padding: 0px;padding-left: 0.5%;">
                <input type="checkbox" ng-checked="fullTeamChecked" ng-model="teamChecked" ng-click="masterCheckboxClicked(teamChecked)"/>
              </div>
            </div>
        </div>
	</div>
	<div ng-repeat=" member in teamForCreateDiscussion.members | currentUser">
		<div class="row" style="margin: 0px">
        <div class="col-md-1"></div>
        <div class="col-md-10" ng-class="{contactNotAccepted: !member.acceptedInvite}">
            <div class="row" style="margin: 0px;color: black;font-size: 18px;text-align: left;padding: 0.5% 0;">
                  <div class="col-md-offset-1 col-md-9">
                    <div class="row">
                      <div class="col-md-3" style="width: 35px;height: 35px;background: #0098f8;padding: 0;text-align: center;padding-top: 0.7%;border-radius: 23px;font-size: 20px;">{{member.name[0]}}<span ng-if="!member.name">G</span> </div>
                      <div class="col-md-offset-1 col-md-8" style="padding-top: 1%;"><span>{{member.name}}</span><span ng-if="!member.name">Guest User</span> <span ng-if="member.email">( {{getDomainName(member.email)}} )</span>
                      </div>
                    </div>
                    

                  </div>
                  <div class="col-md-1" style="text-align: right;"> <input type="checkbox" ng-checked="checkboxValues[member.userId] || teamChecked"  ng-click="checkboxChanged(member.userId)"/></div>
            </div>
        </div>
        <div class="col-md-1" ></div>
    </div>


		<div class="row" style="margin: 0%;">
			<div class="col-md-offset-1 col-md-10" style="border-bottom: 0.1px solid rgba(128, 128, 128, 0.35);">
				
			</div>
		</div>
	</div>
	<div class="row" style="margin: 0px;padding: 1% 0%;">
      <div class="col-md-6 signUpBtn" style="text-align: right;" ng-click="addDiscussion() ">
        <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;padding: 1.5%;">Add Discussion</button>
      </div>
      <div class="col-md-6 signUpBtn" style="text-align: left;">
        <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;padding: 1.5%;" ng-click="backToDiscussion()">Cancel</button>
      </div>
    </div>

</div>