<div ng-style="divHeight" style="overflow-y: auto;">
  <div ng-hide="showcreateTeam" ng-repeat="team in teams" >
    <div class="row" style="padding: 0.5% 3% 0.5% 0%;">
      <div class="col-md-1" style="padding-top: 3px">
        <div style="margin-left: 30%">
              <div style="width: 27px;height: 27px;background: #0098f8;border-radius: 20px;padding-top: 8%;font-size: 16px;margin: auto;" 
                  ng-click="showDescription(team.description)">{{team.name[0]}}</div>
        </div>
      </div>
      <div class="col-md-5" style="color: black;text-align: left;padding: 0px;font-size: 17px;padding-top: 3px" ng-click="addTeamMember(team.id)">
        <span>{{team.name}}</span> 
      </div>
      <div class="col-md-6" style="text-align: right;" ng-show = team.isJoined ng-click="addTeamMember(team.id)">
        <img src="images/team/add-contact.png"  style="cursor: pointer;">
      </div>
      <div class="col-md-6" style="text-align: right;" ng-show = !team.isJoined>
        <img src="images/team/success.png" style="margin-right: 3%;cursor: pointer;" ng-click="invitationAction('accept',team.id)">
        <img src="images/team/error.png" style="cursor: pointer;" ng-click="invitationAction('reject',team.id)">
      </div>
    </div>
    <div style="border-bottom: 2px solid #ebebeb;"></div>
  </div>

    

  <div style="font-size:21px;" ng-show="showcreateTeam" >
    <div class="row" style="margin: 0px;padding: 0px">
      <div ng-class="showContacts ? 'col-md-8' : 'col-md-12'" style="padding: 0px">
          <div class="row" style="margin: 1%;background:#0e6dab;border-radius: 10px;padding: 0.5% 9px;">
          <div>
              <div class="row" style="margin: 0px;">
                <div class="col-md-5 loginLabel"> <p >Team Name<sup>*</sup></p> </div>
                <div class="col-md-7 loginText">
                  <input type="text" name="team name" ng-model="teamname" ng-disabled="editTeam" style="background-color: white;color: black;border-radius: 5px;">
                </div>
              </div>
              <div class="row" style="margin: 0px;">
                <div class="col-md-5 loginLabel"><p>Description<sup>*</sup></p></div>
                <div class="col-md-7 loginText">
                  <input type="text" name="description" ng-disabled="editTeam" ng-model="description" style="background-color: white;color: black;border-radius: 5px;">
                </div>
              </div>
           </div>
        </div>
       <div class="row" style="margin: 1%;background:white;border-radius: 10px;padding: 0.5% 9px;border: 1px solid #0e6dab;" ng-if="editTeam" >
          <div style="font-weight: bold;color: #0e6dab;">Existing Members</div>
          <div style="color: #0e6dab;text-align: left;">Created By : {{createdBy}}</div>
          <div class="chip" ng-repeat="existingmember in teamMembers" ng-style="existingmember.acceptedInvite && {'background-color':'#00fa9d'}" style="background-color: #ff7d7b" >
              {{existingmember.name}}<span ng-if="existingmember.name == undefined ">Guest User</span><br>
              {{existingmember.mobileNumber}}
              <span ng-if="existingmember.mobileNumber == undefined ">{{existingmember.email}}</span>

            </div>
        </div> 
        <div class="row" style="margin: 1%;background:white;border-radius: 10px;padding: 0.5% 9px;border: 1px solid #0e6dab;">
          <div style="font-weight: bold;color: #0e6dab;">Members</div>
          <div class="chip" ng-repeat="member in members">
              {{member}}
              <span class="glyphicon glyphicon-remove" style="vertical-align: text-bottom;" ng-click="removeItem($index,member)"></span>
            </div>


            <div class="row" style="clear:both;font-weight: bold;color: white;margin:0px;font-size: 15px;border-radius: 15px;padding: 1% 1% 0% 1%;">
              <div class="col-md-6">
                <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;" ng-click="inviteUser()">Invite Members</button>
              </div>
              <div class="col-md-6">
                <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;cursor: pointer;" ng-click="loadContacts();">Choose From Contacts</button>
              </div>
            </div>

        </div>

        <div class="row" style="margin: 0px">
          <div class="col-md-6 signUpBtn" style="text-align: right;" ng-click="addTeam()" ng-hide="editTeam">
            <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;">Add Team</button>
          </div>
          <div class="col-md-6 signUpBtn" style="text-align: right;" ng-click="editTeamMembers()" ng-if="editTeam">
            <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;">Add Members</button>
          </div>
          <div class="col-md-6 signUpBtn" style="text-align: left;">
            <button style="border-radius: 15px;background: #0e6dab;border-color: transparent;" ng-click="cancelAddingTeam()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="col-md-4" ng-show="showContacts" style="padding: 0px;color: black;">
        <div class="row" style="margin:0px;background: #0098f8;color: white;text-align: left;padding: 3% 0px">
          <div class="col-md-6" style="padding-left: 0px; " ng-click=hideContactsDiv(); >
          <img style="width: 2.7%;vertical-align: middle;margin: 0 2%;margin-bottom: 2px;" src="images/signUp/arrow-pointing-to-left.png">
          
          <span>Contacts</span></div>
          
          <div class="col-md-offset-3 col-md-3 createTeamBtn" style="text-align: right;padding: 0px;">
            <button  ng-click="sendContacts();">
              Done
            </button>
          </div>
        </div>
        <div ng-repeat="contact in contacts | orderBy : 'contact.name'">
          <div class="item item-divider" ng-if="contact.name[0] != contacts[$index-1].name[0]" style="text-align: left;padding-left: 4%;">
            {{contact.name[0]}}
          </div>
          <div class="row" style="margin: 0px;padding: 1% 0px;border-bottom: 1px solid rgba(128, 128, 128, 0.53);">
             <div class="col-md-2" style="padding: 0px">
              <div>
                <div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{contact.name[0]}}</div>
              </div>
             </div>
             <div class="col-md-8" style="text-align: left;padding-right: 0px;font-size: 16px;">
              <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{contact.name}}</div>
              <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: rgba(0,0,0,0.65);">{{contact.mobileNumber}}</div>
             </div>
             <div class="col-md-2" style="text-align: right;"> 
              <input type="checkbox" ng-checked="contactCheckboxValues[contact.id]"  ng-click="pushContact(contact)"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div style="position: fixed;bottom: 5px;right: 5px;cursor: pointer;" ng-click="createTeam()"  ng-hide="showcreateTeam" >
    <img src="images/team/plus.png" style="width: 45px;"">
  </div>

</div>