<div class="row" style="width: 100%">
    <!--<div class="srchBtnDiv" style="margin: 3px 1% 0% 2%;background: #d6d6d6;border: 0px">
        <div class="row">
          <div class="col-md-10 srchTxt" contenteditable="true" style="color: #5f5e5f">
            <p style="margin: 0px;padding: 5px;font-size: 19px">Search through discussions... Type your keywords and press enter or search button</p>
          </div>
          <div class="col-md-2 searchBtnIcon" style="padding-top: 5px"><img src="images/musica-searcher.png"></div>
        </div>
  </div> -->

  <div ng-if="discussionsLoaded">
    <div ng-repeat="discussion in allDiscussionUsers" ng-click=showDiscussion(discussion,$index) ng-if="discussion.unread_msg_count > 0">
        <div class="row" style="color: black;margin-left: 0" ng-style="setRowcolor($index)">
           <div class="col-md-1">
            <div>
              <div style="margin: auto;font-size: 20px">
                <img src="images/profile/mail-read.png" style="width: 80%;">
              </div>
            </div>
           </div>
           <div class="col-md-7" style="text-align: left;font-size: 18px;font-size: 16px;">
            <div>{{discussionService.getSubject(discussion.$id)}}</div>
            <div>{{chatService.getLastMessage(discussion.$id)}}</div>
           </div>
           <div class="col-md-3" style="margin-top: 1.2%;text-align: right;font-size: 13px;padding-left: 35px">
            <div ng-class="checkWhetherToday(discussionService.getLastActivity(discussion.$id))" >Today, {{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : "h:mm a" }}</div>

          <div ng-class="checkWhetherNtToday(discussionService.getLastActivity(discussion.$id))" >{{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : format : "MMM d, y" }}</div>
          </div>
         </div>

        <!-- <div class="row" style="color: black;margin-left: 0" ng-style="setRowcolor($index)">
        

         <div class="col-md-1">
          <div>
            <div style="margin: auto;font-size: 20px">
              <img src="images/profile/mail-read.png" style="width: 80%;">
            </div>
          </div>
         </div>
         <div class="col-md-2" style="text-align: left;font-size: 18px;font-size: 16px;margin-top: 0.8%">
          <div>From : {{discussionService.getCreatedBy(discussion.$id)}}</div>
         </div>
         <div class="col-md-4" style="text-align: left;font-size: 18px;font-size: 16px;margin-top: 0.8%">
          <div>Subject:{{discussionService.getSubject(discussion.$id)}}</div>
         </div>
         <div class="col-md-2" style="margin-top: 1.5%;font-size: 13.5px;color: gray;text-align: right;padding-right: 0px">
          <div>Created : {{ utilityService.dateFormat(discussionService.getCreatedOn(discussion.$id)) | date : format : "MMM d, y" }}</div>
         </div>
         <div class="col-md-3" style="margin-top: 1.5%;text-align: left;font-size: 13px;padding-left: 35px">
          <div> Last Activity : {{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : format : "MMM d, y" }}</div>
         </div>
       </div>
       -->
       <div style="border-bottom: 1px solid #ebebeb;margin-left: 1.6%"></div>
     </div>
  </div>


	<div style="position: fixed;bottom: 25px;right: 20px" ng-click="discussionsModal()"   >
    	<img src="images/signUp/chat-selected.png"  style="width: 45px;">
  	</div>

</div>