<div  class="indexPage">
  <div class="indPage">
    <nav class="navbar navbar-default navbar-fixed-top mainClass prodclass" style="margin-bottom: 0px;">
      <div class="container-fluid menuMargin">
        <div class="row">
        <div class="navbar-header hidden-sm col-lg-4  col-md-4 navImage">
          <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="keito hidden-xs"><a href="#"><img style="width: 15%;" src="images/Keito Logo_whitebg_blue.png"></a></div>
        </div>

        <div class="collapse navbar-collapse" id="burger">
           <ul class="nav navbar-nav">
                  <li><a class="hidden-sm hidden-md hidden-lg aStyles" href="#">Home</a></li>
                  <li><a class="aStyles" href="#product">Product</a></li>
                  <!--<li><a class="aStyles pricingColor" href="#pricing">Pricing</a></li> -->
                  <li><a class="aStyles pricingColor" style="font-weight: bold;" href="#industries">Industries</a></li> 
                  <!--<li><a class="aStyles" href="#support">FAQ</a></li>-->
                  <li><a class="aStyles" href="#contactUs">Contact us</a></li>
                  <li><a class="aStyles signIn"  style="cursor: pointer;" ng-click="GettingStartedemailIdFocus()">Request Early Acccess</a></li> 
                  <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                      style="cursor: pointer;">Show More...</a></li>
                  <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
                  <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
                  <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
                  <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
                  <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
                  <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li> 
                </ul>

        </div>
      </div>
      </div>
    </nav>

    <div class="row" style="text-align: center;padding-top: 8%;">
      <img class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-3 col-xs-offset-5 col-xs-2" src="images/play-circle.png" style="margin-top: 2%;opacity: 0.6;">
      <div class="col-md-5 col-sm-5 col-xs-5 keitoHelp" >
        <p>HOW CAN</p>
        <p>KEITO HELP</p> 
        <p>WITH <span style="color: #6ed7fb"> YOUR NEXT BIG MOMENT ?</span></p>
      </div>
    </div>
  </div>

  <div class="prodHeader">
    <p style="margin-bottom: 0px">Best fit industries</p>
  </div>
  <div>
    <p class="industriesAchieve">Achieve more by understanding the building blocks of Keito.</p>
  </div>

  <div class="row" style="margin:3% 0%;">

   <div class="col-md-4 col-xs-4 col-sm-4 industriesHeader">
     <h4 class="ofrHeaderIndustries">IT Services</h4>
     <p ng-click="gotodiv('ITServices')"><i>Click to know more >></i></p>
   </div>

   <div class="col-md-4 col-xs-4 col-sm-4 industriesHeader">
     <h4 class="ofrHeaderIndustries" >IT Consultancy</h4>
    <p ng-click="gotodiv('ITConsultancy')"><i>Click to know more >></i></p>
   </div>

   <div class="col-md-4 col-xs-4 col-sm-4 industriesHeader">
     <h4 class="ofrHeaderIndustries">Banking</h4>
     <p ng-click="gotodiv('banking')"><i>Click to know more >></i></p>
   </div>
    
  </div>
  <!--<div class="row"> 
  <div class="col-md-6" ng-click="gotodiv('ITServices')">
    <div class="prodOffers" ng-class="dactive" ng-click="displayImage(1)">
      <h4 class="ofrHeader" style="margin: 0px">IT Services</h4>
     <p  class="ofrText" >Start a mail communication with subject here on specific topics. Record it using summarize and send that as mails to participants.</p>
     </div>
  </div>
  </div>

  <div class="row"> 
  <div class="col-md-6" ng-click="gotodiv('ITConsultancy')">
  <div class="prodOffers" ng-class="cactive" ng-click="displayImage(2)">
    <h4 class="ofrHeader" style="margin: 0px">IT Consultancy</h4>
    <p  class="ofrText" >Start chats with anyone or even within teams. Make your discussions faster, simpler and informal.</p>
  </div>
  </div>
  </div>

  <div class="row"> 
  <div class="col-md-6" ng-click="gotodiv('banking')">
  <div class="prodOffers" ng-class="ctactive" ng-click="displayImage(3)">
    <h4 class="ofrHeader" style="margin: 0px">Banking</h4>
    <p  class="ofrText" >Just create initial teams based on the number of projects you are involved with. Public groups will be available by default.</p>
  </div>
  </div>
  </div> 

  <div class="row"> 
  <div class="col-md-6" ng-click="gotodiv('financialInstitutions')">
  <div class="prodOffers" ng-class="sactive" ng-click="displayImage(4)">
    <h4 class="ofrHeader" style="margin: 0px">Financial Institutions</h4>
    <p  class="ofrText" >Powerful search which enables you to search through topics, discussions, chats, contacts, documents and teams.</p>
  </div>
  </div>
  </div>-->

  <div class="everyWhere" id="ITServices" style="margin:3% 0%">
    <p>IT Services</p>
    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      IT companies often find it challenging to manage projects. This is especially the case when it comes to teams working on projects which are spread out across multiple locations or working on multiple systems and the projects which require high visibility. IT projects usually overshoot budgets and timelines and end up delivering lesser value than promised. IT companies are often vulnerable to the following problems.
    </p>

    <p style="text-align: left;font-size: 22px;margin: 0% 4%;">Problems</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints ">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of coherent communication, leading to communication gap within and amongst teams
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of a concerted approach to meet the client requirements
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Strained relationships among teams
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Failure to continuously monitor and meet project timelines
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of productive and purposeful meetings
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of proper traceability of events
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;">
      <div class="col-md-10 col-sm-9" style="border: 1px solid #559dcc">
        
      </div>
    </div>

    <p style="text-align: left;font-size: 22px;margin: 0% 4%;">This leads to</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Loss of employee productivity
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Significant time and cost overruns
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Low or limited visibility of project deliverables
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Over-commitment & under delivery
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Under-utilization or improper utilization of resources
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of motivation and engagement among employees
          </div>
        </div>
      </div>

    </div>

    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      In addition, today millennials are a significant part of the workforce and have values which are starkly different from the rest of the workforce. They live by a different set of values. They are quick adopters of new technologies, want to access everything instantly, love to multi-task, do their stuff on the go, believe in collaboration and prefer short conversations rather than a flurry of long formal e-mails. This is forcing the IT companies to align their work culture in line with values of millennials and adopt measures & tools to thrive in changing environment.
    </p>

        <p style="text-align: left;font-size: 22px;margin: 0% 4%;">With Keito</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Intelligent prioritization of team conversations discussions
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Unique social media like interface and enhanced employee engagement
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Priority view, contextual analysis and a host of other features will bring all your communication to a single platform
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;padding-bottom: 2%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Streamline all communication in a single place
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Doubles up as an experienced virtual assistant and helps you to Identify and prioritize your tasks
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Cut down time spent on communication by up to 40 %
          </div>
        </div>
      </div>

    </div>

    

  </div>

  <div class="everyWhere" style="background-color: white;color: black;" id="ITConsultancy">
    <p>IT Consultancy.</p>
    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      Consulting teams are under constant pressure to deliver efficient & prompt services to their clients. Clients expect, however consulting teams are constantly faced with the following challenges.
    </p>

    <p style="text-align: left;font-size: 22px;margin: 0% 4%;">Problems</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Resistance to adoption of newer technologies due to complexity
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Collaborations issues due to team members based out of different locations
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Difficulty in managing productivity of individual consultants and teams
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Staying connected with partners, colleagues and clients
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Being able to search and manage repository of artifacts, discussions, documents and conversations
          </div>
        </div>
      </div>

      <!--<div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of proper traceability of events
          </div>
        </div>
      </div> -->

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;">
      <div class="col-md-10 col-sm-9" style="border: 1px solid black">
        
      </div>
    </div>

    <p style="text-align: left;font-size: 22px;margin: 0% 4%;">Lack of structured communication and collaboration tool can lead to</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Email overload and unproductive mail chains. Multiple and long- winded conversations.
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Information and communication 3 gap within teams
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
           Lack of proper team collaboration
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Poor & delayed decisions
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Missed deadlines
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Meaningless meetings
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">7</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Unsuccessful & unprofitable engagements
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color: white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">8</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Customer dissatisfaction and trust
          </div>
        </div>
      </div>
    </div>


    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      Keito helps your organization to meet these challenges and enable you to collaborate and communicate more effectively in real-time, from anywhere, anytime. Keito with its intuitive interface, coupled with power-packed features like intelligent prioritization of team conversations discussions, priority view, contextual analysis and a host of other features will bring all your communication to a single place and streamline all communication and helps the consulting firms deliver services to their clients from a single, secure place.
    </p>

        <p style="text-align: left;font-size: 22px;margin: 0% 4%;">With Keito</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Share and manage you documents and use it as a repository for all artifacts and conversations
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Advanced and powerful search capabilities allow you to locate all, communication and files in a jiffy
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Access it on the go. Any device and anytime.
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
             Intelligently identifies and creates a task list from your conversations
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Doubles up as an experienced virtual assistant and helps you to Identify and prioritize your tasks
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Cut down time spent on communication by up to 40 %
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;padding-bottom: 2%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: black;color:white;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">7</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
             Improved work-life balance by reclaiming valuable time for all
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="everyWhere" id="ITServices" style="margin:3% 0%">
    <p>Banking</p>
    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      Banking landscape has become ever so dynamic and competitive pressures pose a significant challenge to the banks in terms of</p>

    <p style="text-align: left;font-size: 22px;margin: 0% 4%;">Problems</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Providing effective and timely services
            </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Reducing TATs (turn around time)
            </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Enhancing productivity of their employees and employee connect.
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Reducing operational costs
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Bolster their revenues
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Timely dissemination of information to employees as well as customers
          </div>
        </div>
      </div>

    </div>

    

    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">Moreover even established players are struggling to match the pace and agility of Fintechs and Finance startups.<br><br>
One of the major factors affecting a business’ speed and agility is its communication system and tools. Currently, email is the most prevalent communication tool. While it has been quite useful, in today’s fast-paced world, it is not the most optimal form of communication as
    </p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Distributed nature of workplace means connection between workers are more difficult to sustain and new ideas being transferred across the organization
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Businesses are struggling to keep the information flow between various departments seamless and instantaneous
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Various departments not connected to either customers or other departments in real time
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Lack of seamless communication leads to businesses underperforming on some or all of the key parameters
          </div>
        </div>
      </div>

      

    </div>

    <p style="margin: 1% 4%;font-size: 18px;font-weight: normal;word-break: break-all;text-align: left;">
      Banking players have started to rethink their entire communication models to make them mobile first. There’s a need for a communication system which is simpler, more efficient, reduces communication friction & allows a business to achieve its goals.<br><br>
      Keito will enable the bank employees to communicate on the go, allowing them to share and access information easily from wherever they are. With Keito, you can organize online meetings, manage your appointments and automatically create to-do list from your conversations. Keito also maintains versioning of documents, so that the team always has access to the latest artifacts.
    </p>

        <p style="text-align: left;font-size: 22px;margin: 0% 4%;">With Keito</p>

    <div class="row" style="margin: 2% 0% 2% 4%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">1</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Establish a better connect between their various departments
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">2</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Improve customer service & TATs
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">3</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Enhance customer satisfaction and reduce communication cost
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin: 2% 0% 2% 4%;padding-bottom: 2%;text-align:left;">
      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">4</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Streamline business processes
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">5</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Provide real-time update to departments and customers
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 industryPoints">
        <div class="row" >
          <div class="col-md-2 col-sm-3 col-xs-2" style="padding: 0px">
            <div style="text-align:center;background: white;color: black;font-weight: bold;font-size: 22px;padding-top: 8%;border-radius: 30px;height: 40px;width: 40px;">6</div>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-10 industryNumbers">
            Building strong relationship with client
          </div>
        </div>
      </div>

    </div>

    

  </div>

  </div>

  



  <div style="margin-top: 10%">
    <!--<div class="col-sm-offset-2 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-8 col-md-8" style="padding: 1%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;color: black;border: 1px solid rgba(128, 128, 128, 0.38);">
                <p>Getting started is easy. Be up and running in minutes.</p>
                <div class="row">
                 //div class="col-sm-offset-2 col-sm-offset-4 col-md-offset-3 col-xs-16 col-sm-8 col-md-6 check">
                    <input class="col-sm-6 col-xs-12 col-md-8 email" type="text" placeholder="Email Address or Mobile Number">
                    <button class="col-md-3 checkButton">Start your free trial</button>
                  </div> //
    //<div class=" col-md-6 col-sm-6 col-xs-6" style="text-align: center;color: #6ed7fb;">
                    <button class="col-md-offset-3 col-md-9" style="padding: 3% 10%;background: white;border-radius: 18px;border: 1px solid #6ed7fb;" ng-click="subscribe()">Request a Demo</button>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">
                    <button class="col-md-9" style="padding: 3% 0%;background: #6ed7fb;border-radius: 18px;color: white;border: 0px" ng-click="subscribe()">Create a Free Account</button>
                  </div>
                </div> //

                <div class="col-md-offset-2  col-md-8 col-sm-6 col-xs-6"  >
                   <div style="background: white;border-radius: 18px;border: 1px solid #6ed7fb;border-radius: 18px;">
                   <div class="row" style="margin: 0px;min-height: 54px;">

                     //<div class="col-md-7">
                       <input type="text" value="Enter your email..." style="width: 100%;color:#6ed7fb;border: none;padding: 3.5% 0%;padding-left: 2%;border-radius: 18px;font-size: 19px;font-weight: 300;" />
                     </div>
                     <div class="col-md-5" style="padding: 0px;">
                          <button style="padding: 5% 0;background: #6ed7fb;color: white;border: none;width: 100%;font-weight: 300;font-size: 19px;border-radius: 15px">Request Early Access</button>
                     </div>//

                     <input class="col-md-7 col-sm-7 col-xs-7" type="text" name="email" style="min-height: 54px;padding: 2% 1%;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;" ng-show="btnTxt == 'Request Early Access'" value="Enter your email...">
                    <button class="col-md-5 col-sm-5 col-xs-5 animate"  style="min-height: 54px;background-color:#6ed7fb;font-size: 23px;padding: 2% 0;color:white;border: 0px;border-radius: 18px;"  ng-class="myValue" ng-click="clicked()">{{btnTxt}}</button>
                    <input class="col-md-0ffset-5 col-sm-offset-5 col-xs-offset-5 col-md-7 col-sm-7 col-xs-7" style="min-height: 54px;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;padding: 2% 3%;background-color: white;" ng-show="btnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>


                   </div>
                 </div>
                 </div>
                 
                </div>

                

              </div> -->

      <div class="col-sm-offset-1 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-9 col-md-8" style="padding: 1%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;color: black;order: 1px solid rgba(128, 128, 128, 0.38);">
          <p>Getting started is easy. Be up and running in minutes.</p>
          <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1   col-md-8 col-sm-9 col-xs-12"  >
               <div style="background: white;border-radius: 18px;border: 1px solid #6ed7fb;border-radius: 18px;">
                 <div class="row" style="margin: 0px;min-height: 54px;">
                    <input class="col-md-7 col-sm-7 col-xs-7 GettingStartedInputTxt" type="text" name="email"  ng-show="GettingStartedBtnTxt == 'Request Early Access'" ng-model="GettingStartedemailId" focus-on="focusMe" ng-focus="clearGSEmail();" ng-blur="outOfGettingStartedFocus()">
                      <button class="col-md-5 col-sm-5 col-xs-5 animate"  ng-class="myValue" ng-click="GettingStartedClicked()">{{GettingStartedBtnTxt}}</button>
                      <input class="col-md-0ffset-6 col-sm-offset-6 col-xs-offset-6 col-md-6 col-sm-6 col-xs-6" style="min-height: 54px;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;padding: 2% 3%;background-color: white;" ng-show="GettingStartedBtnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>
                  </div>
               </div>
             </div>
            </div>
        </div>
      </div>
      

      
    </div>