<div class="row" style="margin: 0px;overflow-y: auto;" ng-style="divHeight"> 
	<div ng-repeat=" team in teamsForCreateChats" ng-if="team.isJoined">
	  <div class="row" style="margin: 0px;color: black;font-size: 20px;text-align: left;margin-top: 0.5%;margin-left: 3%;">
	        <div class="col-md-3"><p >{{team.name}}</p></div>
	        
		</div>
		<div ng-repeat=" member in team.members | currentUser"  ng-if="member.acceptedInvite">
			<div class="row" style="margin: 0px;color: black;font-size: 18px;text-align: left;padding: 0.5% 0;" ng-click="radioBtnChanged(member.userId,team.id)">
		        <div class="col-md-offset-1 col-md-6">
		        	<div class="row">
		        		<div class="col-md-3" style="width: 35px;height: 35px;background: #0098f8;padding: 0;text-align: center;padding-top: 0.7%;border-radius: 23px;font-size: 20px;">{{member.name[0]}}<span ng-if="!member.name">G</span> </div>
		        		<div class="col-md-offset-1 col-md-8" style="padding-top: 1%;">
		        			<span>{{member.name}}</span>
		        			<span ng-if="!member.name">Guest User</span>
		        			<span ng-if="member.email">( {{getDomainName(member.email)}} )</span>
		        		</div>
		        	</div>
		        	

		        </div>
		        <div class="col-md-offset-3 col-md-1" style="text-align: right;">
		         <img src="images/team/arrow-point-to-right.png">
		         </div>
			</div>
			<div class="row" style="margin-right: 0.3%;">
				<div class="col-md-offset-1 col-md-10" style="border-bottom: 0.1px solid rgba(128, 128, 128, 0.35);">
					
				</div>
			</div>
		</div>
	</div>
</div>