<div class="full-slider" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div style="height: 100%;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 100%;">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ng-click="changeCarousel(0)"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" ng-click="changeCarousel(1)"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" ng-click="changeCarousel(2)"></li>
                </ol>
                <div class="carousel-inner" style="height: 100%;">
                    <div class="item active" id="keito-image-1">
                        <img src="images/carousel/home-1.jpg" alt="First slide" style="filter: brightness(75%);">
                         <div class="carousel-caption">
                           <p style="font-size: 5vw;font-weight: 600;margin-bottom: 20px;margin-top: 4%;text-shadow: 0.5px 0.5px;">Reclaim your time</p>
                             <p style="font-size: 34px;font-weight: 400;text-shadow: 0.5px 0.5px;" class="typewriting">
                             Enhanced Productivity due to better Communication.
                            </p> 
                         </div>
                    </div>
                    <div class="item" id="keito-image-2">
                        <img src="images/carousel/Carousel-2.jpg" alt="Second slide" style="filter: brightness(75%);">
                        <div class="carousel-caption">
                           <p style="font-size: 5vw;font-weight: 300;margin-bottom: 20px;margin-top: 4%;text-shadow: 0.5px 0.5px;">Secure. Simple. Connected.</p>
                             <p style="font-size: 34px;font-weight: 400;text-shadow: 0.5px 0.5px;" class="typewriting">
                              Reducing time and cost of communication. All in one place. 
                            </p> 
                         </div>
                    </div>
                    <div class="item" id="keito-image-3">
                        <img src="images/carousel/home-2.jpg" alt="Third slide" style="filter: brightness(75%);">
                        <div class="carousel-caption">
                           <p style="font-size: 5vw;font-weight: 300;margin-bottom: 20px;margin-top: 4%;text-shadow: 0.5px 0.5px;">Communicate. Collaborate. Innovate.</p>
                             <p style="font-size: 34px;font-weight: 400;text-shadow: 0.5px 0.5px;" class="typewriting">
                              For a happy and engaged workforce. 
                            </p> 
                         </div>
                    </div>
                </div>
                
            </div>
            <div class="main-text" style="position: absolute;top: 0px;width: 96.66666666666666%;color: #FFF;">
              <div  class="indexPage">
                <nav class="navbar navbar-default navbar-fixed-top mainClass">
                <div class="container-fluid menuMargin">
                  <div class="row">
                  <div class="navbar-header navImage">
                    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false" style="margin-left:20px">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div class="keito logo"><a href="#"><img src="images/Keito Logo_whitebg_blue.png"></div></a>
                  </div>

                  <div class="collapse navbar-collapse" id="burger">
                    <ul class="nav navbar-nav">
                        <li><a class="visible-xs aStyles" style="font-weight: bold;" href="#">Home</a></li>
                        <li><a class="aStyles" href="#product">Product</a></li>
                       <!-- <li><a class="aStyles pricingColor" href="#pricing">Pricing</a></li> -->
                        <li><a class="aStyles pricingColor" href="#industries" style="cursor: pointer;">Industries</a></li> 
                         <!-- <li><a class="aStyles" href="#support">FAQ</a></li> -->
                        <li><a class="aStyles" href="#contactUs">Contact us</a></li>
                        <li><a class="aStyles signIn"  style="cursor: pointer;" ng-click="GettingStartedemailIdFocus()">Request Early Acccess</a></li>

                        <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                                style="cursor: pointer;">Show More...</a></li>
                        <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
                        <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
                        <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
                        <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
                        <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
                        <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </nav>
            </div>
            <div class="gettingStart">
              <div class="col-sm-offset-1 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-10 col-md-8" style="padding: 1%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;color: black;">
                <p>Getting started is easy. Be up and running in minutes.</p>
                <div class="row">
                  <div class="col-md-offset-2 col-sm-offset-1   col-md-8 col-sm-10 col-xs-12"  >
                     <div style="background: white;border-radius: 18px;border: 1px solid #6ed7fb;border-radius: 18px;">
                       <div class="row" style="margin: 0px;min-height: 54px;">
                          <input class="col-md-7 col-sm-7 col-xs-7 GettingStartedInputTxt" type="text" name="email" ng-show="GettingStartedBtnTxt == 'Request Early Access'" ng-model="GettingStartedemailId" focus-on="focusMe" ng-focus="clearGSEmail();" ng-blur="outOfGettingStartedFocus()">
                          <button class="col-md-5 col-sm-5 col-xs-5 animate"  ng-class="myValue" ng-click="GettingStartedClicked(GettingStartedemailId)">{{GettingStartedBtnTxt}}</button>
                          <input class="col-md-0ffset-6 col-sm-offset-6 col-xs-offset-6 col-md-6 col-sm-6 col-xs-6" style="min-height: 54px;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;padding: 2% 3%;background-color: white;" ng-show="GettingStartedBtnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>
                       </div>
                     </div>
                   </div>
                  </div>
              </div>
            </div>      
          </div>
        </div>
    </div>
</div>

<div style="position: absolute;bottom: 60px;right:0px;text-align: right;">
        <img src="images/gcloud.png" style="width:32%;">
    </div>


