<div style="color: black;font-size: 19px">
  <div class="row" style="overflow: hidden;">
    <div ng-class="largeFormat ? 'col-md-3' : 'col-md-2'" style="padding:1%;float: left;padding-bottom: 100%;margin-bottom: -100%;">
      <div 

      style="width: 100px;height: 100px;margin: auto;border-radius: 50px;background-color: #bbbbbb;color: white;font-size: 14px;">
        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"  style="display: block !important;width: 100px;height: 100px;border-radius: 50px;opacity: 0 !important;position: absolute;overflow: hidden !important;" />
        <img ng-if="Users.getProfile(loggedinuser.id)" data-ng-src="{{Users.getProfile(loggedinuser.id)}}" style="width: 100px;height: 100px;border-radius: 50px;">
        <img ng-if="!Users.getProfile(loggedinuser.id)" src="images/profile/photo-camera.png" style="margin-top: 23%"><br>
        <p>upload image</p>

      </div>
    </div>
    <div ng-class="largeFormat ? 'col-md-9' : 'col-md-6'" style="text-align: left;padding:1%;color: black;float: left;padding-bottom: 100%;margin-bottom: -100%;">
      <div class="row" ng-style="!largeFormat && {'font-size':'15px'}">
        <div ng-class="largeFormat ? 'col-md-2' : 'col-md-1'"> <p> Name</p> </div>
        <div ng-class="largeFormat ? 'col-md-10' : 'col-md-11'" style="text-align: left;"><p> : {{loggedinuser.name}} </p></div>
      </div>
      <div class="row" ng-style="!largeFormat && {'font-size':'15px'}"  >
        <div ng-class="largeFormat ? 'col-md-2' : 'col-md-1'"><p> Mobile</p>  </div>
        <div ng-class="largeFormat ? 'col-md-10' : 'col-md-11'" style="text-align: left;"><p> : {{loggedinuser.mobileNumber}} </p></div>
      </div>
      <div class="row" ng-style="!largeFormat && {'font-size':'15px'}">
        <div ng-class="largeFormat ? 'col-md-2' : 'col-md-1'"> <p> Email</p> </div>
        <div ng-class="largeFormat ? 'col-md-10' : 'col-md-11'" style="text-align: left;"><p> : {{loggedinuser.email}} 
          <img src="images/profile/warning.png" ng-if="loggedinuser.isEmailVerified"  style="width: 5%;">
          <span style="border: 1px solid black;border-radius: 10px;padding: 0 2px;font-size: 13px;" ng-click="resendVerificationMail(loggedinuser.email);">Resend verificatoion email</span>
          <img src="images/profile/warning.png" ng-if="!loggedinuser.isEmailVerified" style="width: 5%;"></p></div>
      </div>
    </div>
    <div class="col-md-4" ng-if="statusFormat" style="background-color: #ebebeb;float: left;padding-bottom: 100%;margin-bottom: -100%;">
      <div><p style="padding-top: 15%;font-size: 22px">Set Status</p></div>
    </div>

    <div class="col-md-4" ng-if="passwordFormat" style="background-color: #ebebeb;float: left;padding-bottom: 100%;margin-bottom: -100%;">
      <div><p style="padding-top: 15%;font-size: 22px">Change Password</p></div>
    </div>


  </div>
  <div style="border-bottom: 1px solid #ebebeb"></div>

  <div ng-show="largeFormat">
    <div class="row" style="margin-left: 0%;margin-top: 1%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p>Show or Hide Profile Picture</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;Display is turned on for all profiles</p></div>
      <div class="col-md-2"> 
        <toggle id="togBtn"  ng-model="showProfilePicture" ng-change="profilePictureViscibility()"  style="ios" on="ON" off="OFF" onstyle="btn-success" offstyle="btn-danger"></toggle> 
      </div>
    </div>
    <div class="row" style="background: #ebebeb;margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Total chats </p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;56 chats are open</p></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Set status to all</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;
        <span ng-if="Users.getStatus(loggedinuser.id)"> {{Users.getStatus(loggedinuser.id)}} </span>
        <span ng-if="!Users.getStatus(loggedinuser.id)">Available</span>
      </p></div>
      <div class="col-md-2" ng-click="setStatus()" >
        <img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png">
      </div>
    </div>

    <div class="row" style="background: #ebebeb;margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Change Password</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;Click here to change</p></div>
      <div class="col-md-2" ng-click="changePassword()" >
        <img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png">
      </div>
    </div>

    <div class="row" style="margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Total discussions</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;38</p></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="background: #ebebeb;margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Clear all chats</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;Click here to clear all chats</p></div>
      <div class="col-md-2"> 
        <toggle ng-model="deleteChatVal" ng-change="deleteChat()" style="ios" on="Delete" off="Dont" onstyle="btn-danger" offstyle="btn-success"></toggle>
      </div>
    </div>

    <div class="row" style="margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Clear discussions</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;Click here to choose discussion and clear</p></div>
      <div class="col-md-2"><img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png"></div>
    </div>

    <div class="row" style="background: #ebebeb;margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> Storage space available</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;510 MB of 1 GB Available</p></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-left: 0%;">
      <div class="col-md-4" style="text-align: left;margin-left: 4%"> <p> View all documents</p></div>
      <div class="col-md-5" style="text-align: left;"> <p>: &nbsp;&nbsp;Click here to view documents</p></div>
      <div class="col-md-2"><img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png"></div>
    </div>
  </div>

  <div ng-show="!largeFormat">
    <div class="row">
      <div class="col-md-8" style="font-size: 15px">
        <div>
          <div class="row" style="margin-left: 0%;margin-top: 1%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p>Show or Hide Profile Picture</p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;On </p></div>
            <div class="col-md-2"> 
              <toggle ng-model="showProfilePicture" ng-change="profilePictureViscibility()" style="ios" on="ON" off="OFF" onstyle="btn-success" offstyle="btn-danger"></toggle> 
            </div>
          </div>
          <div class="row" style="background: #ebebeb;margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Total chats </p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;56</p></div>
            <div class="col-md-2"></div>
          </div>

          <div class="row" style="margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Set status to all</p></div>
            <div class="col-md-4" style="text-align: left;"> 
              <p>: &nbsp;&nbsp; <span ng-if="Users.getStatus(loggedinuser.id)"> {{Users.getStatus(loggedinuser.id)}} </span>
              <span ng-if="!Users.getStatus(loggedinuser.id)">Available</span></p>
            </div>
            <div class="col-md-2" ng-click="setStatus(status)" >
              <img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png">
            </div>
          </div>

           <div class="row" style="background: #ebebeb;margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Change Password</p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;Click here to change</p></div>
            <div class="col-md-2" ng-click="changePassword()" >
              <img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png">
            </div>
          </div>

          

          <div class="row" style="margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Total discussions</p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;38</p></div>
            <div class="col-md-2"></div>
          </div>

          <div class="row" style="background: #ebebeb;margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Clear all chats</p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;Clear chats</p></div>
            <div class="col-md-2"> 
              <toggle class="smallFormat" ng-model="deleteChatVal" ng-change="deleteChat()" style="ios" on="Delete" off="Dont" onstyle="btn-danger" offstyle="btn-success"></toggle>
            </div>
          </div>

          <div class="row" style="margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Clear discussions</p></div>
            <div class="col-md-4" style="text-align: left;padding-right: 0px"> <p>: &nbsp;&nbsp;Choose from discussions</p></div>
            <div class="col-md-2"><img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png"></div>
          </div>

          <div class="row" style="background: #ebebeb;margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> Storage space available</p></div>
            <div class="col-md-4" style="text-align: left;padding-right: 0px"> <p>: &nbsp;&nbsp;510 MB of 1 GB Available</p></div>
            <div class="col-md-2"></div>
          </div>

          <div class="row" style="margin-left: 0%;">
            <div class="col-md-offset-1 col-md-5" style="text-align: left;"> <p> View all documents</p></div>
            <div class="col-md-4" style="text-align: left;"> <p>: &nbsp;&nbsp;View documents</p></div>
            <div class="col-md-2"><img style="vertical-align: -webkit-baseline-middle" src="images/signUp/arrow-point-to-right (1).png"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding-top: 2%"  ng-show="statusFormat"> 
        <div class="row" style="margin-top: 5%;margin-bottom: 5%;" ng-click="setStatusDone('Available')">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div style="width: 60%;margin: auto;height: 33px;background: #00dd8d;border-radius: 30px;"> </div>
          </div>
          <div class="col-md-6" style="text-align:left">
            <div><p style="margin: 0px;margin-top:2%;" ng-class="{statusStyle: status == 'Available'}">Available</p></div>
          </div>
        </div>

        <div class="row" style="margin-top: 5%;margin-bottom: 5%;" ng-click="setStatusDone('Away')">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div style="width: 60%;margin: auto;height: 33px;background: #ffed85;border-radius: 30px;"> </div>
          </div>
          <div class="col-md-6" style="text-align:left">
            <div><p style="margin: 0px;margin-top:2%;" ng-class="{statusStyle: status == 'Away'}">Away</p></div>
          </div>
        </div>

        <div class="row" style="margin-top: 5%;margin-bottom: 5%;" ng-click="setStatusDone('Busy')">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div style="width: 60%;margin: auto;height: 33px;background: #ff7d7b;border-radius: 30px;"> </div>
          </div>
          <div class="col-md-6" style="text-align:left">
            <div><p style="margin: 0px;margin-top:2%;" ng-class="{statusStyle: status == 'Busy'}">Busy</p></div>
          </div>
        </div>

        <div class="row" style="margin-top: 5%;margin-bottom: 5%;" ng-click="setStatusDone('Do no Disturb')">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div style="width: 60%;margin: auto;height: 33px;background: #ac5453;border-radius: 30px;"> </div>
          </div>
          <div class="col-md-6" style="text-align:left">
            <div><p style="margin: 0px;margin-top:2%;" ng-class="{statusStyle: status == 'Do no Disturb'}">Do Not Disturb</p></div>
          </div>
        </div>

        <div class="row" style="margin-top: 5%;margin-bottom: 2%;" ng-click="setStatusDone('Not At Work')">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div style="width: 60%;margin: auto;height: 33px;background: #929292;border-radius: 30px;"> </div>
          </div>
          <div class="col-md-6" style="text-align:left">
            <div><p style="margin: 0px;margin-top:2%;" ng-class="{statusStyle: status == 'Not At Work'}">Not At Work</p></div>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="padding-top: 2%"  ng-show="passwordFormat">
        <input type="password" name="currentPassword" ng-model="currentPassword" placeholder="Current Password" style="width: 75%;padding: 0% 2%;margin: 4% 0%;border-radius: 16px;border: 2px solid rgba(86, 83, 83, 0.67);">

        <input type="password" name="newPassword" ng-model="newPassword" placeholder="New Password"  style="width: 75%;margin: 4% 0;padding: 0% 2%;border-radius: 16px;border: 2px solid rgba(86, 83, 83, 0.67);">

        <input type="password" name="confirmNewPassword" ng-model="confirmNewPassword" placeholder="Confirm New Password" style="width: 75%;padding: 0% 2%;margin: 4% 0%;border-radius: 16px;border: 2px solid rgba(86, 83, 83, 0.67);">

        <button style="background: #0a5e97;border: none;width: 75%;padding: 5px 0px;color: white;border-radius: 16px;font-size: 18px;margin-top: 10%;" ng-click="changeEmailPassword(currentPassword,newPassword,confirmNewPassword)"> CHANGE PASSWORD</button>
      </div>
      
    </div>
  </div>

  

</div>