<div>
	<div style="background-color: #0a5e97">
	  <div style="font-size: 21px;font-weight: bold;color: white;padding: 3%">
	    <div ui-sref="home" style="cursor: pointer;">
	     <!--  <a href="#"><img src="images/Keito Logo_whitebg_blue.png" style="width:3%;"></a> -->
	      <img src="images/signUp/arrow-pointing-to-left.png" width="3%" style="margin-right: 2%">
	      <span>Home</span>
	    </div>
	  </div>
	  <div style="font-size: 5vw;color: white;text-align: center;font-weight: bold;padding: 0 0 5%;">
	    Our Team
	  </div>
	</div>

	<div class="row teamBox"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div style="min-height: 190px;">
						<img class="teamDiv"  src="images/teammembers/Amal.jpg">
					</div>
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Serial entrepreneur and visionary. 2yrs of industrial experience in product design and architecture in Egdeverve (Infosys subsidiary) and Infosys. Act as a wildcard. Driving the mobility driven SaaS business for Keito.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Amal PS</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Founder and CEO.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div   style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/vishnu.jpg" ></div>
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Member of the Board @ODCA | Entrepreneur A total industry experience of 25 years and the last 22 years has been with Infosys. While at Infosys he was heading the business of Cloud and Infrastructure services globally.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Vishnu Bhat</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Advisor.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row teamBox"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div   style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/jenny.jpg"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">- Recently CPO Bluescape | Founder and CEO SaaS startup in stealth mode A Silicon Valley veteran, she's started, led, managed and scaled new and established SaaS businesses for over 20 years.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Jenny Rutherford</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Advisor.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div  style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/Nithin.jpg"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Techie - have played a key role in two start-ups.1.5 yrs of industrial experience in R&D mobility and wearable technologies in Infosys Labs.Currently pursuing MS in security.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Nithin James</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;">Mobility Architect.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>

	<div class="row teamBox" > 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div  style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/Johns.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Creative, sharp and talented designer. Been apart of many designing teams in his career. Person behind the experience that matches world class products in the market.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Johns</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Lead UX-Designer.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div style="min-height: 190px;" ><img class="teamDiv"  src="images/teammembers/sudha.jpg"  ></div>
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Passionate and career oriented women, working over 3yrs in latest technology platforms. Previously part of Infosys Labs and one of the top MNC’s. Now leading web development for Keito.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Sudha CH</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Lead Platform Engineer.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row teamBox"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div style="min-height: 190px;" ><img class="teamDiv"  src="images/teammembers/Yadhu.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Technically sound android engineer. Strengths are chatting applications, notifications and performance. Experience over 5yrs in Android application development and releasing.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName" >
						<span style="font-weight: bold;font-size: 20px;">Yadhu</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Lead Android Engineer.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;"> 
					
					<div style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/user-profile-notselected.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Experience over 3yrs. Techie and strategist. Keen in latest technologies - experience in angular and back-end technologies which includes Mongo(NoSQL), Google Cloud platforms etc... Handling the backend functionalities for Keito and leading his way to be a defined architect.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName" >
						<span style="font-weight: bold;font-size: 20px;">Shabin</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Lead Server Engineer.</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row teamBox"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div  style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/ajay.jpg" ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Currently persuing a Dual Degree Master of Computer Application(DDMCA) at Sree Narayana Guru Institute of Science and Technology(SNGIST), and leading a team of 5 called Stern.He's passionate to explore the Art of Programming.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName"  >
						<span style="font-weight: bold;font-size: 20px;">Ajay</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Intern Android Eng-1..</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					 
					<div style="min-height: 190px;"><img class="teamDiv" src="images/teammembers/armin.jpg"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">I'm pursuing B.E. in Computer branch in International Institute of Information Technology, Pune(2014-2018). I've been assigned as a marketing intern in Keito. Keen to try out new ideas and strategies for successful growth of the firm.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName">
						<span style="font-weight: bold;font-size: 20px;">Armin</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Marketing Intern</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div ng-hide="showInterns" class="row" style="margin: 3% 8%;padding: 1%;text-align: center;font-size: 20px;border: 2px solid #11649b;border-radius: 22px;" ng-click="showInterns=true">
		<span style="font-weight: bold;">Click here to see all our Interns</span> (we are proud of them)
	</div>


	<div class="row teamBox" ng-show="showInterns"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;opacity: 0.4;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					 
					<div style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/user-profile-notselected.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Passionate to learn and handles the admin panel, web-development for the product. He is undergoing our advanced internship programme and strives to be a part of the team.</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName" style="color: grey">
						<span style="font-weight: bold;font-size: 20px;">Beemon</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Intern Platform Engineer-2</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;opacity: 0.4;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div style="min-height: 190px;"><img class="teamDiv"  src="images/teammembers/Prince.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Pursuing his studies joined as an intern in our firm and been a valuable contributor to the team. B-Tech in Mar Athanasius College of Engineering,Kothamangalam in computer science and engineering(2013-17).</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName" style="color: grey">
						<span style="font-weight: bold;font-size: 20px;">Prince</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Intern UX Design-1</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<div class="row teamBox" ng-show="showInterns"> 
		<div class="col-md-5 col-sm-5 firstMember" style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;opacity: 0.4;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					 
					<div style="min-height: 190px;"><img class="teamDiv" src="images/teammembers/Shrimadhav.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Pursuing his studies was selected for an internship and successfully completed the same. B-Tech in NIT, Calicut in computer science and engineering(2013-17).</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName"  style="color: grey">
						<span style="font-weight: bold;font-size: 20px;">Shrimadhav</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Intern Platform Engineer-1</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5"  style="border-radius: 11px;padding: 3% 3% 0% 3%;border: 2px solid #11649b;opacity: 0.4;">
			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					
					<div style="min-height: 190px;"><img class="teamDiv" src="images/teammembers/Sanath.png"  ></div>
					
				</div>
				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<p class="teamDescription" style="margin-left: 6% ">Pursuing his studies was selected for an internship and successfully completed the same. B-Tech in NIT, Calicut in computer science and engineering(2013-17).</p>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" style="padding-right: 0px;">
					<div class="teammemberName" style="color: grey">
						<span style="font-weight: bold;font-size: 20px;">Sanath</span><br>
						<span style="letter-spacing: 0.5px;font-size: 14.5px;"> Intern UI Design-1</span>
					</div>
				</div>

				<div class="col-md-8" style="font-size: 17px;color: grey;letter-spacing: 0.5px;font-weight: 300;padding: 0px">
					<div  class="row teamSocialNw">
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.facebook.com/keitoforbusiness">
								<img src="images/facebook-logo.png" style="width: 30px;">
							</a> 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.twitter.com/hqkeito">
								<img src="images/twitter-logo-silhouette (1).png" style="width: 30px;"> 
							</a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4"> 
							<a href="http://www.linkedin.com/company/keito">
								<img src="images/linkedin-logo.png" style="width: 30px;">
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	
</div>