<div  class="indexPage">
  <div class="navPageCol">
  <nav class="navbar navbar-default navbar-fixed-top mainClass">
    <div class="container-fluid menuMargin">
      <div class="row">
        <div class="navbar-header hidden-sm  col-lg-4  col-md-4 navImage">
          <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="keito hidden-xs"><a href="#"><img  style="width: 15%;" src="images/Keito Logo_trans_gray (1).png"></a></div>
        </div>

        <div class="collapse navbar-collapse" id="burger">
          <ul class="nav navbar-nav" style="padding-top: 0px">
            <li><a class="hidden-sm hidden-md hidden-lg aStyles" href="#">Home</a></li>
            <li><a class="aStyles" href="#product">Product</a></li>
            <li><a class="aStyles pricingColor" style="font-weight: bold;" href="#pricing">Pricing</a></li>
            <li><a class="aStyles" ng-click="subscribe()" style="cursor: pointer;">Industries</a></li>  
            <li><a class="aStyles" href="#support">FAQ</a></li>
            <li><a class="aStyles" href="#contactUs">Contact us</a></li>
            <li><a class="aStyles signIn" ng-click="subscribe()" style="cursor: pointer;">Sign In</a></li> 
            <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                      style="cursor: pointer;">Show More...</a></li>
              <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
              <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
              <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
              <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div style="border:1px solid #eee;padding-top: 7.5%;"></div>

  <div class="pricingHeader">
    <p> Pricing</p>
  </div>

  <div class="row hidden-sm hidden-xs">
    <div class="col-md-offset-7 col-md-4" >
      <div class="row">
         <div class="col-md-offset-7 col-md-5 priceVal" >
          <p style="margin: 0px;font-size: 13px;color: #2ba0ed;">Preferred for you</p>
        </div>
      </div> 
    </div>
  </div> 


  <div class="row hidden-sm hidden-xs" style="margin: 0px">

    <div class="col-md-offset-3 col-md-4" ng-click="priceBasSelect()">
      <div class="row priceValOtr" ng-class="priceActiveBas">
        <div class="col-md-7 pricingType">
          <span ng-class="basicTxtclr">Standard </span>
          <p style="margin: 0px;font-size: 17px;">For small teams, start-ups and growing businesses</p>
          <br>
        </div>
        <div class="col-md-5 priceVal" >
          <div class="row">
            <div class="col-md-offset-2 col-md-8 priceValue" ng-class="priceActiveValBas" >2.99 $</div>
          </div>
          <p class="pricePerUser">per user per month</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-click="pricePreSelect()">
      <div class="row priceValOtr" ng-class="priceActivePre">
        <div class="col-md-7 pricingType" style="padding-right: 0px;">
          <span ng-class="preTxtclr">Premium </span>
          <p style="margin: 0px;font-size: 17px;">For large teams & organizations who want to get Enterprise grade features</p>
          
        </div>
        <div class="col-md-5 priceVal" >
          <div class="row">
            <div class="col-md-offset-2 col-md-8 priceValue" ng-class="priceActiveValPre">5.99 $</div>
          </div>
          <p class="pricePerUser">per user per month</p>
        </div>
      </div> 
    </div>
  </div>


  <div class="row hidden-sm hidden-xs" style="padding-top: 10px;margin: 0px">
    <div class="col-md-3 titlesPadding">
      <div class="priceDetails" >
        <div class="pricingDiv pricingDivHeader">Storage</div>
        <div class="pricingDiv pricingDivHeader">Document search</div>
        <div class="pricingDiv pricingDivHeader">Guest access</div>
        <div class="pricingDiv pricingDivHeader">Admin panel</div>
        <div class="pricingDiv pricingDivHeader">Public groups</div>
        <div class="pricingDiv pricingDivHeader">Number of teams</div>
        <div class="pricingDiv pricingDivHeader">Maximum Team size</div>
        <div class="pricingDiv pricingDivHeader singlePlatform" >Single platform- experience (Manage mail through Keito)</div>
        <div class="pricingDiv pricingDivHeader">Support</div>
        <div class="pricingDiv pricingDivHeader">Authentication</div>
      </div>
    </div> 
    <div class="col-md-4" ng-click="priceBasSelect()">
      <div class="priceDetails" ng-class="priceActiveBas">
        <div class="pricingDiv" >1 GB per user</div>
        <div class="pricingDiv">Online mode</div>
        <div class="pricingDiv">Limited</div>
        <div class="pricingDiv">Basic panel</div>
        <div class="pricingDiv">Pre-defined public groups</div>
        <div class="pricingDiv">unlimited </div>
        <div class="pricingDiv">30 members</div>
        <div class="pricingDiv singlePlatform" >Not Available</div>
        <div class="pricingDiv">24*7 through mails, with 12 hrs response time </div>
        <div class="pricingDiv">Optional Two factor authentication</div>
      </div>
    </div>
    <div class="col-md-4" ng-click="pricePreSelect()">
      <div class="priceDetails" ng-class="priceActivePre">
        <div class="pricingDiv" >10 GB per user</div>
        <div class="pricingDiv" >Both Online & Offline mode</div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv" >Advanced panel</div>
        <div class="pricingDiv" >Unlimited public groups </div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv singlePlatform" >Available</div>
        <div class="pricingDiv">24*7 support with 6 hrs response time </div>
        <div class="pricingDiv">Mandatory Two factor authentication</div>
      </div>
    </div> 
  </div>

  <div class="row hidden-sm hidden-xs">
    <div class="col-md-offset-3 col-md-4" ng-click="priceBasSelect()">
      <div class="row priceBtn" ng-class="actvPriceBtnBas" ng-click="subscribe()">
        <span>Buy Basic</span>
      </div>
    </div>
    <div class="col-md-4" ng-click="pricePreSelect()">
      <div class="row priceBtn" ng-class="actvPriceBtnPre" ng-click="subscribe()">
        <span>Buy Premium</span>
      </div> 
    </div>
  </div>

  <div class="row hidden-sm hidden-xs" style="padding-top: 10px;margin: 0px">
    <div class="col-md-3 titlesPadding" >
      <div class="priceTypeHeader">
        <div class="pricingDiv">Annually per user</div>
        <div class="pricingDiv">Early bird offer</div>
      </div>
    </div> 
    <div class="col-md-4" >
      <div class="priceTypeVal">
        <div class="pricingDiv" style="font-weight: bold;">Not available for now</div>
        <div class="pricingDiv">0 $ per user per month</div>
        <div class="pricingDiv" style="min-height: 0px;font-weight: bold;"> Learn More
          <img src="images/learn_more.png" style="width: 6%">
        </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="priceTypeVal">
        <div class="pricingDiv" style="font-weight: bold;">
          <span>2.99 $ (Save 50% yearly)</span>
          <div class="col-md-offset-3 col-md-6" style="margin-top:1px;border-top: 1px solid black"></div>
        </div>
        <div class="pricingDiv" >3.99 $ per user per month</div>
        <div class="pricingDiv" style="min-height: 0px;font-weight: bold;"> Learn More
            <img src="images/learn_more.png" style="width: 6%">
        </div>
    </div> 
  </div>
  </div>

  

  <div class="row  hidden-md hidden-lg" style="margin: 0 3%">
     <div class="col-sm-12 col-xs-12" ng-click="priceBasSelect()">
      <div class="row priceValOtr" ng-class="priceActiveBas">
        <div class="col-sm-7 col-xs-7 pricingType">
          <span ng-class="basicTxtclr">Standard </span>
          <p style="margin: 0px;font-size: 17px;">For small teams, start-ups and growing businesses</p>
          <br>
        </div>
        <div class="col-sm-5  col-xs-5 priceVal" >
          <div class="row">
            <div class="col-sm-offset-4 col-sm-6 col-xs-offset-2 col-xs-7 priceValue" ng-class="priceActiveValBas" >2.99 $</div>
          </div>
          <p class="pricePerUser">per user per month</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden-md hidden-lg" style="padding-top: 10px;margin: 0 3%">
    <div class="col-sm-4 col-xs-5">
      <div class="priceDetails" >
        <div class="pricingDiv pricingDivHeader">Storage</div>
        <div class="pricingDiv pricingDivHeader">Document search</div>
        <div class="pricingDiv pricingDivHeader">Guest access</div>
        <div class="pricingDiv pricingDivHeader">Admin panel</div>
        <div class="pricingDiv pricingDivHeader">Public groups</div>
        <div class="pricingDiv pricingDivHeader">Number of teams</div>
        <div class="pricingDiv pricingDivHeader">Maximum Team size</div>
        <div class="pricingDiv pricingDivHeader singlePlatform" >Single platform- experience (Manage mail through Keito)</div>
        <div class="pricingDiv pricingDivHeader">Support</div>
        <div class="pricingDiv pricingDivHeader">Authentication</div>
      </div>
    </div> 
    <div class="col-sm-8 col-xs-7" ng-click="priceBasSelect()">
      <div class="priceDetails" ng-class="priceActiveBas">
        <div class="pricingDiv" >1 GB per user</div>
        <div class="pricingDiv">Online mode</div>
        <div class="pricingDiv">Limited</div>
        <div class="pricingDiv">Basic panel</div>
        <div class="pricingDiv">Pre-defined public groups</div>
        <div class="pricingDiv">unlimited </div>
        <div class="pricingDiv">30 members</div>
        <div class="pricingDiv singlePlatform" style="height: 70px;">Not Available</div>
        <div class="pricingDiv">24*7 through mails, with 12 hrs response time </div>
        <div class="pricingDiv">Optional Two factor authentication</div>
      </div>
    </div> 
  </div>

  <div class="row  hidden-md hidden-lg" style="margin:0 3%;padding-top: 10px;">
    <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10" ng-click="priceBasSelect()">
      <div class="row priceBtn" ng-class="actvPriceBtnBas" ng-click="subscribe()">
        <span>Buy Basic</span>
      </div>      
    </div>
  </div>

  <div class="row  hidden-md hidden-lg" style="padding-top: 10px; margin: 0 3%;">
    <div class="col-sm-4 col-xs-5" >
      <div class="priceTypeHeader">
        <div class="pricingDiv">Annually per user</div>
        <div class="pricingDiv">Early bird offer</div>
      </div>
    </div> 
    <div class="col-sm-8 col-xs-7" >
      <div class="priceTypeVal">
        <div class="pricingDiv" style="font-weight: bold;">Not available for now</div>
        <div class="pricingDiv">0 $ per user per month</div>
        <div class="pricingDiv" style="min-height: 0px;font-weight: bold;"> Learn More
          <img src="images/learn_more.png" style="width: 6%">
        </div>
      </div>
    </div>
  </div>


  <div class="row hidden-md hidden-lg" style="margin: 0px;margin-top: 10%;">
    <div class="col-sm-12 col-xs-12" >
      <div class="row">
         <div class="col-sm-offset-7 col-xs-offset-7  col-sm-5 col-xs-5 "  style="text-align: right;">
          <p style="margin: 0px;font-size: 13px;color: #2ba0ed;">Preferred for you</p>
        </div>
      </div> 
    </div>
  </div>


  <div class="row  hidden-md hidden-lg" >
    <div class="col-sm-12 col-xs-12" ng-click="pricePreSelect()">
      <div class="row priceValOtr" ng-class="priceActivePre">
        <div class="col-sm-7 col-xs-7 pricingType" style="padding-right: 0px;">
          <span ng-class="preTxtclr">Premium </span>
          <p style="margin: 0px;font-size: 17px;">For large teams & organizations who want to get Enterprise grade features</p>
          
        </div>
        <div class="col-sm-5 col-xs-5 priceVal" >
          <div class="row">
            <div class="col-sm-offset-4 col-sm-6 col-xs-offset-2 col-xs-7 priceValue" ng-class="priceActiveValPre">5.99 $</div>
          </div>
          <p class="pricePerUser">per user per month</p>
        </div>
      </div> 
    </div>
  </div>

  <div class="row hidden-md hidden-lg" style="padding-top: 10px;margin: 0 3%">
    <div class="col-sm-4 col-xs-5">
      <div class="priceDetails" >
        <div class="pricingDiv pricingDivHeader">Storage</div>
        <div class="pricingDiv pricingDivHeader">Document search</div>
        <div class="pricingDiv pricingDivHeader">Guest access</div>
        <div class="pricingDiv pricingDivHeader">Admin panel</div>
        <div class="pricingDiv pricingDivHeader">Public groups</div>
        <div class="pricingDiv pricingDivHeader">Number of teams</div>
        <div class="pricingDiv pricingDivHeader">Maximum Team size</div>
        <div class="pricingDiv pricingDivHeader singlePlatform" style="height: 70px;">Single platform- experience (Manage mail through Keito)</div>
        <div class="pricingDiv pricingDivHeader">Support</div>
        <div class="pricingDiv pricingDivHeader">Authentication</div>
      </div>
    </div> 
    <div class="col-sm-8 col-xs-7" ng-click="pricePreSelect()">
      <div class="priceDetails" ng-class="priceActivePre">
        <div class="pricingDiv" >10 GB per user</div>
        <div class="pricingDiv" >Both Online & Offline mode</div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv" >Advanced panel</div>
        <div class="pricingDiv" >Unlimited public groups </div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv" >Unlimited</div>
        <div class="pricingDiv singlePlatform" >Available</div>
        <div class="pricingDiv">24*7 support with 6 hrs response time </div>
        <div class="pricingDiv">Mandatory Two factor authentication</div>
      </div>
    </div> 
  </div>


  <div class="row  hidden-md hidden-lg" style="margin:0 3%;padding-top: 10px;">
    <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10" ng-click="pricePreSelect()">
      <div class="row priceBtn" ng-class="actvPriceBtnPre" ng-click="subscribe()">
        <span>Buy Premium</span>
      </div> 
    </div>
  </div>

  <div class="row  hidden-md hidden-lg" style="padding-top: 10px; margin: 0 3%;">
    <div class="col-sm-4 col-xs-5" >
      <div class="priceTypeHeader">
        <div class="pricingDiv">Annually per user</div>
        <div class="pricingDiv">Early bird offer</div>
      </div>
    </div> 
    <div class="col-sm-8 col-xs-7" >
      <div class="priceTypeVal">
        <div class="pricingDiv" style="font-weight: bold;">
          <span>2.99 $ (Save 50% yearly)</span>
          <div class="col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6" style="margin-top:1px;border-top: 1px solid black"></div>
        </div>
        <div class="pricingDiv" >3.99 $ per user per month</div>
        <div class="pricingDiv" style="min-height: 0px;font-weight: bold;"> Learn More
            <img src="images/learn_more.png" style="width: 6%">
        </div>
    </div>
    </div>
  </div>

  



  <div style="background-color: #1497EC;color: white;margin-top: 10px;">
    <p class="pricingFeaturesHeader">All the above plans include the following great features.</p>
    <div class="row">
      <div class= "col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2 pricingFeatures">
        <img src="images/pricing/k1.png"><br>
         <span class="hidden-xs"> Guaranteed<br>
        Uptime </span>

        <span class="visible-xs">  Time</span>

      </div>
      <div class= "col-md-2 col-sm-2 col-xs-2 pricingFeatures">
        <img  src="images/pricing/k2.png" > <br>
        <span class="hidden-xs"> Unlimited<br> 
        Teams </span>

        <span class="visible-xs">  Teams</span>

      </div>
      <div class= "col-md-2 col-sm-2 col-xs-2 pricingFeatures">
        <img  src="images/pricing/k3.png"> <br>
         <span class="hidden-xs">Availability on <br>
        Android, iOS, Web </span>
        <span class="visible-xs"> Availability</span>
      </div>
      <div class= "col-md-2 col-sm-2 col-xs-2 pricingFeatures">
        <img src="images/pricing/k4.png"> <br>
         <span class="hidden-xs">Recordable <br>
        discussions & chat </span>
        <span class="visible-xs">Discussions</span>
      </div>
      <div class= "col-md-2 col-sm-2 col-xs-2 pricingFeatures">
        <img src="images/pricing/k5.png"> <br>
         <span class="hidden-xs">Enterprise grade security <br>
        (Check FAQ) </span>
        <span class="visible-xs"> Security</span>
      </div>
    </div>
    
    <div class="col-md-offset-1 col-md-10"><hr></div>
    <div class="row" style="padding-bottom: 25px;margin:2px; ">
      <div style="margin-top: 1%">
        <div class="col-sm-offset-2 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-8 col-md-8" style="padding: 1%;margin-bottom: 3%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;">
          <p style="color: black;">Getting started is easy. Be up and running in minutes.</p>
          <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-6" style="text-align: center;color: #6ed7fb;">
              <button class="col-md-offset-3 col-md-9" style="padding: 3% 10%;background: white;border-radius: 18px;border: 1px solid #6ed7fb;" ng-click="subscribe()">Request a Demo</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">
              <button class="col-md-9" style="padding: 3% 0%;background: #6ed7fb;border-radius: 18px;color: white;border: 0px" ng-click="subscribe()">Create a Free Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricingHeader">
    <p>Our clients.</p>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: left;"><img src="images/arrowhead-thin-outline-to-the-left.png"></div>
    <div class="col-md-6 col-xs-6 col-sm-6" style="text-align: right;"><img src="images/arrow-point-to-right.png"></div>
  </div>

</div>