<div style="background-color: #0a5e97">
  <div style="font-size: 21px;font-weight: bold;color: white;padding: 3%">
    <div ui-sref="home" style="cursor: pointer;">
      <!-- <a href="#"><img src="images/Keito Logo_whitebg_blue.png" style="width:3%;"></a> -->
      <img src="images/signUp/arrow-pointing-to-left.png" width="3%" style="margin-right: 2%">
      <span>Home</span>
    </div>
  </div>
  <div style="font-size: 5vw;color: white;text-align: center;font-weight: bold;padding: 0 0 5%;">
    Privacy Policy
  </div>
</div>

<div class="row" style="margin: 4% 5%;">
	<div class="col-md-12" >
		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 23px;font-weight: bold;padding-left: 0px;">Privacy Policy</div>
			<div class="col-md-offset-2 col-md-3"> 
				<div style="color: #1e679b;font-weight: bold;font-size: 15px;">Date : 22nd Mar, 2017</div> 
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">1.<span style="margin-left: 3%;">Introduction</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">Welcome to [domain name] a portal run by Keito Tech Private Limited (“Keito”). Keito is committed to respecting your online privacy and recognizes your need for appropriate protection and management of any information you share with Keito on [domain name] (the “Website”).</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">2.<span style="margin-left: 3%;">Scope</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">This privacy policy (“Policy”) is an electronic record in the form of an electronic contract formed under the Indian Information Technology Act, 2000 and the rules made there under. This Policydoes not require any physical, electronic or digital signature. This Policy is a legally binding document between you and Keito. The terms of this Policy will be effective upon your acceptance of the same by use of the Website and will govern the relationship between you and Keito for your use of the Website.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">3.<span style="margin-left: 3%;">Consent</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">By mere use of the Website, you expressly consent to Keito’s use and disclosure of your Personal Information in accordance with this Policy. If you do not agree with the terms of this Policy, please do not use this Website. This Policy shall be deemed to be incorporated into the Terms of Use of the Website and shall be read in addition to the Terms of Service.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">4 <span style="margin-left: 3%;">What Information Is Collected</span></div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">4.1.</span>The Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 defines “Personal Information” as any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with a body corporate, is capable of identifying such person.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">4.2.</span>For the purpose of this Policy, the term “<b>Personal Information</b>” shall mean any information you provide to Keito and shall include, without limitation your name, phone number, e-mail address, age, gender, date of birth, country name, your financial information such as bank account or credit card or debit card or other payment details, your email ID and password.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">4.3.</span>For the purpose of this Policy, the term “<b>Non-Personal Information</b>” shall mean information that does not specifically identify an individual but includes information from you, such as the type of internet browser you use, mobile device you use, your computer or your mobile device’s unique device ID, the URL of the previous website you visited, your computer’s operating system, your Internet Service Provider (ISP) and your Internet Protocol (IP) address. Keito may also collect Non-Personal Information that you voluntarily provide, such as information included in response to a questionnaire or a survey conducted by Keito. Since Non-Personal Information does not personally identify you, Keito may use and disclose Non-Personal Information for any purpose as set out in this Policy.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">5 <span style="margin-left: 3%;">Collection of Information</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">5.1.</span>Keito may collect information from you when you create an account on the Website through your e-mail account, when you use the features on the Website, when you participate in surveys conducted by Keito on the Website and when you carry out transactions on the Website.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">5.2.</span>Keito may use cookies to monitor the Website usage including, without limitation, to provide useful features to simplify your experience when you return to the Website, like remembering your login ID and certain Personal Information and to deliver relevant content based on your preferences, usage patterns and location.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">5.3.</span>You may be also required to provide your credit/debit card details. Keito will use this information only for billing purposes. For your convenience and if permitted by you, Keito will save the billing information in the event you would like to carry out any other transaction on the Website again.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">5.4.</span>You may use the Website without providing Keito any Personal Information about yourself. However, you may not be able to access certain services of the Website in case you choose to do so.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">6 <span style="margin-left: 3%;">Use of Information</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">Keito uses your Personal and Non-Personal Information for certain purposes including but not limited to:</p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">6.1.</span><u>Service-related Purpose</u></p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">6.1.1. enabling you to use the Website <u >and/or our mobile application;</u></p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">6.1.2. providing you with information about products and services available on the Website;</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">6.1.3. resolving any glitches on the Website including addressing any technical problems;</u></p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">6.1.4. improving your experience of navigating through the Website and carrying out transactions on the Website; and;</u></p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">6.1.5. improving the services and content on the Website.</u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">6.2.</span><u>Internal Business Purpose</u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">Keito may use your Non-Personal Information for internal business purposes, such as data analysis, research, developing new features, enhancing and improving existing services and in identifying usage trends. This information helps Keito to constantly improve, personalize and customize the products and services it provides to you.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">7 <span style="margin-left: 3%;">Sharing of Information</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">Keito may disclose your Personal Information in the following ways:</p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">7.1.</span><u>Disclosure to governmental authorities or as required by law</u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">Keito may share your Personal Information with governmental and/or statutory authorities in response to subpoenas, court orders, or other legal process; to establish or exercise legal rights; to defend against legal claims; or as otherwise required by law. Keito warrants that such information will be disclosed only in accordance with applicable laws and regulations.</p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">7.2.</span><u>Disclosure to Acquirers</u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">Keito may disclose and/or transfer your Personal Information to an acquirer, assignee or other successor entity in connection with a sale, merger, or reorganization of all or substantially all of the equity, business or assets of Keito.</p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">7.3.</span><u>Disclosure to Merchants </u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">When you make a transaction on the Website, Keito may disclose your Personal Information with the merchant, with whom you have entered into the transaction with, to enable the merchant to complete your transaction.</p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">7.4.</span><u>Disclosure to Facilitate Payment</u></p>
			</div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;">In order to process your transactions, Keito may direct you to a payment gateway service provider of its own choice, which may have access to the Personal Information provided by you while making such payment.</p>
			</div>
		</div>


		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">8 <span style="margin-left: 3%;">Protection of Information</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">8.1.</span>Keito has taken adequate measures to protect the security of your Personal Information and to ensure that your choices for its intended use are honoured. Keito takes adequate precautions to protect your data from loss, misuse, unauthorized access or disclosure, alteration, or destruction.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">8.2.</span>Keito assures you that your information is safe and secure. It uses industry standards,and physical, technical and administrative security measures to keep your Personal Information confidential and secure and Keito shall not share your Personal Information with third parties, except as otherwise provided in this Policy.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">8.3.</span>Keito uses the encryption technology called [name of the technology], which helps to protect your Personal Information. Please note that e-mails, messaging and means of communication with Keito are not encrypted, and therefore Keito strongly advises you not to communicate any confidential information through these means.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">8.4.</span>Access to your online account on the Website is through your e-mail <span >and/or mobile phone number</span> which is password protected and this helps to secure your account information. You are solely responsible for maintaining the confidentiality of that password. To ensure safety of your Personal Information, you are advised against sharing your user name and password with anyone.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">9 <span style="margin-left: 3%;">Data Security</span> </div>
		</div>
		

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">9.1.</span><span >Access to the Website is secured by two level authentication i.e. you shall have to provide the account password and the one time password sent to your registered mobile number. Keito may also authenticate your access to the Website by way of mobile personal identification number.</span></p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">9.2.</span><span >Your data shall be stored on Google Cloud and you hereby acknowledge and understand that your data shall be subject to the terms and conditions, privacy policy and security measures as may be developed by Google in this regard. At Keito, employees and other personnel or consultants will have limited access to data stored on a need-to- know basis.</span></p>
			</div>
		</div>
		<!--<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">9.3.</span><span style="text-decoration: line-through;">At Keito, data is stored in password-controlled servers with limited access to employees and other personnel or consultants on a need-to- know basis.</span></p>
			</div>
		</div> -->
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">9.3.</span><span >In case of dedicated enterprise customers, Keito shall host its servers from their premises, who shall own the firebase, however, such customers shall provide Keito the access to firebase for providing technical support.</span></p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">10 <span style="margin-left: 3%;">Back Up</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">While we try to keep the Website bug-free and secure, we cannot guarantee that we will be successful in doing so, therefore, your use of the Website is at your own risk. Accordingly, you acknowledge that you bear sole responsibility for adequate security, protection and backup of your data. Keito will have no liability towards you for any unauthorized access to or use of any of your data, or any corruption, deletion, destruction or loss of any of your data. Backup preferences can be set by you for taking backup of data related to your account while the organisation may set the preferences for backup of data belonging to the users of the organisation.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">11 <span style="margin-left: 3%;">Cookies and Other Tracking Technologies</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">11.1.</span>The Website utilizes cookies and other tracking technologies including any proprietary or third party tracking services. A cookie is a small text file that may be used, for example, to collect information about the Website activity. Some cookies and other technologies may serve to recall Personal and/or Non-Personal Information previously indicated by a Website user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">11.2.</span>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, however, if you choose to erase or block your cookies, you shall have to re-enter your original user ID and password to gain access to certain parts of the Website.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">11.3.</span>Tracking technologies may record information such as internet domain and host names, internet protocol (IP) addresses, browser software and operating system types, clickstream patterns, and dates and times at which the Website is accessed. Our use of cookies and other tracking technologies allow us to improve our Website and your experience in using our Website.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">12 <span style="margin-left: 3%;">Cookies and Other Tracking Technologies</span> </div>
		</div>

		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">12.1.</span>Keito is not responsible for any breach of security or for any actions or inactions of any third parties that receive your Personal Information.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">12.2.</span>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, however, if you choose to erase or block your cookies, you shall have to re-enter your original user ID and password to gain access to certain parts of the Website.</p>
			</div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 9%;"><span style="margin-left: -5%;margin-right: 2%;">12.3.</span>A <b>“Force Majeure Event”</b> shall mean any event that is beyond the reasonable control of Keito and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes, lockouts or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, civil disturbances, unauthorised access to computer data and storage device, computer crashes, breach of security and encryption, and any other similar events not within the control of Keito and which Keito is not able to overcome.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">13.<span style="margin-left: 3%;">Opt-Out</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">You have the option to &#39;opt-out&#39; of all Keito’s newsletters and other general e-mail marketing communications by way of links provided at the bottom of each mailer. Keito respects your privacy and in the event that you choose to not receive such mailers, it shall take all adequate steps to remove you from such lists.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">14.<span style="margin-left: 3%;">Changes to this Policy</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">Keito reserves the right to update, change or modify this Policy at any time. The Policy shall come to effect from the date of such update, change or modification.</p>
			</div>
		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">15.<span style="margin-left: 3%;">Grievance Officer</span></div>
		</div>
		<div class="row">
			
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">In accordance with the Indian Information Technology Act, 2000 and Rules made thereunder, the name and contact details of the Grievance Officer are provided below:<br><br>
				<span>Name: Keito Tech Private Limited</span><br>
				<span>Address: Keito Tech Private Limited, Wakad,Pune,  Maharashtra, Pin : 411057, CIN : U74999PN2016PTC167027</span><br>
				<span>Cell: 9561112535</span><br>
				<span>E-mail: sales@keito.in</span><br></p>
				
			</div>

		</div>

		<div class="row" style="margin-bottom: 2%;">
			<div class="col-md-7" style="font-size: 21px;font-weight: bold;padding-left: 0px;">16.<span style="margin-left: 3%;">How to Contact Us</span></div>
		</div>
		<div class="row">
			<div style="font-size: 19px;">
				<p style="margin-left: 3%;">If you have questions or concerns about this Policy, please contact us at [email] or call us on 9561112535</p>
			</div>

		</div>
		


	</div>
</div>