<div bn-document-click="onKeydownChild( $event )" class="row" style="width: 100%;margin: 0px;min-height: 200px" ng-style="divHeight" ng-if="loadChatUsers" ng-hide="showSettingsDiv"  >
    <div ng-hide="smallFormat">

    <!--<div class="srchBtnDiv" style="margin: 3px 1% 0% 2%;background: #d6d6d6;border: 0px">
        <div class="row">
          <div class="col-md-10 srchTxt" contenteditable="true" style="color: #5f5e5f">
            <p style="margin: 0px;padding: 5px;font-size: 19px">Search through recent chats ... Type <b>name</b> and press enter or search button
          </div>
          <div class="col-md-2 searchBtnIcon" style="padding-top: 5px"><img src="images/musica-searcher.png"></div>
        </div>
   </div>
   <div style="border-bottom: 1px solid #ebebeb;margin-top: 5px"></div> -->

     
    <div ng-click="showSmallFormat(true);">
	   <div ng-repeat="user in chatUsers" ng-click=showChat(user,$index) >
	   	    <div have-unread user="{{user}}">
		   	    <div class="row" style="color: black;padding: 0.3% 0;margin: 0px" ng-style="setRowcolor($index)">
			   	 <div class="col-md-1">
			   	 	<div>
			   	 		<div ng-if="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture  || userService.getShowProfilePicture(user.$id)">
			   	 			<div ng-if="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture"  style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">	
			   	 				<img data-ng-src="{{userService.getProfile(user.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
			   	 			</div>
			   	 		</div>
			   	 		<div ng-hide="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture  || userService.getShowProfilePicture(user.$id)">
			   	 			<div ng-hide="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture" style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(user.$id)[0]}}<span ng-if="!userService.getDisplayName(user.$id)">G</span> 
			   	 			</div>
			   	 			<div ng-show="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture == undefined" style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(user.$id)[0]}}<span ng-if="!userService.getDisplayName(user.$id)">G</span> 
			   	 			</div>
			   	 		</div>
			   	 	</div>
			   	 </div>
			   	 <div class="col-md-7" style="text-align: left;">
			   	 	<div>{{userService.getDisplayName(user.$id)}}<span ng-if="!userService.getDisplayName(user.$id)">userService.getMobileNumber(user.$id) </span> </div>
			   	 	<div>{{chatService.getLastMessage(user.chat_id)}}</div>
			   	 </div>
			   	 <div class="col-md-3" style="margin-top: 1%;text-align: right;">
			   	 	<div ng-class="checkWhetherToday(chatService.getlastTimestamp(user.chat_id))" >Today, {{ utilityService.dateFormat(chatService.getlastTimestamp(user.chat_id)) | date : "h:mm a" }}</div>

			   	 	<div ng-class="checkWhetherNtToday(chatService.getlastTimestamp(user.chat_id))" >{{ utilityService.dateFormat(chatService.getlastTimestamp(user.chat_id)) | date : format : "MMM d, y" }}</div>

			   	 </div>
			   	 <div class="col-md-1" style="margin-top: 0.5%;text-align: right;">
			   	 	<!--<img src="images/profile/like.png"> -->
			   	 </div>
			   </div>
		   </div>
		   <div style="border-bottom: 1px solid #ebebeb;"></div>
	   </div>
	   

	   
	  </div>
   </div>


   <div ng-show="smallFormat" style="height: 100%;">
   		<div class="row" style="margin: 0px;height: 100%;">
   			<div class="col-md-4" style="padding: 0px">
   			   <!--<div style="border-bottom: 1px solid #ebebeb;margin-top: 5px"></div> showSmallFormat(false,user); -->

			   <div>
				   <div ng-repeat="user in chatUsers" ng-click="showChat(user,$index);" >
					   <div have-unread user="{{user}}">
					   <div class="row" style="color: black;padding: 0.3% 0;margin: 0px" ng-style="set_color(user,$index)">
					   	 <div class="col-md-2" style="padding: 0px">
					   	 	<div>

					   	 		<div ng-if="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture == undefined">
					   	 			<div ng-if="userService.getShowProfilePicture(user.$id) == true">
					   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
											<img data-ng-src="{{userService.getProfile(user.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
			   	 						</div>
					   	 			</div>

					   	 			<div ng-if="userService.getShowProfilePicture(user.$id) != true ">
					   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(user.$id)[0]}}
							   	 			<span ng-if="!userService.getDisplayName(user.$id)">{{userService.getMobileNumber(user.$id)[0]}}</span>
							   	 		</div>
					   	 			</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture == true">
					   	 			<div style="width:35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
										<img data-ng-src="{{userService.getProfile(user.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
			   	 					</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(user.$id)[currentTeam].showProfilePicture == false">
					   	 			<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(user.$id)[0]}}
							   	 			<span ng-if="!userService.getDisplayName(user.$id)">{{userService.getMobileNumber(user.$id)[0]}}</span>
							   	 		</div>
					   	 		</div>
					   	 	</div>
					   	 </div>
					   	 <div class="col-md-5" style="text-align: left;padding-right: 0px;">
					   	 	<div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
					   	 		{{userService.getDisplayName(user.$id)}}<span ng-if="!userService.getDisplayName(user.$id)">{{userService.getMobileNumber(user.$id)}}</span></div>
					   	 		
					   	 	<div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-if="chatService.getLastSender(user.chat_id)">
					   	 		<span ng-if="chatService.getLastSender(user.chat_id)"><span ng-if="loggedinuser.id != chatService.getLastSender(user.chat_id) "> {{userService.getDisplayName(chatService.getLastSender(user.chat_id))}}:</span>
					   	 		<span ng-if="loggedinuser.id == chatService.getLastSender(user.chat_id)"> You:</span></span>
					   	 		<!--<span ng-if="loggedinuser.id != user.$id">{{userService.getDisplayName(user.$id)}}:
					   	 			<span ng-if="!userService.getDisplayName(user.$id)">GuestUser</span>
					   	 		</span> -->
					   	 	{{chatService.getLastMessage(user.chat_id)}}</div>
					   	 </div>
					   	 <div class="col-md-4" style="padding: 0px" ng-if="chatService.getlastTimestamp(user.chat_id)">

					   	 	<div ng-class="checkWhetherToday(chatService.getlastTimestamp(user.chat_id))" >Today, {{ utilityService.dateFormat(chatService.getlastTimestamp(user.chat_id)) | date : "h:mm a" }}</div>

			   	 			<div ng-class="checkWhetherNtToday(chatService.getlastTimestamp(user.chat_id))" >{{ utilityService.dateFormat(chatService.getlastTimestamp(user.chat_id)) | date : format : "MMM d, y" }}</div>


					   	 </div>
					   	 <div class="col-md-1" style="margin-top: 2%;padding: 0px">
					   	 	<div style="display: inline-block;color:white;padding: 2px 4px;border-radius: 30px;background: #0098f8;min-width: 20px;text-align: center;" ng-if="user.unread_msg_count> 0 ">{{user.unread_msg_count}}</div>
					   	 </div>
					   </div>
					   </div>
					   <div style="border-bottom: 1px solid #ebebeb;"></div>
				   </div>

				   
				</div>

   			</div>

   			<div class="col-md-8" style="border-left: 1px solid #ebebeb;color: black;position: inherit;height: 100%;" ng-if="smallFormat">
   				<div class="row" style="background: #ebebeb">
   					<div class="col-md-1" style="padding: 0.5% 1%;">
				   	 	<div>
							<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == undefined">
				   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) == true">
				   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
										<img data-ng-src="{{userService.getProfile(prevUser.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
		   	 						</div>
				   	 			</div>

				   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) != true ">
				   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(prevUser.$id)[0]}}
						   	 			<span ng-if="!userService.getDisplayName(prevUser.$id)">{{userService.getMobileNumber(prevUser.$id)[0]}}</span>
						   	 		</div>
				   	 			</div>
				   	 		</div>

				   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == true">
				   	 			<div style="width:35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
									<img data-ng-src="{{userService.getProfile(prevUser.$id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
		   	 					</div>
				   	 		</div>

				   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == false">
				   	 			<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{userService.getDisplayName(prevUser.$id)[0]}}
						   	 			<span ng-if="!userService.getDisplayName(prevUser.$id)">{{userService.getMobileNumber(prevUser.$id)[0]}}</span>
						   	 		</div>
				   	 		</div>
				   	 	</div>
				   	 </div>
				   	 <div class="col-md-9" style="text-align: left;padding: 0px;margin-top: 1.2%">
				   	 	<div style="font-weight: bold;">{{userService.getDisplayName(prevUser.$id)}}<span ng-if="!userService.getDisplayName(prevUser.$id)">{{userService.getMobileNumber(prevUser.$id)}}</span> </div>
				   	 	

				   	 	<div style="font-size: 11px"  ng-if="chatService.getlastTimestamp(prevUser.chat_id)">
					   	 	<div ng-class="checkWhetherToday(chatService.getlastTimestamp(prevUser.chat_id))" >Today, {{ utilityService.dateFormat(chatService.getlastTimestamp(prevUser.chat_id)) | date : "h:mm a" }}</div>

				   	 		<div ng-class="checkWhetherNtToday(chatService.getlastTimestamp(prevUser.chat_id))" >{{ utilityService.dateFormat(chatService.getlastTimestamp(prevUser.chat_id)) | date : format : "MMM d, y" }}</div>
				   	 	</div>

				   	 	
				   	 </div>
				   	 <div class="col-md-offset-1 col-md-1" style="padding: 1% 0% 0% 5%;" ng-click=showChatSetting()>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                 </div>
   				</div>

   				<div class="row" style="height: 86%;background-color: #ebebeb;padding-right: 1%;overflow-y: auto;padding-left: 1%;    padding-top: 1%;" scroll="chatMessages" file-dropzone
                  file="image" file-name="imageFileName" onloaded="handlePaste(image,name)">
   					
   					<div ng-repeat="user in chatMessages">
	   					<div  ng-if="user.message_type == 'file'" class="message"  style="padding:0px;background: none;" ng-class="getClass(user.sender_user_id)">
	   						<div>
								<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == undefined">
					   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) == true">
					   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 		</div>
					   	 			</div>

					   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) != true ">
					   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
							   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
							   	 		</div>
					   	 			</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == true">
					   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 	</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == false">
					   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
						   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
						   	 		</div>
					   	 		</div>
					   	 	</div>

					   	 	<div class="tooltip1">
								<span style="font-size: 14px;" ng-if="user.sender_user_id == loggedinuser.id">{{user.message_text}}</span>
								<a ng-href="{{'http://test-apis.keito.in/file/'+user.fileID}}" >
									<img src="images/file_download.jpg" style="width: 45px;border-radius: 15px;"> </a>
								<span style="font-size: 14px;" ng-if="user.sender_user_id != loggedinuser.id">{{user.message_text}}</span>
								<span class="tooltiptext">{{ utilityService.dateFormat(user.time_stamp) | date:'yyyy-MM-dd HH:mm' }}</span>
							</div>
						</div>


						<div ng-if="user.message_type != 'file'" class="message" ng-class="getClass(user.sender_user_id)">

							<div>
								<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == undefined">
					   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) == true">
					   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 		</div>
					   	 			</div>

					   	 			<div ng-if="userService.getShowProfilePicture(prevUser.$id) != true ">
					   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
							   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
							   	 		</div>
					   	 			</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == true">
					   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 	</div>
					   	 		</div>

					   	 		<div ng-if="userService.getTeamProfileSettings(prevUser.$id)[currentTeam].showProfilePicture == false">
					   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
						   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
						   	 		</div>
					   	 		</div>
					   	 	</div>

				   	 	

							<div class="tooltip1">
								<span smilies="user.message_text"></span>
								<span class="tooltiptext">{{ utilityService.dateFormat(user.time_stamp) | date:'yyyy-MM-dd HH:mm' }}</span>
							</div>
	   					</div>
   					</div>
   					<div id="schrolldiv">
   						
   					</div>

				</div>
   				</div>
   				<div style="margin:0px;color: black;position: absolute;bottom: 0px;width: 100%;text-align: left;">
					<div class="row">
						<div class="col-md-offset-4 col-md-8" style="background-color: white;">
							<span smilies-selector="chats.chats_message" smilies-placement="top" smilies-title="Smilies"></span>

        					<input type="text" id="chats_message"  ng-model="chats.chats_message" name="chats_message" placeholder="Send a Message..."  style="width: 90%;border: 0px" ng-enter="sendMessage(chats.chats_message);chats.chats_message='';" focus-on="focusChatsInput" />
							<img src="images/profile/send-mail.png" ng-click="sendMessage(chats.chats_message);chats.chats_message='';">
						</div>
					</div>
					<!--<div class="row" >
						<div class="col-md-offset-4 col-md-8">
							<div class="row" style="margin: 1px 2% 0px 2%;">
								<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/photo-camera.png" style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/smiley.png"  style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/gps-fixed-indicator.png"  style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/file.png"  style="width: 25%;">
					   	 		</div>
							</div>
						</div>
			   	 		
				   	 		
					</div> -->
				</div>

   			</div>

   		</div>
   </div>

  <div ng-click="chatsModal()"  ng-hide="showSettingsDiv" ng-class="smallFormat ? 'smallFormatcreateChat' : 'largeFormatCreateChat'">
    <img src="images/signUp/chat-selected.png"  style="width: 45px;">
  </div> 




<div ng-show="showSettingsDiv">
	<div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Mute</p></div>
      <div class="col-md-2"> 
        <toggle id="togBtn" ng-model="toggleValue" ng-change="changed()" style="ios" on="ON" off="OFF" onstyle="btn-success" offstyle="btn-danger"></toggle> 
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Notification</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png">
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Media</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png"> 
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Create Chat</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png">
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Delete Chat</p></div>
      <div class="col-md-2"> 
        <img src="images/team/delete-button.png"> 
      </div>
    </div>
</div>










