<div  class="indexPage">
  <div class="prodPage"><nav class="navbar navbar-default navbar-fixed-top mainClass prodclass">
  <div class="container-fluid menuMargin">
    <div class="row">
    <div class="navbar-header hidden-sm col-lg-4  col-md-4 navImage">
      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="keito hidden-xs"><a href="#"><img style="width: 15%;" src="images/Keito Logo_whitebg_blue.png"></a></div>
    </div>

    <div class="collapse navbar-collapse" id="burger">
       <ul class="nav navbar-nav">
              <li><a class="visible-xs aStyles" href="#">Home</a></li>
              <li><a class="aStyles"  style="font-weight: bold;" href="#product">Product</a></li>
        <!--<li><a class="aStyles pricingColor" href="#pricing">Pricing</a></li>  -->
              <li><a class="aStyles pricingColor" href="#industries" style="cursor: pointer;">Industries</a></li> 
              <!--<<li><a class="aStyles" href="#support">FAQ</a></li> -->
              <li><a class="aStyles" href="#contactUs">Contact us</a></li>
              <li><a class="aStyles signIn" style="cursor: pointer;" ng-click="GettingStartedemailIdFocus()">Request Early Acccess</a></li>
              <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                      style="cursor: pointer;">Show More...</a></li>
              <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
              <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
              <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
              <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li> 
            </ul>

    </div>
  </div>
  </div>
</nav>

  <div class="row" style="text-align: center;padding: 14% 0 4% 0;">
    <button class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2  col-xs-offset-4 col-xs-4 watchTourBtn" style="background-color: #6ed7fb" ng-click="subscribe()">Take a Tour</button>
  </div>
</div>

  <div class="prodHeader">
    <p style="margin-bottom: 0px;">The new age Communication platform</p>
    <p class="prodTagLine" >Skyrocket your Productivity</p>
  </div>
  <div class="prodHeaderTxt" >
    <p>"Time is one of the most precious commodities, yet an average person spends nearly four hours per day just managing email communication. Emancipate yourself using Keito. It’s simplicity will win back time for you and help your organization’s productivity to skyrocket. It’s conversational, searchable, and it’s fast."</p>
  </div>


  <div class="row"> 
    <div class="col-md-6 col-sm-6">
      <div class="prodOffers" ng-class="{divActive:activeDiv == 'cactive'}" ng-click="displayImage('cactive')">
        <span class="ofrHeader" style="margin: 0px">Advanced and Powerful Search</span>
        <p  class="ofrText" >Enables you to search through topics, discussions, chats, contacts, documents and teams in a matter of seconds, all from a single search box.</p>
      </div>

      <div class="prodOffers" ng-class= "{divActive:activeDiv == 'ctactive'}" ng-click="displayImage('ctactive')">
        <span class="ofrHeader" style="margin: 0px">Structured Communication</span>
        <p  class="ofrText" >Structured communication based on topics. This will enable them to have formal discussion carried out in an efficient and organized manner.</p>
      </div>

      <div class="prodOffers" ng-class="{divActive:activeDiv == 'sactive'}" ng-click="displayImage('sactive')">
        <span class="ofrHeader" style="margin: 0px">Chat Centric Experience</span>
        <p  class="ofrText" >Experience as your daily life applications. Simple to use and easy to understand.</p>
      </div>

      <div class="prodOffers" ng-class="{divActive:activeDiv == 'pactive'}" ng-click="displayImage('pactive')">
        <span class="ofrHeader" style="margin: 0px">Context Based</span>
        <p  class="ofrText" >Data, informations and tasks in keito have been intelligently prioritized based on unclutter them based on context for each of our users.</p>
      </div>

    </div>

    <div class="col-md-6 col-sm-6" style="padding-right: 3%">
      <img ng-if="activeDiv == 'cactive'" src="images/product/wedo/search.png" style="width: 100%">
      <img ng-if="activeDiv == 'ctactive'" src="images/product/wedo/discussion.png" style="width: 100%">
      <img ng-if="activeDiv == 'sactive'" src="images/product/wedo/chat.png" style="width: 100%">
      <img ng-if="activeDiv == 'pactive'" src="images/product/wedo/context.png" style="width: 100%">
    </div>
  </div>



  <div class="everyWhere">
    <p>Everywhere you go</p>
    <div class="row" style="padding: 2% 0%;">
      <div class= "col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2" ><img src="images/internet-grid.png"></div>
      <div class= "col-md-2 col-sm-2 col-xs-2" > <img  src="images/apple.png"></div>
      <div class= "col-md-2 col-sm-2 col-xs-2" ><img src="images/android-character-symbol.png"></div>
      <div class= "col-md-2 col-sm-2 col-xs-2" ><img src="images/desktop-monitor.png"></div>
      <div class= "col-md-2 col-sm-2 col-xs-2" ><img src="images/chrome.png"></div>
    </div>
    <div class="synchronize">
      <p>
        <span style="font-weight: 900;">Synchronize</span> across all your devices.
      </p>
      <p>Will be available on all the leading platforms.</p>
    </div>
    <div class="saas">
      <img src="images/sass-cloud.png">
    </div>
    <div class="col-md-offset-1 col-md-10" style="padding-top: 1%;"><hr></div>
    <div class="row" style="padding-bottom: 3%;">
      <div class= "col-md-4 col-sm-4 col-xs-4 github" ><img src="images/github-logo-white.png"></div>
      <div class= "col-md-4 col-sm-4 col-xs-4 gCloud"> <img  src="images/google-cloud.png"></div>
      <div class= "col-md-4 col-sm-4 col-xs-4 native" >
            <p>Native</p>
            <p>in android and iOS</p>
      <!--< img src="images/android-character-symbol.png">--></div>
    </div>

    
    </div>

    <div class="ourOfferings">
      <p >Our complete offering</p>
    </div>

    <div class="row" style="margin: 1% 0%;">
      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('chats')" ng-mouseenter="currentOfferingChangeMouseEnter('chats')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
      <div class="ourProdOffers" >
        <img ng-hide="currentOffering=='chats' || currentOfferingmouseEnter=='chats' " src="images/Icons-Product/chat-grey.png" >
        <img ng-show="currentOffering=='chats'|| currentOfferingmouseEnter=='chats' " src="images/Icons-Product/chat-blue.png" >
        <h4 class="ourOfrHeader" ng-style="currentOffering == 'chats' && {'color': '#0a5e97'}">Chats</h4>
        <p  class="ofrTextOffering" ng-style="currentOffering == 'chats' && {'color': 'black'}">One on one conversations with anyone inside your organization and even guests or clients.</p>
      </div>
      </div>

      <div class="col-md-4 col-sm-4 ourOfferBorder" ng-click="currentOfferingChange('teams')" ng-mouseenter="currentOfferingChangeMouseEnter('teams')" ng-mouseleave="currentOfferingChangeMouseEnter('')" >
        <div class="ourProdOffers" >
        <img ng-hide="currentOffering=='teams' || currentOfferingmouseEnter=='teams'" src="images/Icons-Product/createteam-grey.png" >
        <img ng-show="currentOffering=='teams' || currentOfferingmouseEnter=='teams'"  src="images/Icons-Product/createteam-blue.png" >
        <h4 class="ourOfrHeader" ng-style="currentOffering == 'teams' && {'color': '#0a5e97'}">Create Teams</h4>
        <p  class="ofrTextOffering" ng-style="currentOffering == 'teams' && {'color': 'black'}">Create Teams / Groups based on your business functions, project requirements, topic or any other criteria. Teams can be private (closed) or public (open). Create unlimited chat rooms for groups, Teams, clients or the weekend trekking group.</p>
      </div>
      </div>

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('discussions')" ng-mouseenter="currentOfferingChangeMouseEnter('discussions')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img  ng-hide="currentOffering=='discussions' || currentOfferingmouseEnter=='discussions'"  src="images/Icons-Product/discussion-grey.png" >
           <img  ng-show="currentOffering=='discussions' || currentOfferingmouseEnter=='discussions'"  src="images/Icons-Product/discussion-blue.png" >
           <h4 class="ourOfrHeader" ng-style="currentOffering == 'discussions' && {'color': '#0a5e97'}">Discussions</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'discussions' && {'color': 'black'}">Team conversations, which are recordable & can be structured and separated by topics. Make yourcommunication faster, simpler and more effective.</p>
        </div>
      </div>



    </div>

    <div class="row" style="margin: 1% 0%;">

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('favorites')" ng-mouseenter="currentOfferingChangeMouseEnter('favorites')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='favorites' || currentOfferingmouseEnter=='favorites' " src="images/Icons-Product/fav-grey.png" >
          <img ng-show="currentOffering=='favorites' || currentOfferingmouseEnter=='favorites' " src="images/Icons-Product/fav-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'favorites' && {'color': '#0a5e97'}">Favorites</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'favorites' && {'color': 'black'}">Mark favorites for your chats. So you can keep a track of your favorite as well as important chats.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 ourOfferBorder" ng-click="currentOfferingChange('version')" ng-mouseenter="currentOfferingChangeMouseEnter('version')" ng-mouseleave="currentOfferingChangeMouseEnter('')" >
        <div class="ourProdOffers" >
          <img  ng-hide="currentOffering=='version' || currentOfferingmouseEnter=='version'"  src="images/Icons-Product/version-grey.png" >
          <img  ng-show="currentOffering=='version' || currentOfferingmouseEnter=='version'"  src="images/Icons-Product/version-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'version' && {'color': '#0a5e97'}">Inbuilt version control</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'version' && {'color': 'black'}" >Share all your files through single platform and save it based on your needs. No need to worry about version control. All this have been taken care of.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('profile')" ng-mouseenter="currentOfferingChangeMouseEnter('profile')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='profile' || currentOfferingmouseEnter=='profile' " src="images/Icons-Product/profile-grey.png" >
          <img ng-show="currentOffering=='profile' || currentOfferingmouseEnter=='profile' " src="images/Icons-Product/profile-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'profile' && {'color': '#0a5e97'}">Independent Profile</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'profile' && {'color': 'black'}">Manage your time more efficiently by making use of individual profile status for each of your teams.</p>
        </div>
      </div>
    </div>


    <div class="row" style="margin: 1% 0%;">
      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('integration')" ng-mouseenter="currentOfferingChangeMouseEnter('integration')" ng-mouseleave="currentOfferingChangeMouseEnter('')" >
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='integration' || currentOfferingmouseEnter=='integration'" src="images/Icons-Product/integerate-grey.png" >
          <img ng-show="currentOffering=='integration' || currentOfferingmouseEnter=='integration' " src="images/Icons-Product/integration-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'integration' && {'color': '#0a5e97'}">Integration</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'integration' && {'color': 'black'}">Faster integration to all your internal tools.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 ourOfferBorder" ng-click="currentOfferingChange('Immediate')" ng-mouseenter="currentOfferingChangeMouseEnter('Immediate')" ng-mouseleave="currentOfferingChangeMouseEnter('')" >
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='Immediate' || currentOfferingmouseEnter=='Immediate'"  src="images/Icons-Product/immediate-grey.png" >
          <img ng-show="currentOffering=='Immediate' || currentOfferingmouseEnter=='Immediate'"  src="images/Icons-Product/immediate-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'Immediate' && {'color': '#0a5e97'}">Immediate Access</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'Immediate' && {'color': 'black'}">With Keito you can communicate, collaborate and achieve on the go! No need to be tied to your desk any longer for checking mails. Make decisions faster and get things done from wherever and whenever you want to.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('kbox')" ng-mouseenter="currentOfferingChangeMouseEnter('kbox')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='kbox' || currentOfferingmouseEnter=='kbox' " src="images/Icons-Product/kbox-grey.png" >
          <img ng-show="currentOffering=='kbox' || currentOfferingmouseEnter=='kbox' " src="images/Icons-Product/kbox-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'kbox' && {'color': '#0a5e97'}">Kbox</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'kbox' && {'color': 'black'}">A place from where you can access & manage all your unread chats and discussions. It displays messages based on your preferences and relationship with other group members.</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 1% 0%;">
      

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('keys')" ng-mouseenter="currentOfferingChangeMouseEnter('keys')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='keys' || currentOfferingmouseEnter=='keys' " src="images/Icons-Product/keys-grey.png" >
          <img ng-show="currentOffering=='keys' || currentOfferingmouseEnter=='keys' " src="images/Icons-Product/keys-blue.png" >

          <h4 class="ourOfrHeader" ng-style="currentOffering == 'keys' && {'color': '#0a5e97'}">Shortcut Keys</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'keys' && {'color': 'black'}">Web version is enabled with different shortcut keys for starting chat, starting discussion, moving to teams, searching etc… We believe in simplicity and shortcuts are one of the most important ones that enables to achieve that.</p>
        </div>
      </div>

      
      <div class="col-md-4 col-sm-4 ourOfferBorder" ng-click="currentOfferingChange('database')" ng-mouseenter="currentOfferingChangeMouseEnter('database')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
        <img ng-hide="currentOffering=='database' || currentOfferingmouseEnter=='database' " src="images/Icons-Product/dat-grey.png" >
        <img ng-show="currentOffering=='database' || currentOfferingmouseEnter=='database' " src="images/Icons-Product/database-blue.png" >
        <h4 class="ourOfrHeader" ng-style="currentOffering == 'database' && {'color': '#0a5e97'}">Segregated database</h4>
        <p  class="ofrTextOffering" ng-style="currentOffering == 'database' && {'color': 'black'}">Separate database for each of our customers. Separate instances for your users in firebase. This makes you feel more than just secured.</p>
      </div>
      </div>

       <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('summarize')" ng-mouseenter="currentOfferingChangeMouseEnter('summarize')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='summarize' || currentOfferingmouseEnter=='summarize' " src="images/Icons-Product/summary-grey.png" >
          <img ng-show="currentOffering=='summarize' || currentOfferingmouseEnter=='summarize' " src="images/Icons-Product/summary-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'summarize' && {'color': '#0a5e97'}">Summary</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'summarize' && {'color': '#0a5e97'}">We can use this to summarize the discussions and record the same for future use as well as references.</p>
        </div>
      </div>

       
    </div>

    <div class="row" style="margin: 1% 0%;">
      
     

      <div class="col-md-4 col-sm-4" ng-click="currentOfferingChange('auth')" ng-mouseenter="currentOfferingChangeMouseEnter('auth')" ng-mouseleave="currentOfferingChangeMouseEnter('')">
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='auth' || currentOfferingmouseEnter=='auth' " src="images/Icons-Product/auth-grey.png" >
          <img ng-show="currentOffering=='auth' || currentOfferingmouseEnter=='auth' " src="images/Icons-Product/auth-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'auth' && {'color': '#0a5e97'}">Two Level Authentication</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'auth' && {'color': 'black'}">Authentication using OTP, password or MPIN. All these are designed to meet your needs and enhanced experience.</p>
        </div>
      </div>  

     <div class="col-md-4 col-sm-4 ourOfferBorder" ng-click="currentOfferingChange('wedo')" ng-mouseenter="currentOfferingChangeMouseEnter('wedo')" ng-mouseleave="currentOfferingChangeMouseEnter('')" >
        <div class="ourProdOffers" >
          <img ng-hide="currentOffering=='wedo' || currentOfferingmouseEnter=='wedo' " src="images/Icons-Product/wedo-grey.png" >
          <img ng-show="currentOffering=='wedo' || currentOfferingmouseEnter=='wedo' " src="images/Icons-Product/wedo-blue.png" >
          <h4 class="ourOfrHeader" ng-style="currentOffering == 'wedo' && {'color': '#0a5e97'}"> We-do</h4>
          <p  class="ofrTextOffering" ng-style="currentOffering == 'wedo' && {'color': 'black'}">Task management personalized for you. This will enable you to focus on priority tasks in hand. All your tasks will be available in one place.</p>
        </div>
      </div>      
    </div>
    <!--<div style="border-top:1px solid #90caff;margin: 5px"></div>
    <div class="reclaim">
      <p >Reclaim your time.</p>
    </div>

    <div class="reclaimTxt">
    <p>Our validations show an average reduction of 80 % in email usage, leading to a more connected, happier and a more engaged workforce.</p>
    <p> <span style="font-weight: bold;">Survey</span>  <\show the graph of the validations we did> :</p>
  </div> -->

  <div style="margin-top: 10%">
    <!--<div class="col-sm-offset-2 col-sm-offset-4 col-md-offset-2 col-xs-16 col-sm-8 col-md-8" style="padding: 1%;margin-bottom: 3%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border: 2px solid #ccc;border-radius: 15px;box-shadow: 0px 6px #ddd;">
      <p>Getting started is easy. Be up and running in minutes.</p>
      <div class="row">
        <div class="col-md-6" style="text-align: center;color: #6ed7fb;">
          <button class="col-md-offset-3 col-md-9" ng-click="subscribe()" style="padding: 3% 10%;background: white;border-radius: 18px;border: 1px solid #6ed7fb;">Request a Demo</button>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <button class="col-md-9" ng-click="subscribe()" style="padding: 3% 0%;background: #6ed7fb;border-radius: 18px;color: white;border: 0px">Create a Free Account</button>
        </div>
      </div>
    </div> -->

    

    <div class="col-sm-offset-1 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-10 col-md-8" style="padding: 1%;font-size: 22px;text-align: center;background-color: rgba(255, 255, 255,0.7);border-radius: 15px;color: 'black';border: 1px solid rgba(128, 128, 128, 0.38);">
      <p>Getting started is easy. Be up and running in minutes.</p>
      <div class="row">
        <div class="col-md-offset-2 col-sm-offset-1   col-md-8 col-sm-10 col-xs-12"  >
           <div style="background: white;border-radius: 18px;border: 1px solid #6ed7fb;border-radius: 18px;">
             <div class="row" style="margin: 0px;min-height: 54px;">
                <input class="col-md-7 col-sm-7 col-xs-7 GettingStartedInputTxt" type="text" name="email" ng-show="GettingStartedBtnTxt == 'Request Early Access'" ng-model="GettingStartedemailId" focus-on="focusMe" ng-focus="clearGSEmail();" ng-blur="outOfGettingStartedFocus()">
                  <button class="col-md-5 col-sm-5 col-xs-5 animate"  ng-class="myValue" ng-click="GettingStartedClicked()">{{GettingStartedBtnTxt}}</button>
                  <input class="col-md-0ffset-6 col-sm-offset-6 col-xs-offset-6 col-md-6 col-sm-6 col-xs-6" style="min-height: 54px;border: 0px;font-size: 23px;color:#6ed7fb;border-radius: 18px;padding: 2% 3%;background-color: white;" ng-show="GettingStartedBtnTxt == 'Thank You'" value="Check Your inbox!" type="text" name="inbox" ng-disabled=true>
             </div>
           </div>
         </div>
        </div>
    </div>


  </div>
      

      
    </div>