<div bn-document-click="onKeydownChild($event)"  class="row" style="width: 100%;margin-left: 0;min-height: 200px;" ng-style="divHeight" ng-if="loadDiscussionUsers" ng-hide="showSettingsDiv">
    <!--<div ng-hide="smallFormat" >

    <div class="srchBtnDiv" style="margin: 3px 1% 0% 1%;background: #d6d6d6;border: 0px">
        <div class="row">
          <div class="col-md-10 srchTxt" contenteditable="true" style="color: #5f5e5f">
            <p style="margin: 0px;padding: 5px;font-size: 19px">Search through discussions... Type <b>keywords</b> and press enter or search button</p>
          </div>
          <div class="col-md-2 searchBtnIcon" style="padding-top: 5px"><img src="images/musica-searcher.png"></div>
        </div>
   </div> 
   <div style="border-bottom: 1px solid #ebebeb;margin-top: 5px"></div>

     
    <div ng-click="showSmallFormat(true);">
	   <div ng-repeat="discussion in discussionUsers" ng-click=showChat(discussion,$index) ng-if="discussion.team_id == currentTeam">
		   <div have-unread user="{{discussion}}">
			   <div class="row" style="color: black;margin-left: 0" ng-style="setRowcolor($index)">
			   	 <div class="col-md-1">
			   	 	<div>
			   	 		<div style="margin: auto;font-size: 20px">
			   	 			<img src="images/profile/mail-read.png" style="width: 80%;">
			   	 		</div>
			   	 	</div>
			   	 </div>
			   	 <div class="col-md-7" style="text-align: left;font-size: 18px;font-size: 16px;margin-top: 0.8%">
			   	 	<div>{{discussionService.getSubject(discussion.$id)}}</div>
			   	 	<div>{{chatService.getLastMessage(discussion.$id)}}</div>
			   	 </div>
			   	 <div class="col-md-3" style="margin-top: 1.5%;text-align: right;font-size: 13px;padding-left: 35px">
			   	 	<div ng-class="checkWhetherToday(discussionService.getLastActivity(discussion.$id))" >Today, {{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : "h:mm a" }}</div>

					<div ng-class="checkWhetherNtToday(discussionService.getLastActivity(discussion.$id))" >{{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : format : "MMM d, y" }}</div>
			   	</div>
			   </div>
			</div>
		   <div style="border-bottom: 1px solid #ebebeb;margin-left: 1.6%"></div>
	   </div>


	  </div>
   </div>-->


   <div style="height: 100%;">
   		<div class="row" style="margin: 0px;height: 100%;">
   			<div class="col-md-4" style="padding: 0px">
   				<!--<div class="srchBtnDiv" style="margin: 3px 1% 0% 2%;background: #d6d6d6;border: 0px">
			        <div class="row">
			          <div class="col-md-9 srchTxt" contenteditable="true" style="color: #5f5e5f">
			            <p style="margin: 5px 0;overflow: hidden;color: #252525;text-overflow: ellipsis;white-space: nowrap;">Search through discussions... Type <b>keywords</b> and press enter or search button</p>
			          </div>
			          <div class="col-md-3 searchBtnIcon" style="padding-top: 5px"><img style="width: 80%" src="images/musica-searcher.png"></div>
			        </div>
			    </div> 

			   <div style="border-bottom: 1px solid #ebebeb;margin-top: 5px"></div>-->

			   <div>
				   <div ng-repeat="discussion in discussionUsers" ng-click="showChat(discussion,$index);" ng-if="discussion.team_id == currentTeam">
						<div have-unread user="{{discussion}}">
						   <div class="row" style="color: black;margin: 0px;" ng-style="set_color(discussion)">
						   	 <div class="col-md-2" style="padding: 0px">
						   	 	<div>
						   	 		<div style="margin: auto;padding: 4% 0%;" ng-if="discussion.unread_msg_count == 0 ">
						   	 			<img src="images/emailIcons/read_mail.png" style="width: 75%;">
						   	 		</div>
						   	 		<div style="margin: auto;padding: 4% 0%;margin-top: 10%;" ng-if="discussion.unread_msg_count> 0 ">
						   	 			<img src="images/emailIcons/unread_mail.png" style="width: 75%;">
						   	 		</div>
						   	 	</div>
						   	 </div>

						   	 <div class="col-md-5" style="text-align: left;padding-left: 3px;padding-right: 0px;">
						   	 	<div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
						   	 		{{discussionService.getSubject(discussion.$id)}}</div>
						   	 		
						   	 	<div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-if="chatService.getLastMessage(discussion.$id)">
							   	 		<span ng-if="chatService.getLastSender(discussion.$id)"><span ng-if="loggedinuser.id != chatService.getLastSender(discussion.$id) "> {{userService.getDisplayName(chatService.getLastSender(discussion.$id))}}:</span>
							   	 		<span ng-if="loggedinuser.id == chatService.getLastSender(discussion.$id)"> You:</span></span>
							   	 		<!--<span ng-if="loggedinuser.id != user.$id">{{userService.getDisplayName(user.$id)}}:
							   	 			<span ng-if="!userService.getDisplayName(user.$id)">GuestUser</span>
							   	 		</span> -->
							   	 	{{chatService.getLastMessage(discussion.$id)}}</div>
						   	 </div>
						   	 <div class="col-md-4" style="padding: 0px">
						   	 	<div ng-if="discussionService.getLastActivity(discussion.$id)">
						   	 		<div ng-class="checkWhetherToday(discussionService.getLastActivity(discussion.$id))" >Today, {{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : "h:mm a" }}</div>

									<div ng-class="checkWhetherNtToday(discussionService.getLastActivity(discussion.$id))" >{{ utilityService.dateFormat(discussionService.getLastActivity(discussion.$id)) | date : format : "MMM d, y" }}</div>
						   	 	</div>
						   	 </div>
						   	 <div class="col-md-1" style="margin-top: 2%;padding: 0px">
						   	 	<div style="display: inline-block;color:white;padding: 2px 4px;border-radius: 30px;background: #00bbbd;min-width: 20px;text-align: center;" ng-if="discussion.unread_msg_count> 0 ">{{discussion.unread_msg_count}}</div>
						   	 </div>


						   	 
						   </div>
					   </div>
					   <div style="border-bottom: 1px solid #ebebeb;"></div>
				   </div>
				   
				  
				</div>

   			</div>

   			<div class="col-md-8" style="border-left: 1px solid #ebebeb;color: black;height: 100%;">
   				<div class="row" style="background: #ebebeb">
   					<div class="col-md-1" style="padding:0.5% 1%;">
				   	 	<div >
				   	 		<div style="width: 40px;height: 40px;">
				   	 			<img src="images/profile/mail-answer.png" style="width: 100%;">
				   	 		</div>
				   	 	</div>
				   	 </div>
				   	 <div class="col-md-6" style="text-align: left;text-align: left;padding: 0px;margin: 0.8% 0%;">
				   	 	<div style="font-weight: bold;font-size: 15px;"> {{discussionService.getSubject(prevUser.$id)}}</div>
				   	 	<div style="font-size: 15px;">
				   	 		<div ng-class="checkWhetherToday(discussionService.getLastActivity(prevUser.$id))" >Today, {{ utilityService.dateFormat(discussionService.getLastActivity(prevUser.$id)) | date : "h:mm a" }}</div>

							<div ng-class="checkWhetherNtToday(discussionService.getLastActivity(prevUser.$id))" >{{ utilityService.dateFormat(discussionService.getLastActivity(prevUser.$id)) | date : format : "MMM d, y" }}</div>

				   	 	</div>
				   	 </div>
				   	 <div class="col-md-4">
				   	 </div>
				   	 <div class="col-md-1" style="padding: 1% 0% 0% 5%;" ng-click=showDiscussionSetting()>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                  <div style="width: 7px;border-radius: 4px;height: 7px;background: #0098f8;margin: 3px 0;"></div>
	                 </div>
   				</div>

   				<!--<div class="row" style="margin: 1px 2% 0px 2%;">
				   	 		<div style="display: inline-block;width: 19%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
				   	 			<img src="images/profile/star (2).png" style="width: 25%;"><br>
				   	 			<span>Summary</span>
				   	 		</div>
				   	 		<div style="display: inline-block;width: 19%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
				   	 			<img src="images/profile/phone-call.png"  style="width: 25%;"><br>
				   	 			<span>Voice Call</span>
				   	 		</div>
				   	 		<div style="display: inline-block;width: 19%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
				   	 			<img src="images/profile/video-camera.png"  style="width: 25%;"><br>
				   	 			<span>Video Call</span>
				   	 		</div>
				   	 		<div style="display: inline-block;width: 19%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
				   	 			<img src="images/profile/volume-off.png"  style="width: 25%;"><br>
				   	 			<span>Mute</span>
				   	 		</div>
				   	 		<div style="display: inline-block;width: 19%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
				   	 			<img src="images/profile/information.png"  style="width: 25%;"><br>
				   	 			<span>Information</span>
				   	 		</div>
				   	 		
				</div> -->


   				<div class="row" style="height: 86%;background-color: #ebebeb;padding-right: 1%;overflow-y: auto;padding-left: 1%" scroll="discussionMessages" file-dropzone
                  file="image" file-name="imageFileName" onloaded="handlePaste(image,name)">
   					
   					<div ng-repeat="user in discussionMessages">
   						
	
	   					<div>
	   						<div  ng-if="user.message_type == 'file'"  style="padding:0px;background: none;" ng-class="getClass(user.sender_user_id)" class="messageD">
								<div>
									<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == undefined">
						   	 			<div ng-if="userService.getShowProfilePicture(user.sender_user_id) == true">
						   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
								   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
								   	 		</div>
						   	 			</div>

						   	 			<div ng-if="userService.getShowProfilePicture(user.sender_user_id) != true ">
						   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
								   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
								   	 			<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> 
								   	 		</div>
						   	 			</div>
						   	 		</div>

						   	 		<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == true">
						   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 		</div>
						   	 		</div>

						   	 		<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == false">
						   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
							   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
							   	 			<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> 
							   	 		</div>
						   	 		</div>
						   	 	</div>



					   	 		<!--<div ng-if="user.sender_user_id != loggedinuser.id" style="font-size: 11px;color: grey;text-align: left;"> {{userService.getDisplayName(user.sender_user_id)}} </div>

								<div class="avatar messagehead" style="background: #00bbbd" ng-show="user.sender_user_id != loggedinuser.id">{{userService.getDisplayName(user.sender_user_id)[0]}}
								<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> </div> -->
								

								<div class="tooltip1" >

									<span style="font-size: 14px;" ng-if="user.sender_user_id == loggedinuser.id">
											{{user.message_text}}
									</span>
									<img src="images/file_download.jpg" style="width: 45px;border-radius: 15px;"> 
									<span style="font-size: 14px;" ng-if="user.sender_user_id != loggedinuser.id">
											{{user.message_text}}
									</span>
									<span class="tooltiptext">{{ utilityService.dateFormat(user.time_stamp) | date:'yyyy-MM-dd HH:mm' }}</span></div>
	   						</div>
							
							<div  ng-if="user.message_type != 'file'" class="messageD" ng-class="getClass(user.sender_user_id)">
								<div>
									<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == undefined">
						   	 			<div ng-if="userService.getShowProfilePicture(user.sender_user_id) == true">
						   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
								   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
								   	 		</div>
						   	 			</div>

						   	 			<div ng-if="userService.getShowProfilePicture(user.sender_user_id) != true ">
						   	 				<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
								   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
								   	 			<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> 
								   	 		</div>
						   	 			</div>
						   	 		</div>

						   	 		<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == true">
						   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;border-radius: 20px;">
							   	 			<img data-ng-src="{{userService.getProfile(user.sender_user_id)}}" style="width: 35px;height: 35px;border-radius: 20px;">
							   	 		</div>
						   	 		</div>

						   	 		<div ng-if="userService.getTeamProfileSettings(user.sender_user_id)[currentTeam].showProfilePicture == false">
						   	 			<div class="avatar" ng-show="user.sender_user_id != loggedinuser.id" style="width: 35px;height: 35px;color: #0098f8;background: white;border-radius: 20px;padding-top: 7%;font-size: 20px;text-align: center;">
							   	 			{{userService.getDisplayName(user.sender_user_id)[0]}}
							   	 			<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> 
							   	 		</div>
						   	 		</div>
						   	 	</div>



					   	 		<!--<div ng-if="user.sender_user_id != loggedinuser.id" style="font-size: 11px;color: grey;text-align: left;"> {{userService.getDisplayName(user.sender_user_id)}} </div>

								<div class="avatar messagehead" style="background: #00bbbd" ng-show="user.sender_user_id != loggedinuser.id">{{userService.getDisplayName(user.sender_user_id)[0]}}
								<span ng-if="!userService.getDisplayName(user.sender_user_id)">G</span> </div> -->
								

								<div class="tooltip1 messageDiscussions" ><span smilies="user.message_text"></span> <span class="tooltiptext">{{ utilityService.dateFormat(user.time_stamp) | date:'yyyy-MM-dd HH:mm' }}</span></div>
	   						</div>
	   					</div>
   					</div>
   					<div id="schrolldiv">
   						
   					</div>

				</div>
				
   			</div>
   			<div  style="margin:0px;color: black;position: absolute;bottom: 0px;width: 100%;text-align: left; ">
				<div class="row">

					<div class="col-md-offset-4 col-md-8" style="background-color: white;">
						<span smilies-selector="sendingmessage" smilies-placement="top" smilies-title="Smilies"></span>

        				<input type="text" name="sendingmessage" ng-model="sendingmessage"  placeholder="Send a Message..." style="width: 90%;border: 0px"  ng-enter="sendMessage(sendingmessage);sendingmessage='';" focus-on="focusDiscussionInput">

						<img src="images/profile/send-mail.png" ng-click="sendMessage(sendingmessage);sendingmessage=''">
					</div>
				</div>

				<!--<div class="row" >
						<div class="col-md-offset-4 col-md-8">
							<div class="row" style="margin: 1px 2% 0px 2%;">
								<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/photo-camera.png" style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/smiley.png"  style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/gps-fixed-indicator.png"  style="width: 25%;">
					   	 		</div>
					   	 		<div style="display: inline-block;width: 15%;color: rgba(128, 128, 128, 0.75);font-size: 12px;">
					   	 			<img src="images/profile/file.png"  style="width: 25%;">
					   	 		</div>
							</div>
						</div>
			   	 		
				   	 		
					</div> -->


			</div>

   		</div>
   </div>
  <div ng-class="smallFormat ? 'smallFormatcreateChat' : 'largeFormatCreateChat'" ng-click="discussionsModal()"   >
    <img src="images/signUp/chat-selected.png"  style="width: 45px;">
  </div> 

</div>


<div ng-show="showSettingsDiv">
	<div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Mute</p></div>
      <div class="col-md-2"> 
        <toggle id="togBtn" ng-model="toggleValue" ng-change="changed()" style="ios" on="ON" off="OFF" onstyle="btn-success" offstyle="btn-danger"></toggle> 
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Notification</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png">
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Media</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png"> 
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Create Discussion</p></div>
      <div class="col-md-2"> 
        <img src="images/team/arrow-point-to-right_blue.png">
      </div>
    </div>
    <div class="row" style="margin-left: 0%;padding: 5px;border-bottom: 1px solid rgba(128, 128, 128, 0.35);">
      <div class="col-md-10" style="text-align: left;color: black;font-size: 18px;padding-left: 5%;font-weight: 300;"> <p>Delete group</p></div>
      <div class="col-md-2"> 
        <img src="images/team/delete-button.png"> 
      </div>
    </div>
</div>