<div class="row" style="margin: 0px">
    <div class="srchBtnDiv" style="margin: 1%;background: #d6d6d6;border: 0px">
        <div class="row">
          <div class="col-md-10 srchTxt" contenteditable="true" style="color: #5f5e5f">
            <p style="margin: 0px;padding: 5px;font-size: 19px">Search through contacts... Type <b>name</b> and press enter or search button
          </div>
          <div class="col-md-2 searchBtnIcon" style="padding-top: 5px"><img src="images/musica-searcher.png"></div>
        </div>
  </div>
  <div>
	   <div style="border-bottom: 1px solid #ebebeb;margin-top: 1px; "></div>
	   <div ng-repeat= "contact in teamContacts | currentUser" ng-click="openChat(contact)" ng-class="{contactNotAccepted: !contact.acceptedInvite}">
		   <div class="row" style="color: black;padding: 0.3% 0;margin: 0px" >
		   	 <div class="col-md-1">
		   	 	<div>
							<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == undefined">
				   	 			<div ng-if="Users.getShowProfilePicture(contact.userId) == true">
				   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
										<img data-ng-src="{{Users.getProfile(contact.userId)}}" style="width: 35px;height: 35px;border-radius: 20px;">
		   	 						</div>
				   	 			</div>

				   	 			<div ng-if="Users.getShowProfilePicture(contact.userId) != true ">
				   	 				<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{Users.getDisplayName(contact.userId)[0]}}
						   	 			<span ng-if="!Users.getDisplayName(contact.userId)">{{Users.getMobileNumber(contact.userId)[0]}}</span>
						   	 		</div>
				   	 			</div>
				   	 		</div>

				   	 		<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == true">
				   	 			<div style="width:35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;">
									<img data-ng-src="{{Users.getProfile(contact.userId)}}" style="width: 35px;height: 35px;border-radius: 20px;">
		   	 					</div>
				   	 		</div>

				   	 		<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].showProfilePicture == false">
				   	 			<div style="width: 35px;height: 35px;background: #0098f8;margin: 2% auto;border-radius: 20px;padding-top: 4%;font-size: 20px">{{Users.getDisplayName(contact.userId)[0]}}
						   	 			<span ng-if="!Users.getDisplayName(contact.userId)">{{Users.getMobileNumber(contact.userId)[0]}}</span>
						   	 		</div>
				   	 		</div>
				   	 	</div>
		   	 </div>
		   	 <div class="col-md-3" style="text-align: left;padding: 0px">
		   	 	<span>{{contact.name}}</span><br>
		   	 	<span>{{contact.email}}</span>
		   	 </div>
		   	 <div class="col-md-5" style="text-align: left;margin-top: 1%">
		   	 	<div>{{contact.mobileNumber}}</div>
		   	 </div>
		   	 <div class="col-md-1" style="margin-top: 0.5%">
			 	<div ng-if="Users.getOnline(contact.userId)">
		   	 		<div ng-if="Users.getStatus(contact.userId)">
		   	 			<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				{{Users.getTeamProfileSettings(contact.userId)[currentTeam].status}}
		   	 				<div style="width: 30px;margin: auto;margin-left:50%;height: 30px;border-radius: 30px;" ng-class="getStatusClass(Users.getTeamProfileSettings(contact.userId)[currentTeam].status)"> </div>

		   	 			</div>
		   	 			<div ng-if="!Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				<div style="width: 30px;margin: auto;margin-left:50%;height: 30px;border-radius: 30px;" ng-class="getStatusClass(Users.getStatus(contact.userId))"> </div>
		   	 			</div>
		   	 		</div>
		   	 		<div ng-if="!Users.getStatus(contact.userId)">
		   	 			<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				<div style="width: 30px;margin: auto;margin-left:50%;height: 30px;border-radius: 30px;" ng-class="getStatusClass(Users.getTeamProfileSettings(contact.userId)[currentTeam].status)"> </div>
		   	 			</div>
		   	 			<div ng-if="!Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				<div style="width: 30px;margin: auto;margin-left:50%;height: 30px;border-radius: 30px;" ng-class="getStatusClass('Available')"> </div>
		   	 			</div>
		   	 		</div>
		   	 	</div>
		   	 	<div ng-if="!Users.getOnline(contact.userId)">
		   	 			<div style="width: 30px;margin: auto;margin-left:50%;height: 30px;border-radius: 30px;" ng-class="getStatusClass('Not At Work')"> </div>
		   	 	</div>


		   	 </div>
		   	 <div class="col-md-2" style="margin-top: 1%;text-align: left;padding: 0px;font-size: 16px">
		   	 	<div ng-if="Users.getOnline(contact.userId)">
		   	 		<div ng-if="Users.getStatus(contact.userId)">
		   	 			<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				{{Users.getTeamProfileSettings(contact.userId)[currentTeam].status}}
		   	 			</div>
		   	 			<div ng-if="!Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				{{Users.getStatus(contact.userId)}}
		   	 			</div>
		   	 		</div>
		   	 		<div ng-if="!Users.getStatus(contact.userId)">
		   	 			<div ng-if="Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				{{Users.getTeamProfileSettings(contact.userId)[currentTeam].status}}
		   	 			</div>
		   	 			<div ng-if="!Users.getTeamProfileSettings(contact.userId)[currentTeam].status">
		   	 				Available
		   	 			</div>
		   	 		</div>
		   	 	</div>
		   	 	<div ng-if="!Users.getOnline(contact.userId)">
		   	 			Not At Work
		   	 	</div>
		   	 </div>

		   	
		   </div>
		   <div style="border-bottom: 1px solid #ebebeb;"></div>
	   </div>
	</div>
</div>