<div>
  <div class="row" style="color: white;display: flex;margin: 0px">
    <div class="col-md-3" style="background-color: #0a5e97;padding: 0px;" ng-hide="showsmallMenu">
      <div class="row" style="margin: 0px">
        <div class="col-md-3 navbar navbar-fixed-left profilenav" style="background: #0e6dab;color: white;padding: 0px;overflow-y: scroll;">
          <ul class="nav navbar-nav" style="width: 100%;font-size: 15px;padding: 0px;margin-bottom: 20%;">
           <li class="row" style="background: #0a5e97;padding: 2%;" >
            <div  class="col-md-offset-4 col-md-4"> 
               <div ng-if="Users.getProfile(loggedinuser.id)" style="margin: 0% auto;width: 100px;height: 100px;border-radius: 60px;background: #0a5e97;    font-size: 47px;text-align: center;">
                  <img data-ng-src="{{Users.getProfile(loggedinuser.id)}}" style="width: 100px;height: 100px;border-radius: 50px;">
               </div>
               <div  ng-if="!Users.getProfile(loggedinuser.id)" style="margin: 0% auto;width: 100px;height: 100px;border: 2px solid white;border-radius: 60px;background: #0a5e97;    font-size: 47px;padding: 17%;text-align: center;">
                <!-- <img style="width: 74%;margin: 8% 20%;" src="images/Keito Logo_trans_gray (1).png"> -->
                
                <span > {{loggedinuser.name[0]}}</span>
                
              </div> 
            </div>
            <div class="col-md-4" style="text-align: right;">
              <img ng-click="changeMenuFormat();" style="width: 40%;" src="images/Icons-Product/minimize.png">
            </div>
           </li>
           <li style="background: #0a5e97;padding-bottom: 1%;">
             <div style="color:white;background: #0a5e97;text-align: center;">
              <p style="margin: 0px;">{{loggedinuser.email}}<img src="images/profile/warning.png" ng-if="!loggedinuser.isEmailVerified" style="width: 11%;padding: 0% 2%;"></p>
              <p style="margin: 0px;">{{loggedinuser.mobileNumber}}</p>
            </div>
           </li>
           <li ng-click ="setViewItem('kbox');showteams=false;viewItem1=false;" style="padding: 0px 15px;" ng-class="{statusStyle: viewItem == 'kbox'}">
              <a style="color: white;padding: 2% 0px" ui-sref="profile.chats">
                <div class="row" style="margin: 0px">
                  <div class="col-md-8" style="padding: 0px;"><img style="width: 13%;margin-right: 5%;vertical-align: middle;" src="images/team/kbox.png">  KBox</div>
                  <div class="col-md-4" style="text-align: right;">
                    <div style="display: inline-block;padding: 2px 4px;border-radius: 30px;background: red;min-width: 20px;text-align: center;" ng-if="unreadCount> 0 ">{{unreadCount}}</div>
                  </div>
                 </div>
              </a>
           </li>
           <li ng-click ="setViewItem('createteam');showteams=false;viewItem1=false;" style="padding: 0px 15px;" ng-class="{statusStyle: viewItem == 'createteam'}">
              <a ui-sref="profile.createteam" style="color: white;padding: 2% 0px"> <img style="width: 8%;margin-right: 5%;vertical-align: middle;" src="images/team/createteam.png">Manage Teams</a></li>
           <li ng-click ="setTeamsHighlight()" style="padding: 0px 15px;" ng-class="{statusStyle: viewItem1 == true}">
              <a style="color: white;padding: 2% 0px; cursor: pointer;" > <img style="width: 8%;margin-right: 5%;vertical-align: middle;" src="images/team/teams.png">        My Teams
                <img ng-if="showteams" style="width: 50%;margin-right: 5%;vertical-align: middle;padding-left: 40%;" src="images/team/dwnarrow.png">
                <img ng-if="!showteams" style="width: 50%;margin-right: 5%;vertical-align: middle;padding-left: 40%;" src="images/team/rightarrow.png">
              </a>
           </li>
           <li style="padding: 2% 9%;background:#0587d9;cursor: pointer;" ng-click ="setViewItem('teams');setCurrentTeam(team.id);" ng-repeat= "team in teamsForProfile" ng-class="{statusStyleTeam: viewItemTeam == team.id }" ng-if="showteams && team.isJoined">
             <a ui-sref="profile.productchats" style="color: white;padding: 2% 0px;font-size: 16px;background:transparent;cursor: pointer;" >  
              <div class="row">
                <div class="col-md-8" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{team.name}}</div>
                  <div class="col-md-4" style="text-align: right;">
                    <div unread-forteam team="{{team.id}}"></div>
                  </div>
              </div>
             </a>
           </li>


          <!-- <li ng-click ="setViewItem('settings');showteams=false" style="padding: 0px 15px;" ng-class="{statusStyle: viewItem == 'settings'}">
              <a style="color: white;padding: 2% 0px"> <img style="width: 10%;margin-right: 5%;vertical-align: middle;" src="images/team/settings (1).png">     Settings</a></li> -->
          </ul>
          <div class="row">
            <div class="col-md-12" style="width: 25%;position: fixed;bottom: 2px;left: 0px;height: 45px;background: #0a5e97;color: #8bb2ce;">
              <div class="row" style="padding: 2% 0px">
                <div class="col-md-11" style="width: 90%;padding-top: 2%;">copyright © 2016 keito tech private ltd</div>
                <div class="col-md-1 dropdown">
                  <div style="width: 7px;border-radius: 4px;height: 7px;background: white;margin: 3px 0;"></div>
                  <div style="width: 7px;border-radius: 4px;height: 7px;background: white;margin: 3px 0;"></div>
                  <div style="width: 7px;border-radius: 4px;height: 7px;background: white;margin: 3px 0;"></div>
                  <div class="dropdown-content">
                    <a>Terms and Condition</a>
                    <a>Privacy Policy</a>
                    <a>Sign Out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      
    </div>
    <div class="col-md-1" style="background-color: #0a5e97;padding: 0px;" ng-show="showsmallMenu">
      <div class="row" style="margin: 0px">
        <div class="col-md-1 navbar navbar-fixed-left profilenav" style="background: #0e6dab;color: white;padding: 0px;overflow: auto;">
          <ul class="nav navbar-nav" style="width: 100%;font-size: 15px;padding: 0px;margin-bottom: 20%;">
            <li style="background: #0a5e97;padding: 2%;" >
             <div  style="text-align: center;margin: 58% auto;">
               <img ng-click="changeMenuFormat();" style="width: 40%;" src="images/Icons-Product/maximize-size-option.png">
             </div> 
            </li>

           <li style="padding: 2% 1px;text-align: center;" ng-click ="setViewItem('kbox');showteams=false;viewItem1=false;"  ng-class="{statusStyle: viewItem == 'kbox'}">
              <a style="color: white;padding: 2% 0px" ui-sref="profile.chats"><img src="images/team/kbox.png"> </a>
            </li>
            <li style="padding: 2% 1px;text-align: center;" ng-click ="setViewItem('createteam');showteams=false;viewItem1=false;" ng-class="{statusStyle: viewItem == 'createteam'}">
              <a style="color: white;padding: 2% 0px" ui-sref="profile.createteam"><img src="images/team/createteam.png"></a>
            </li>
            <li style="padding: 2% 1px;text-align: center;" ng-click ="setViewItem('teams');setCurrentTeam(team.id);changeMenuFormat();" ng-class="{statusStyle: viewItem == 'teams'}">
              <a style="color: white;padding: 2% 0px"><img src="images/team/teams.png"></a>
            </li>
            <li style="padding: 2% 1px;text-align: center;" ng-click ="setViewItem('settings');showteams=false" ng-class="{statusStyle: viewItem == 'settings'}">
              <a style="color: white;padding: 2% 0px"><img src="images/team/settings (1).png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div  style="padding: 0px" ng-class="{'col-md-9': !showsmallMenu, 'col-md-11': showsmallMenu}">
      <!--<div class="row" style="padding-left: 3%;width: 100%;position: relative;background: #0e6dab;margin: 0px">
          <div class="col-md-4" style="text-align: left;padding-right: 0px;padding: 10px 0px 0px 0px;">
            <div class="row">
              <div class="col-md-8" style="text-align: left;"><p>Total no. of mails sent </p> </div> 
              <div class="col-md-4" style="text-align: right;"><span>: 22</span> </div>
            </div>
            <div class="row">
              <div class="col-md-8" style="text-align: left;"><p>Total no. of active discussions </p> </div> 
              <div class="col-md-4" style="text-align: right;"><span>: 38</span> </div>
            </div>
            <div class="row">
              <div class="col-md-8" style="text-align: left;"><p>Total no. of started discussions </p> </div> 
              <div class="col-md-4" style="text-align: right;"><span>: 12</span> </div>
            </div>

          </div>
          <div class="col-md-8" ng-if="viewItem != 'createteam'">
            <div style="padding-top: 2%;color: white" ng-if="viewItem == 'kbox'" > 
               <input type="text" name="searchTeam" value="Search through teams" 
              style="background: transparent;border: 0px;width: 87%;border-bottom: 2px solid white;font-size: 19px;vertical-align: text-bottom;"> 
              <i class="glyphicon glyphicon-search" style="font-size: 25px"></i>
            </div>
          </div>
          <div class="col-md-7" ng-if="viewItem == 'createteam'" style="text-align: right;">
            <div style="margin: 10px 5% 0px 0px;"> <p><img src="images/team/teams.png"></p></div>
            <div> View all teams</div>
          </div>
          <div style="position: absolute;bottom: 0px;right: 30px" ng-if="viewItem != 'createteam'"><p>KBox : Priority K-Box | By Latest</p></div>
      </div>-->
      <div style="border-bottom: 1px solid rgba(20, 151, 236, 0.51)"></div>
      
      <div ng-if="viewItem == 'kbox'" style="background: #0e6dab;">
        <ul class="nav nav-tabs" style="padding: 0px 0px 3px 0px">
          <li class="col-md-4" ng-class="tab1" ng-click="activeTab(1)" style="padding: 0px;font-size: 21px">
            <a href="#/profile/chats">
              <img ng-src="{{imagetab1}}" width="11%"> <span>My Chats</span> 
            </a>
          </li>
          <li class="col-md-4" ng-class="tab2" ng-click="activeTab(2)" style="padding: 0px;font-size: 21px">
            <a href="#/profile/discussions" > 
              <img ng-src={{imagetab2}} width="11%"> <span>Discussions </span></a>
          </li>
          <li class="col-md-4" ng-class="tab3" ng-click="activeTab(3)" style="padding: 0px;font-size: 21px">
            <a href="#/profile/myprofile" >
              <img ng-src={{imagetab3}} width="11%"> <span>Profile</span></a>
          </li>
        </ul>
      </div>

      <div ng-if="viewItem == 'teams'" style="background: #0e6dab;">
        <ul class="nav nav-tabs" style="padding: 0px 0px 3px 0px">
          <li class="col-md-3" ng-class="{active: producttabItem == 'Chats'}" 
              ng-click="producttab('Chats')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productchats">
              <img ng-src="{{producttabItem == 'Chats' && 'images/signUp/chat-selected.png' || 'images/signUp/chat-notselected.png'}}" width="11%"> 
              <span>Chats<sup ng-if="teamUnread >0 " style="margin: 0px 2px;background: red;border-radius: 30px;padding: 0px 6px;font-size: 17px;">{{teamUnread}}</sup></span> 
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Contacts'}" 
              ng-click="producttab('Contacts')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productcontacts">
              <img ng-src="{{producttabItem == 'Contacts' && 'images/signUp/contacts-selected.png' || 'images/signUp/contacts-notSel.png'}}" width="11%">
              <span>Contacts</span> 
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Discussions'}" 
              ng-click="producttab('Discussions')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productdiscussions" > 
              <img ng-src="{{producttabItem == 'Discussions' && 'images/signUp/others-chat-selected.png' || 'images/signUp/other-chat-not selected.png'}}" 
                    width="11%"> 
              <span>Discussions<sup ng-if="teamUnreadDiscussions >0 " style="margin: 0px 2px;background: red;border-radius: 30px;padding: 0px 6px;font-size: 17px;">{{teamUnreadDiscussions}}</sup> </span>
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Profile'}" ng-click="producttab('Profile')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productmyprofile" >
              <img ng-src="{{producttabItem == 'Profile' && 'images/signUp/user-profile-selected.png' || 'images/signUp/user-profile-notselected.png'}}" 
                  width="11%"> 
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>

      <div ng-if="viewItem == 'createteam'" style="background: #0e6dab;">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px"> 
          <span> Manage Teams</span>
          <img style="width: 2.7%;vertical-align: baseline;margin-left: 2%" src="images/team/createteam.png">
        </div>
      </div>

      <div ng-if="viewItem == 'createDiscussion'" style="background: #0e6dab;">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" ng-click="backToDiscussion();"> 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;"src="images/signUp/arrow-pointing-to-left.png">
          <span> Create discussion</span>
        </div>
      </div>

      <div ng-if="viewItem == 'kboxCreateDiscussion'" style="background: #0e6dab;">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" ng-click="backToKboxDiscussion();"> 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;"src="images/signUp/arrow-pointing-to-left.png">
          <span> Create discussion</span>
        </div>
      </div>

      <div ng-if="viewItem == 'createChats'" style="background: #0e6dab;">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" ng-click="backToChats();"> 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;" src="images/signUp/arrow-pointing-to-left.png">
          <span> Start Chat</span>
        </div>
      </div>

      <div ng-if="viewItem == 'kboxCreateChats'" style="background: #0e6dab;">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" ng-click="backToKboxChats();"> 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;" src="images/signUp/arrow-pointing-to-left.png">
          <span> Start Chat</span>
        </div>
      </div>

      <div ng-if="viewItem == 'Chat Settings'" style="background: #0e6dab;" ng-click="hideChatSetting();">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" > 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;" src="images/signUp/arrow-pointing-to-left.png">
          <span>Chat Settings</span>
        </div>
      </div>

      <div ng-if="viewItem == 'Discussion Settings'" style="background: #0e6dab;" ng-click="hideDiscussionSetting();">
        <div style="padding: 0.8%;font-weight: bold;font-size: 30px" > 
          <img style="width: 2.7%;vertical-align: middle;margin-left: 2%;margin-bottom: 2px;" src="images/signUp/arrow-pointing-to-left.png">
          <span>Discussion Settings</span>
        </div>
      </div>


      <div ng-if="viewItem == 'settings'" style="background: #0e6dab;">
        <ul class="nav nav-tabs" style="padding: 0px 0px 3px 0px">
          <li class="col-md-3" ng-class="{active: producttabItem == 'Chats'}" 
              ng-click="producttab('Chats')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productchats">
              <img ng-src="{{producttabItem == 'Chats' && 'images/signUp/chat-selected.png' || 'images/signUp/chat-notselected.png'}}" width="11%"> 
              <span>Chats</span> 
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Contacts'}" 
              ng-click="producttab('Contacts')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productcontacts">
              <img ng-src="{{producttabItem == 'Contacts' && 'images/signUp/contacts-selected.png' || 'images/signUp/contacts-notSel.png'}}" width="11%">
              <span>Contacts</span> 
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Discussions'}" 
              ng-click="producttab('Discussions')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productdiscussions" > 
              <img ng-src="{{producttabItem == 'Discussions' && 'images/signUp/others-chat-selected.png' || 'images/signUp/other-chat-not selected.png'}}" 
                    width="11%"> 
              <span>Discussions </span>
            </a>
          </li>
          <li class="col-md-3" ng-class="{active: producttabItem == 'Profile'}" ng-click="producttab('Profile')" style="padding: 0px;font-size: 21px">
            <a href="#/profile/productmyprofile" >
              <img ng-src="{{producttabItem == 'Profile' && 'images/signUp/user-profile-selected.png' || 'images/signUp/user-profile-notselected.png'}}" 
                  width="11%"> 
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>

      <div ui-view style="text-align: center;"></div>
  </div>
  </div>
</div>
  
<div> 
  

  <!--<div style="position: absolute;bottom: 20px;right: 25px" ng-click="openModal()" ng-if="viewItem == 'kbox' || 'teams'">
    <img src="images/signUp/chat-selected.png" ng-show="currentProfile == 'chats' || currentProfile=='discussions'" style="width: 45px;">
  </div> -->

  <!--<div style="position: absolute;bottom: 15px;right: 10px" ng-click="openModal()" ng-if="viewItem != 'createteam'">
    <img src="images/signUp/chat-selected.png" style="width: 75%">
  </div>-->

