<div style="background-color: #64baf2">
  <div style="font-size: 21px;font-weight: bold;color: white;padding: 3%">
    <div ui-sref="home" >
      <img src="images/signUp/arrow-pointing-to-left.png" width="3%" style="margin-right: 2%">
      <span>Home</span>
    </div>
  </div>
  <div style="font-size: 5vw;color: white;text-align: center;font-weight: bold;padding: 0 0 5%;">
    References
  </div>
</div>