<div style="background-color: #0a5e97">
  <div style="font-size: 21px;font-weight: bold;color: white;padding: 3%">
    <div ui-sref="home" style="cursor: pointer;">
     <!-- <a href="#"><img src="images/Keito Logo_whitebg_blue.png" style="width:3%;"></a> -->
      <img src="images/signUp/arrow-pointing-to-left.png" width="3%" style="margin-right: 2%">
      <span>Home</span>
    </div>
  </div>
  <div style="font-size: 5vw;color: white;text-align: center;font-weight: bold;padding: 0 0 5%;">
    Security
  </div>
</div>

<div class="row" style="margin: 4% 5%;">
	<div class="col-md-11" >
		<div class="row">
			<div style="font-size: 23px;font-weight: bold;">Security at Keito</div><br>
			<div style="font-size: 21px;">
				<p>We take security seriously here at Keito. And for good reason: every person and organization using our service expects their data to be secure and confidential. We understand how important the responsibility of safeguarding this data is to our customers and work to maintain that trust. For more information on our commitment to providing secure services, please see our <span style="color: #266fa3;">Security Practices</span>, <span style="color: #266fa3;">Privacy Policy</span>, and <span style="color: #266fa3;">Terms of Service</span>. <p>
				<p>If you believe you have found a security vulnerability in Keito, please get in touch with our security team.</p>
			</div>
		</div>

		<div class="row" style="margin-top: 10%">
			<div style="font-size: 23px;font-weight: bold;">Security Practices</div><br>
			<div style="font-size: 21px;">
				<p>We are tied up with Google Cloud Platform. See the white papers below to know more about security :<p>
				<p style="color: #266fa3;">
					<a href="https://cloud.google.com/security/whitepaper">https://cloud.google.com/security/whitepaper</a><br> 
					<a href="https://cloud.google.com/solutions/disaster-recovery-cookbook">https://cloud.google.com/solutions/disaster-recovery-cookbook </a> <br>
					<a href="https://cloud.google.com/compute/sla">https://cloud.google.com/compute/sla</a> <br>
					<a href="https://cloud.google.com/security/compliance">https://cloud.google.com/security/compliance</a>
				</p>
			</div>
		</div>
	</div>
</div>
