<div style="font-size:21px">
  <div style="font-size: 23px;font-weight: bold;margin: 5px;color: white;position: absolute;top: 0;left: 15px;">
    <a ui-sref="signIn" style="text-decoration: none;"><img style="width:25%" src="images/signUp/arrow-pointing-to-left.png"><span style="margin: 15px;color: white">Back</span></a>
  </div>
  <div style="text-align: center;margin: 5px">
    <img style="width: 12%" src="images/Keito Logo_whitebg_blue.png">
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div style="margin: 4%;background: white;border-radius: 18px;">
      <div style="text-align: center;border-bottom:2px solid #1497EC"> <p style="padding: 10px 0px;margin: 0px">Verify OTP</p> </div>
      <div class="row">
        <div class="col-md-5" style="padding-right: 0px" ><p style="padding: 5px;margin: 0px;">One Time Password</p></div>
        <div class="col-md-7">
          <input style="width: 98%;padding: 4px;margin: 3px;margin-left: 0px;background-color: #ebebeb;border: 0px;" type="text" name="otp" ng-model="otp">
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 2px solid #ebebeb;margin: 0px 20px">
      </div>
      <div style="text-align: center;text-align: center;padding-top: 5px;text-decoration: underline;color: black;" ng-click="resend()"> <p>Resend OTP</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div style="margin: 0px 5%;"> 
        <a ng-click="verify()"><button style="width: 100%;background: #6ed7fb;border-radius: 15px;border: 0px;font-size: 22px;padding: 10px;color: white;" >VERIFY</button></a>
      </div>
    </div>
  </div>

  <div class="row" style="width:100%;position:absolute;bottom:10px;">
    <div class="col-md-offset-4 col-md-4" style="padding-right: 0px"> 
       <div style="text-align: center;border: 1px solid white;margin-left: 4%"><a href="#signUp" style="text-decoration: none;"><p style="margin:5px;font-size: 22px;color: #b4ddf7;">I don’t have a keito account</p></a></div>
    </div>
  </div>
</div>


