<div style="font-size:21px">
  <div class="homeBtn">
    <a href="#home" ><img src="images/signUp/arrow-pointing-to-left.png"><span>Home</span></a>
  </div>
  <div class="signUpKeito">
    <img src="images/Keito Logo_whitebg_blue.png">
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="loginDiv">
      <div class="loginDivHeader"> 
        <p>Access your dashboard </p> 
      </div>
      
      <div class="row">
        <div class="col-md-5 loginLabel"> <p>Name<sup style="color: red">*</sup></p> </div>
        <div class="col-md-7 loginText">
          <input type="text" name="name" ng-model="name">
        </div>
      </div>
      <div class="row loginBorder">
        <div></div>
      </div>
      <div class="row">
        <div class="col-md-5 loginLabel"><p>Gender<sup style="color: red">*</sup></p></div>
        <div class="col-md-7 loginText">
          <select name="gender" ng-model="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </div>
      </div>

      <div class="row loginBorder">
        <div> </div>
      </div>
      <div class="row">
        <div class="col-md-5 loginLabel"><p>Date of Birth<sup style="color: red">*</sup></p></div>
        <div class="col-md-7 loginText">
          <p class="input-group" style="width: 98%;margin: 0px">
          <input style="margin: 3px;margin-left: 0px;height: 37px;border-radius: 0px;font-size: inherit;" type="text" class="form-control" uib-datepicker-popup ng-model="dob" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-focus="open2()" />
          <span class="input-group-btn">
            <button style="height: 37px" type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </div>
      </div>

      <div class="row loginBorder">
        <div> </div>
      </div>
      <div class="row">
        <div class="col-md-5 loginLabel"><p>Country<sup style="color: red">*</sup></p></div>
        <div class="col-md-7 loginText">
          <select name="Country" ng-model="country">
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="uk">UK</option>
          </select>
        </div>
       <!-- <div class="col-md-7 loginText">
          <input type="text" name="Country" ng-model="country">
        </div> -->
      </div>

      <div class="row loginBorder">
        <div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-5 loginLabel"><p>Mobile Number<sup style="color: red">*</sup></p></div>
        <div class="col-md-7 loginText">
          <input type="Number" name="mobile" ng-model="mobile">
        </div>
      </div>
      
       <div class="row loginBorder">
        <div></div>
      </div>

      <div class="row">
        <div class="col-md-5 loginLabel"> <p>Communication Email<sup style="color: red">*</sup></p> </div>
        <div class="col-md-7 loginText">
          <input type="text" name="Email" ng-model="email">
        </div>
      </div>
     

    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 signUpBtn">
      <div> 
        <button ng-click="signUp()">JOIN NOW</button>
      </div>
    </div>
  </div>

  <div class="row abtKeitoAcnt">
    <div class="col-md-offset-4 col-md-4" style="padding-right: 0px"> 
       <div class="insidekeitoAcnt">
          <a href="#login">
            <p>I have a keito account</p>
          </a>
       </div>
    </div>
  </div>
</div>


