<div style="font-size:21px">
  <div style="font-size: 23px;font-weight: bold;margin: 5px;color: white;position: absolute;top: 0;left: 15px;">
    <a href="#home" style="text-decoration: none;"><img style="width:25%" src="images/signUp/arrow-pointing-to-left.png"><span style="margin: 15px;color: white">Home</span></a>
  </div>
  <div style="text-align: center;margin: 5px">
    <img style="width: 12%" src="images/Keito Logo_whitebg_blue.png">
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div style="margin: 3%;background: white;border-radius: 18px;">
      <div style="text-align: center;border-bottom:2px solid #1497EC"> <p style="padding: 10px 0px;margin: 0px">Access your dashboard </p> </div>
      <div class="row">
        <div class="col-md-5" style="padding-right: 0px" ><p style="padding: 5px;margin: 0px;">Email or Mobile Number</p></div>
        <div class="col-md-7">
          <input style="width: 98%;padding: 4px;margin: 3px;margin-left: 0px;background-color: #ebebeb;border: 0px;" type="text" name="Email" ng-model="email">
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 2px solid #ebebeb;margin: 0px 20px">
      </div>
      </div>
      <div class="row">
        <div class="col-md-5"><p style="padding: 5px;margin: 0px;">Password</p></div>
        <div class="col-md-7">
          <input style="width: 98%;padding: 4px;margin: 3px;margin-left: 0px;background-color: #ebebeb;border: 0px;" type="password" name="Password" ng-model="password">
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 2px solid #ebebeb;margin: 0px 20px">
      </div>
      <div style="text-align: center;text-align: center;padding-top: 5px;text-decoration: underline;color: black;cursor: pointer;" ng-click="sendOtp()"> <p>Login using OTP</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div style="margin: 0px 4%;"> 
        <a ng-click="pleaseLogin()"><button style="width: 100%;background: #6ed7fb;border-radius: 15px;border: 0px;font-size: 22px;padding: 10px;color: white;">LOGIN</button></a>
      </div>
    </div>
  </div>
  <div style="text-align: center;color: #1497EC;text-decoration: underline;padding: 1% 0;">
    <p ng-click="forgotPassword()">Forgot Password</p>
  </div>

  <div class="row" style="width:100%;position:absolute;bottom:10px;">
    <div class="col-md-offset-4 col-md-4" style="padding-right: 0px"> 
       <div style="text-align: center;border: 1px solid white;margin-left: 4%"><a href="#joinNow" style="text-decoration: none;"><p style="margin:5px;font-size: 22px;color: #b4ddf7;">I don’t have a keito account</p></a></div>
    </div>
  </div>
</div>


