<div  class="indexPage">
  <div class="supPage">
  <nav class="navbar navbar-default navbar-fixed-top mainClass">
  <div class="container-fluid menuMargin">
    <div class="row">
    <div class="navbar-header hidden-sm  col-lg-4  col-md-4 navImage">
      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#burger" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="keito hidden-xs"><a href="#"><img style="width: 15%;" src="images/Keito Logo_whitebg_blue.png"></a></div>
    </div>

    <div class="collapse navbar-collapse" id="burger">
       <ul class="nav navbar-nav">
              <li><a class="hidden-sm hidden-md hidden-lg aStyles" href="#">Home</a></li>
              <li><a class="aStyles"  href="#product">Product</a></li>
              <li><a class="aStyles pricingColor" href="#pricing">Pricing</a></li>
              <li><a class="aStyles" ng-click="subscribe()" style="cursor: pointer;">Industries</a></li>  
              <li><a class="aStyles" style="font-weight: bold;"  href="#support">FAQ</a></li>
              <li><a class="aStyles" href="#contactUs">Contact us</a></li>
              <li><a class="aStyles signIn" ng-click="subscribe()" style="cursor: pointer;">Sign In</a></li> 
              <li><a class="visible-xs  aStyles " ng-click="showMoreMenuIcons ='true'"  ng-hide="showMoreMenuIcons" 
                      style="cursor: pointer;">Show More...</a></li>
              <li><a class="visible-xs aStyles" ui-sref="ourTeam"  ng-show="showMoreMenuIcons"  style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Our Team</a></li>
              <li><a class="visible-xs  aStyles" ui-sref="blog" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Blog</a></li>
              <li><a class="visible-xs  aStyles pricingColor" ng-show="showMoreMenuIcons" ui-sref="termsandconditions" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Terms and Conditions</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="security" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Security</a></li> 
              <li><a class="visible-xs  aStyles" ng-show="showMoreMenuIcons" ui-sref="privacypolicy" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);">Privacy Policy</a></li>
              <li><a class="visible-xs  aStyles" ng-click="showMoreMenuIcons =false" ng-show="showMoreMenuIcons" style="cursor:pointer;color: rgba(255, 255, 255, 0.5);" >Show Less</a></li> 
            </ul>

    </div>
  </div>
  </div>
</nav>

    <div class="supportHeader">
      <span style="color: black">Happy to help you.</span>
    </div>
    <div class="sprtBtns">
      <button class="watchTourBtn" ng-click="subscribe()">Blog </button>
      <button style="margin-left: 20px" class="watchTourBtn" ng-click="subscribe()">FAQ</button>
    </div>
      
      

  </div>

  

  <div class="row">
    <div class=" col-md-offset-1 col-md-10 srchBtnDiv">
        <div class="row">
          <div class="col-md-10 srchTxt contenteditableDiv" contenteditable="true"  ng-model="person.name"  placeholder="Search regarding keito...how to login, authentication, profile settings, profile management, favorites etc..">
            
          </div>
          <div class="col-md-2 searchBtnIcon"><img src="images/musica-searcher.png"></div>
        </div>
  </div>
  </div>

  <div class="request" ng-hide=true>
    <p>if not available. create request here.</p>
  </div>

  <div class="row" ng-hide=true>
    <div class="col-md-offset-4 col-md-4 reqDes">
      <div style="min-height: 150px" contenteditable="true"><p>Description of the issue or request. With use case and screenshot if any.</p></div>
      <div class="atchImage" ><img src="images/attachment.png"></div>
    </div>
  </div>

  <div class="row emailDiv" ng-hide=true>
    <div class="col-md-offset-4 col-md-4" >
      <input value="Email Address (mandatory)" >
    </div>
  </div>


  <div class="reqBtn" ng-hide=true>
      <button >Create Request</button>
    </div>
  </div>