<div>
	<div style="background-color: #0a5e97">
	  <div style="font-size: 21px;font-weight: bold;color: white;padding: 3%">
	    <div ui-sref="home" style="cursor: pointer;">
	     <!--  <a href="#"><img src="images/Keito Logo_whitebg_blue.png" style="width:3%;"></a> -->
	      <img src="images/signUp/arrow-pointing-to-left.png" width="3%" style="margin-right: 2%">
	      <span>Home</span>
	    </div>
	  </div>
	  <div style="font-size: 5vw;color: white;text-align: center;font-weight: bold;padding: 0 0 5%;">
	    Email Verified
	  </div>
	</div>

	<div style="padding-top: 5%;text-align:center;padding-bottom: 2%;font-size: 22px;">
		<p>Your email have been verified</p>
	</div>

	<div style="text-align:center;font-size: 17px;">
		<p>A mail have been sent to your account with generated apssword</p>
	</div>	

</div>