.deep-holder{margin-bottom:0}
.tranfom, .chat-platForm{-moz-transition:0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;-webkit-transition:0.3s ease-in-out;}
.ket-chat-single, .ket-al-center{padding-left:0 !important;}
.ket-chat-single, .ket-al-center, .ket-chat-single p{padding-right:0 !important;}
.ket-chat-aco{border-bottom:1px solid #ccc; padding:0 50px !important}
.ket-chat-aco h5{cursor:pointer; padding:14px 0 10px !important; font-weight:normal;}
.ket-chat-aco label{cursor:pointer; padding:18px 0 !important; float:right}
.ket-chat-aco label input{float:right}
.ket-chat-aco  .switch-panal-inner{width:auto; float:right;}
.texas-row .panel-switch-btn{right:0}
.ket-chat-aco h5 i, .ket-chat-aco h5 b{float:right}
.ket-chat{}
.ket-al-center{display:flex; align-items:center;}
.ket-chat-single{ display:none;  margin-bottom:10px; padding-bottom:10px !important; border-bottom:1px solid #ccc; }
.ket-chat-single p{cursor:pointer}
.ket-chat-single p i{float:right}
.ket-chat-single:last-child{border-bottom:none;   margin-bottom:0px !important;}
.ket-chat-inner{display:none}
.ket-chat-pro{float:left; overflow:hidden; border-radius:50%}
.ket-chat-text{border-top:1px solid #ccc; margin-top:10px; padding-top:10px !important; display:none}

/*.hight-ctrl ................................................................................................... */
.hight-ctrl{width:100%; no-repeat scroll center center;}
.img-adj{overflow:hidden; background-size:cover !important; background-position:center center !important}
.img-adj img{width:100%; opacity:0; float:left; padding:0; margin:0}
/*.hight-ctrl ................................................................................................... */
/*keto-group*/
.keto-group{}
.keto-group-group-message .hight-ctrl{background:none !important}
.keto-group-users{height:100%; border-right:1px solid #ccc;position: relative;}
.keto-group-users-holder{height:100%; overflow:hidden}
.keto-group-users-holder ul {padding-top:5px !important; }
.keto-group-users-holder ul li{border-bottom:1px solid #ccc; padding-bottom:5px !important; padding-top:5px !important; position:relative; display:flex; align-items:center}
.keto-group-users-holder ul li:last-child{border-bottom:0}
.chat-active{background:#d5d5d5}
.new-chat-active{font-weight:bold}
.keto-group-users-pro{}
.keto-group-users-pro .hight-ctrl{overflow:hidden; border-radius:50%}
.keto-group-users .time-name{padding-right:40px !important; position:relative ;padding-top:5px; padding-bottom:5px }
.keto-group-users .time-name p{font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin-bottom:0}
.last-seen{position:absolute;  right:0; height:100%; min-width:20px; font-size:11px;align-items:center;  padding:0 10px;}
.star-like{ height:100%; display:flex; align-items:center; padding:0 !important; }
.star-like{color:#cf5b4d; cursor:pointer}
.star-like i{width:100%; text-align:center; font-size:35px !important}
.chat-sm-head{font-size:11px !important}

.keto-group-users-holder .search-user input{border:none !important; background:#d5d5d5; border-radius:50px; margin-bottom:0; color:#242424 !important; padding:10px 20px;}
.chat-platForm{background:#e9e8e9}
.chat-platForm-active{left:0 !important}
.chat-plat-top{display:flex; align-items:center; margin:10px 0}
.chat-plat-top-pro{width:40px; height:40px; background:#4d8afd; color:#242424 ; border-radius:50%; overflow:hidden}
.chat-name-time{}
.chat-name-time p, .chat-name-time span{padding:0; margin:0; font-size:13px}
.chat-name-time span{font-size:11px}
.online-offline{}
.online{color:#25df81}
.user-ctrl{background:#fff;}
.user-ctrl ul{margin-bottom:0}
.user-ctrl ul li{width:20%; float:left; padding:0; margin:0; text-align:center; padding:10px;}
.user-chat{ position:relative; font-size:14px; overflow:hidden;   overflow-y:scroll; }
.user-chat-all-holder{/*position:absolute;*/ bottom:0; left:0; padding:10px 15px !important;  }
.other-chat{padding-top:10px !important}
.other-chat-pro{width:30px; height:30px; float:left; padding:0; margin:0; overflow:hidden; border-radius:50%;}
.other-chat-content{background:#75acf3; border-radius:5px; position:relative; min-height:30px !important; padding:10px !important; max-width:91.6667%}
.other-chat-content span, .other-chat-content span i{float:left; padding:0; margin:0;}
.other-chat-content span{-moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); -webkit-transform:rotate(180deg); position:absolute; top:0; left:-15px; color:#75acf3; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; -webkit-user-select:none; }
.my-chat{padding-right:15px !important;}
.my-chat .other-chat-content{float:right !important; background:#fff !important; }
.my-chat  .other-chat-content span{right:-15px !important;}
.my-type-chat-ctrl{background:#fff}
.my-type-chat-ctrl textarea{resize:none; height:50px; border:none; padding:10px !important; font-size:13px}
.my-type-chat-textarea{}
.my-type-chat-btn button{height:50px; border:none; background:none; color:#ccc}
.my-type-chat-btn button:hover, .my-type-chat-btn button:focus{color:#242424 }

.my-type-chat-ico{text-align:center}
.texas-row .ket-chat-aco h5 i, .texas-row .ket-chat-aco h5 b{color:#42a5f5}
.texas-row .ket-chat-aco h5 span{font-size:15px; color:#ababab; font-weight:normal; padding-left:20px}
.group-chat .other-chat-content{background:#44b7ba }
.group-chat  .other-chat-content span{color:#44b7ba}

@media only screen and (max-width: 1023px) {
	
	}
	

@media only screen and (max-width: 960px) {
	
	.deep-holder{position:relative; background:#ccc}
	.keto-group-users{background:#fff}
	.other-chat{ padding-bottom:5px !important}
	.chat-platForm {position:absolute; top:0; left:0;  height:100%;}
	.other-chat-content{max-width:83.3333%}
	.keto-group{position:absolute; top:0; left:0}
	.my-type-chat-btn button, .my-type-chat-ctrl textarea{height:50px; margin-bottom:10px !important}
	.my-type-chat-btn button{background:#fff}
	.my-type-chat-ctrl{padding:10px 0 !important}
	.ket-chat-aco{padding:0 10px}
	}
@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 479px) {} 














